@model Vitae.Areas.Manage.Pages.Courses.IndexModel

<div id="panel">
    <div class="card">
        <partial name="_CardHeader" model="@(new Tuple<BasePageModel, string, string, string>(Model, " fas fa-book-reader", SharedResource.Courses, $"{SharedResource.CoursesDescription} {SharedResource.ChronologicalDesc}"))" />

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Courses"></label>
                    <div>
                        <button asp-page-handler="AddCourse" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-success cancel font-weight-bold mr-2" disabled="@(Model.Courses?.Count < Model.MaxCourses ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <div class="form-control d-sm-block d-md-inline mt-2 mr-2">
                            <div class="pretty p-switch p-slim mr-0">
                                <input type="checkbox" name="@nameof(Model.AddToTop)" class="dirty-ignore cancel" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control d-sm-block d-md-inline mt-2">
                            <div class="pretty p-switch p-slim mr-0 mr-0">
                                <input type="checkbox" name="@nameof(Model.Collapsed)" class="dirty-ignore cancel" value="true" onclick="$('#btnCollapse').click()" checked="@(Model.Collapsed ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.Collapsed">@SharedResource.Collapse</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Courses.Count; i++)
            {
                <div class="card @(i < Model.Courses.Count - 1 ? "mb-4" : "mb-2")">
                    <div class="card-header card-header-small">
                        <div class="float-left line-height-2">
                            <a data-toggle="collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i" class="d-block text-dark mr-1">
                                @(i + 1). @SharedResource.Course
                                <input type="hidden" asp-for="@Model.Courses[i].Collapsed" />
                            </a>
                        </div>

                        <partial name="_CardButtonbar" model="new Tuple<int, int, IList<BaseVM>, string, string>(i, Model.MaxCourses, Model.Courses.Cast<BaseVM>().ToList(), SharedResource.Course, nameof(Course))" />

                    </div>
                    <div class="card-body collapse pb-0 @(Model.Courses[i].Collapsed ? null : "show")" id="collapse-@i">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Courses[i].SchoolName"></label>
                                <input class="form-control" type="text" asp-for="@Model.Courses[i].SchoolName" />
                                <span asp-validation-for="@Model.Courses[i].SchoolName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Courses[i].Link"></label>
                                <input class="form-control" type="text" asp-for="@Model.Courses[i].Link" />
                                <span asp-validation-for="@Model.Courses[i].Link" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label" asp-for="@Model.Courses[i].Title"></label>
                                <input class="form-control" type="text" asp-for="@Model.Courses[i].Title" />
                                <span asp-validation-for="@Model.Courses[i].Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label" asp-for="@Model.Courses[i].Description"></label>
                                <textarea rows="2" asp-for="@Model.Courses[i].Description" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Courses[i].Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Courses[i].CountryCode"></label>
                                <select asp-for="@Model.Courses[i].CountryCode" class="form-control selectpicker" asp-items="@(new SelectList(@Model.Countries, "CountryCode", "Name"))">
                                    <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                                </select>
                                <span asp-validation-for="@Model.Courses[i].CountryCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Courses[i].City"></label>
                                <input class="form-control" type="text" asp-for="@Model.Courses[i].City" />
                                <span asp-validation-for="@Model.Courses[i].City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Courses[i].Start_Day"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select asp-for="@Model.Courses[i].Start_Day" class="form-control" asp-items="@(new SelectList(Enumerable.Range(1, 31).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeDate@(i)').trigger('click');"></select>
                                    </div>
                                    <select asp-for="@Model.Courses[i].Start_Month" class="form-control" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate@(i)').trigger('click');"></select>
                                    <div class="input-group-append">
                                        <select asp-for="@Model.Courses[i].Start_Year" class="form-control" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 6).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeDate@(i)').trigger('click');"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Courses[i].End_Day"></label>
                                <div class="input-group">
                                    <button id="btnChangeDate@(i)" asp-page-handler="ChangeDate" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>

                                    @if (!@Model.Courses[i].SingleDay)
                                    {
                                        <div class="input-group-prepend">
                                            <select asp-for="@Model.Courses[i].End_Day" class="form-control" asp-items="@(new SelectList(Enumerable.Range(1, 31).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeDate@(i)').trigger('click');"></select>
                                        </div>
                                        <select asp-for="@Model.Courses[i].End_Month" class="form-control" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate@(i)').trigger('click');"></select>

                                        <div class="input-group-append">
                                            <select asp-for="@Model.Courses[i].End_Year" class="form-control" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 6).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeDate@(i)').trigger('click');"></select>
                                        </div>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.Courses[i].End_Day" class="ignoreValidation" type="hidden" />
                                        <input asp-for="@Model.Courses[i].End_Month" class="ignoreValidation" type="hidden" />
                                        <input asp-for="@Model.Courses[i].End_Year" class="ignoreValidation" type="hidden" />
                                    }
                                    <div class="@(!@Model.Courses[i].SingleDay ? "input-group-append" : " w-auto flex-fill")">
                                        <div class="form-control">
                                            <div class="pretty p-switch p-slim mr-0" onchange="$('#btnCheckSingleDay'+@i).trigger('click');">
                                                <input type="checkbox" name="@(nameof(Courses))[@i].@nameof(CourseVM.SingleDay)" value="true" checked="@(Model.Courses[i].SingleDay ? "checked" : null)" />
                                                <div class="state">
                                                    <label asp-for="@Model.Courses[i].SingleDay"></label>
                                                    <input type="hidden" asp-for="@Model.Courses[i].Order" />
                                                </div>
                                            </div>
                                            <button id="btnCheckSingleDay@(i)" asp-page-handler="ChangeSingleDay" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span asp-validation-for="@Model.Courses[i].End_Year" class="text-danger text-right mt-1 d-block"></span>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
                @if (i < Model.Courses.Count - 1)
                {<hr />}
            }
        </div>
        <partial name="_CardFooter" model="@Model" />
    </div>
</div>