@model Vitae.Areas.Manage.Pages.Experiences.IndexModel

<div id="panel">
    <div class="card">
        <div class="card-header font-weight-bold">
            <h1><i class="fas fa-briefcase fa-fw"></i>@SharedResource.Experiences</h1>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Experiences"></label>
                    <div>
                        <button asp-page-handler="AddExperience" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-success cancel font-weight-bold mr-2" disabled="@(Model.Experiences?.Count < Model.MaxExperiences ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <div class="form-control d-sm-block d-md-inline mt-2">
                            <div class="pretty p-switch p-slim mr-0">
                                <input type="checkbox" name="@nameof(Model.AddToTop)" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                @for (int i = 0; i < Model.Experiences.Count; i++)
                {
                    <div class="card @(i < Model.Experiences.Count - 1 ? "mb-4" : "mb-2")">
                        <div class="card-header card-header-small">
                            <div class="float-left">
                                @(i + 1). @SharedResource.Experience
                            </div>
                            <div class="float-right">
                                <button asp-page-handler="UpExperience" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel @(i > 0 ? null : "d-none")"><i class="fas fa-arrow-up"></i></button>
                                <button asp-page-handler="DownExperience" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1 @(i == Model.Experiences.Count - 1 ? "d-none" : null)"><i class="fas fa-arrow-down"></i></button>
                                <button asp-page-handler="CopyExperience" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1" disabled="@(i == Model.Experiences.Count - 1 ? "disabled": null)"><i class="fas fa-copy"></i></button>
                                <button asp-page-handler="DeleteExperience" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-danger cancel ml-1" disabled="@(Model.Experiences?.Count <= 0 ? "disabled": null)"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </div>
                    <div class="card-body pb-0">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Experiences[i].CompanyName"></label>
                                <input class="form-control" type="text" asp-for="@Model.Experiences[i].CompanyName" />
                                <span asp-validation-for="@Model.Experiences[i].CompanyName" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.Experiences[i].Order" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Experiences[i].Link"></label>
                                <input class="form-control" type="text" asp-for="@Model.Experiences[i].Link" />
                                <span asp-validation-for="@Model.Experiences[i].Link" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Experiences[i].CountryCode"></label>
                                <select asp-for="@Model.Experiences[i].CountryCode" class="form-control selectpicker" asp-items="@(new SelectList(@Model.Countries, "CountryCode", "Name"))">
                                    <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                                </select>
                                <span asp-validation-for="@Model.Experiences[i].CountryCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Experiences[i].City"></label>
                                <input class="form-control" type="text" asp-for="@Model.Experiences[i].City" />
                                <span asp-validation-for="@Model.Experiences[i].City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label" asp-for="@Model.Experiences[i].JobTitle"></label>
                                <input class="form-control" type="text" asp-for="@Model.Experiences[i].JobTitle" />
                                <span asp-validation-for="@Model.Experiences[i].JobTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label" asp-for="@Model.Experiences[i].Description"></label>
                                <textarea rows="3" asp-for="@Model.Experiences[i].Description" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Experiences[i].Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Experiences[i].Start_Month"></label>
                                <div class="d-flex">
                                    <select asp-for="@Model.Experiences[i].Start_Month" class="form-control flex-fill mr-2" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                                    <select asp-for="@Model.Experiences[i].Start_Year" class="form-control w-auto flex-fill" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 6).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Experiences[i].End_Month"></label>
                                <div class="d-flex">
                                    <div class="form-control w-auto flex-fill">
                                        <div class="pretty p-switch p-slim mr-0" onchange="$('#btnCheckUntilNow'+@i).trigger('click');">
                                            <input type="checkbox" name="@(nameof(Experiences))[@i].@nameof(ExperienceVM.UntilNow)" value="true" checked="@(Model.Experiences[i].UntilNow ? "checked" : null)" />
                                            <div class="state">
                                                <label class="d-none d-sm-block" asp-for="@Model.Experiences[i].UntilNow"></label><label class="d-sm-none"></label>
                                            </div>
                                        </div>
                                        <button id="btnCheckUntilNow@(i)" asp-page-handler="ChangeUntilNow" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                                    </div>
                                    @if (!@Model.Experiences[i].UntilNow)
                                    {
                                        <select asp-for="@Model.Experiences[i].End_Month" class="form-control flex-fill ml-2 mr-2" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                                        <select asp-for="@Model.Experiences[i].End_Year" class="form-control w-auto flex-fill" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 6).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.Experiences[i].End_Month" type="hidden" />
                                        <input asp-for="@Model.Experiences[i].End_Year" type="hidden" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                        @if (i < Model.Experiences.Count - 1)
                        {<hr />}
                        }            
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <div class="form-group col mb-0 text-right">
                        <button type="submit" class="btn btn-success float-right" disabled="disabled">@SharedResource.Save</button>
                    </div>
                </div>
            </div>
        </div>
</div>