@model Vitae.Pages.Personal.IndexModel

<div id="panel">
    <div class="card mb-4">
        <div class="card-header font-weight-bold">
            @SharedResource.PersonalDetails
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col">
                    <label class="control-label" asp-for="@Model.Person.Gender"></label>
                    <div class="form-group">

                        <div class="pretty p-default p-round">
                            <input type="radio" asp-for="@Model.Person.Gender" value="true" checked="@(Model.Person?.Gender ?? false ? "checked" : null)" />
                            <div class="state">
                                <label>@SharedResource.Mr</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" id="gender2" asp-for="@Model.Person.Gender" value="false" checked="@(Model.Person?.Gender ?? true ? null : "checked")" />
                            <div class="state">
                                <label>@SharedResource.Ms</label>
                            </div>
                        </div>
                        <span asp-validation-for="@Model.Person.Gender" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label class="control-label" asp-for="@Model.Person.Firstname"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.Firstname" />
                    <span asp-validation-for="@Model.Person.Firstname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label class="control-label" asp-for="@Model.Person.Lastname"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.Lastname" />
                    <span asp-validation-for="@Model.Person.Lastname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label class="control-label" asp-for="@Model.Person.Street"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.Street" />
                    <span asp-validation-for="@Model.Person.Street" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.Person.StreetNo"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.StreetNo" />
                    <span asp-validation-for="@Model.Person.StreetNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label class="control-label" asp-for="@Model.Person.ZipCode"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.ZipCode" />
                    <span asp-validation-for="@Model.Person.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" asp-for="@Model.Person.City"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.City" />
                    <span asp-validation-for="@Model.Person.City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.Person.State"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.State" />
                    <span asp-validation-for="@Model.Person.State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.Person.CountryCode"></label>
                    <select asp-for="@Model.Person.CountryCode" class="form-control" asp-items="@(new SelectList(@Model.Countries, "CountryCode", "Name"))" onchange="$('#btnChangeCountry').trigger('click');">
                        <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                    </select>
                    <span asp-validation-for="@Model.Person.CountryCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.Person.LanguageCode"></label>
                    <select asp-for="@Model.Person.LanguageCode" class="form-control" asp-items="@(new SelectList(@Model.Languages, "LanguageCode", "Name"))">
                        <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                    </select>
                    <span asp-validation-for="@Model.Person.LanguageCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.Person.Birthday_Day"></label>
                    <div class="d-flex">
                        <select asp-for="@Model.Person.Birthday_Day" class="form-control w-auto d-inline-flex mr-2" asp-items="@(new SelectList(Enumerable.Range(1, 31).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                        <select asp-for="@Model.Person.Birthday_Month" class="form-control flex-fill mr-2" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                        <select asp-for="@Model.Person.Birthday_Year" class="form-control w-auto d-inline-flex" asp-items="@(new SelectList(Enumerable.Range(Model.YearStart, DateTime.Now.Year - Model.YearStart).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Person.Nationalities"></label>
                    <div>
                        <button asp-page-handler="AddNationality" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-success cancel" disabled="@(Model.Person.Nationalities?.Count <= Model.MaxNationalities ? null : "disabled")"><i class="fas fa-plus"></i></button>
                        <button asp-page-handler="RemoveNationality" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-danger cancel" disabled="@(Model.Person.Nationalities?.Count <= 1 ? "disabled": null)"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Person.Nationalities.Count; i++)
            {
                <div class="form-row">
                    <div class="form-group col">
                        <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.Person.Nationalities[i].CountryCode"></label>
                        <select asp-for="@Model.Person.Nationalities[i].CountryCode" class="form-control" asp-items="@(new SelectList(@Model.Nationalities, "CountryCode", "Name"))">
                            <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                        </select>
                        <span asp-validation-for="@Model.Person.Nationalities[i].CountryCode" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.Person.Nationalities[i].Order" />
                    </div>
                </div>
            }
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.Person.MobileNumber"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Model.PhonePrefix</span>
                        </div>
                        <input class="form-control" type="text" asp-for="@Model.Person.MobileNumber" />
                    </div>
                    <span asp-validation-for="@Model.Person.MobileNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label class="control-label" asp-for="@Model.Person.Email"></label>
                    <input class="form-control" type="text" asp-for="@Model.Person.Email" />
                    <span asp-validation-for="@Model.Person.Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-row">
                <div class="form-group col mb-0 text-right">
                    <button id="btnChangeBirthday" asp-page-handler="ChangeBirthday" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                    <button id="btnChangeCountry" asp-page-handler="ChangeCountry" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                    <button type="submit" class="btn btn-outline-success float-right">@SharedResource.Save</button>
                </div>
            </div>
        </div>
    </div>
</div>