@page "{id}"
@model CVitae.Areas.CV.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>CV @Model.PersonalDetail.Firstname @Model.PersonalDetail.Lastname</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon/favicon.ico" />

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-rating/bootstrap-rating.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap4-tagsinput/tagsinput.css" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/resume.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/resume.min.css">
    </environment>
</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">

        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">@Model.PersonalDetail.Firstname @Model.PersonalDetail.Lastname</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@(Model.About.Photo ?? (Model.PersonalDetail.Gender.Value ? "/img/NoUserMale.png" : "/img/NoUserFemale.png"))" alt="@Model.PersonalDetail.Firstname @Model.PersonalDetail.Lastname">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">@SharedResource.About</a>
                </li>
                @if (Model.Experiences.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#experience">@SharedResource.Experience</a>
                    </li>
                }
                @if (Model.Educations.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#education">@SharedResource.Educations</a>
                    </li>
                }
                @if (Model.LanguageSkills.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#languages">@SharedResource.Languages</a>
                    </li>
                }
                @if (Model.Interests.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#interests">@SharedResource.Interests</a>
                    </li>
                }
                @if (Model.Awards.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#awards">@SharedResource.Awards</a>
                    </li>
                }
                @if (Model.Skills.Count > 0)
                {
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#skills">@SharedResource.Skills</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">
                    @Model.PersonalDetail.Firstname
                    <span class="text-primary">@Model.PersonalDetail.Lastname</span>
                </h1>
                <div class="subheading mb-5">
                    @Model.PersonalDetail.Street @Model.PersonalDetail.StreetNo &middot; @Model.PersonalDetail.ZipCode @Model.PersonalDetail.City &middot; <a href="tel:@Model.PersonalDetail.PhonePrefix @Model.PersonalDetail.MobileNumber">@Model.PersonalDetail.PhonePrefix @Model.PersonalDetail.MobileNumber</a> &middot;
                    <a href="mailto:@(Model.PersonalDetail.Email)">@Model.PersonalDetail.Email</a>
                </div>
                <p class="lead mb-5">@Model.About?.Slogan</p>
                <div class="social-icons">
                    @foreach (var socialLink in Model.SocialLinks)
                    {
                        <a href="@socialLink.Link" target="_blank">
                            <i class="@socialLink.SocialPlatform.Description()"></i>
                        </a>
                    }
                </div>
            </div>
        </section>
        <hr class="m-0">

        @if (Model.Experiences.Count > 0)
        {
            <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
                <div class="w-100">
                    <h2 class="mb-5">@SharedResource.Experience</h2>
                    @foreach (var experience in Model.Experiences)
                    {
                        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="resume-content">
                                <h3 class="mb-0">@experience.JobTitle</h3>
                                <div class="subheading mb-3"><a href="mailto:@(experience.CompanyName)">@experience.CompanyName</a>, @experience.City</div>
                                <p>@experience.Description</p>
                            </div>
                            <div class="resume-date text-md-right">
                                <span class="text-primary">@(new DateTime(experience.Start_Year, experience.Start_Month, 1).ToString("MMMM yyyy")) - @(experience.End_Year.HasValue ? new DateTime(experience.End_Year.Value, experience.End_Month.Value, 1).ToString("MMMM yyyy") : SharedResource.UntilNow)</span>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <hr class="m-0">
        }

        @if (Model.Educations.Count > 0)
        {
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
                <div class="w-100">
                    <h2 class="mb-5">@SharedResource.Educations</h2>
                    @foreach (var education in Model.Educations)
                    {
                        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="resume-content">
                                <h3 class="mb-0">@education.Title, @education.Subject</h3>
                                <div class="subheading mb-3"><a href="mailto:@(education.SchoolName)">@education.Link</a>, @education.City</div>
                                <p>@SharedResource.Grade: @education.Grade</p>
                                <p>@education.Description</p>
                            </div>
                            <div class="resume-date text-md-right">
                                <span class="text-primary">@(new DateTime(education.Start_Year, education.Start_Month, 1).ToString("MMMM yyyy")) - @(education.End_Year.HasValue ? new DateTime(education.End_Year.Value, education.End_Month.Value, 1).ToString("MMMM yyyy") : SharedResource.UntilNow)</span>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <hr class="m-0">
        }

        @if (Model.LanguageSkills.Count > 0)
        {
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="languages">
                <div class="w-100">
                    <h2 class="mb-5">@SharedResource.Languages</h2>
                    @foreach (var languageSkill in Model.LanguageSkills)
                    {
                        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="resume-content">
                                <p>@Model.Languages.Single(l => l.LanguageCode == languageSkill.LanguageCode).Name</p>
                            </div>
                            <div class="resume-date text-md-right">
                                <input name="@languageSkill.Rate" type="hidden" class="rating invisible" value="@(languageSkill.Rate)" readonly />
                            </div>
                        </div>
                    }
                </div>
            </section>
            <hr class="m-0">
        }

        @if (Model.Interests.Count > 0)
        {
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
                <div class="w-100">
                    <h2 class="mb-5">@SharedResource.Interests</h2>
                    @foreach (var interest in Model.Interests)
                    {
                        <p>
                            @interest.Name
                            @if (!string.IsNullOrEmpty(interest.Link))
                            {
                                <a class="ml-1" href="@interest.Link" alt="@interest.Name"><i class="fas fa-external-link-alt"></i></a>
                            }
                        </p>
                        <p class="mb-0">@interest.Description</p>
                    }
                </div>
            </section>
            <hr class="m-0">
        }

        @if (Model.Awards.Count > 0)
        {
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
                <div class="w-100">
                    <h2 class="mb-5">@SharedResource.Awards</h2>
                    @foreach (var award in Model.Awards)
                    {
                        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                            <div class="resume-content">
                                <p>
                                    @award.Name
                                    @if (!string.IsNullOrEmpty(award.Link))
                                    {
                                        <a class="ml-1" href="@award.Link" alt="@award.Name"><i class="fas fa-external-link-alt"></i></a>
                                    }
                                </p>
                                <p class="mb-0">@award.Description</p>
                            </div>
                            <div class="resume-date text-md-right">
                                <span class="text-primary">@(new DateTime(award.Year, award.Month, 1).ToString("MMMM yyyy"))</span>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <hr class="m-0">
        }

        @if (Model.Skills.Count > 0)
        {
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
                <div class="w-100">
                    <h2 class="mb-5">@SharedResource.Skills</h2>
                    @foreach (var skill in Model.Skills)
                    {
                        <p>
                            @skill.Category
                        </p>
                        <p>
                            <input name="@skill.Skillset" class="tagsinput" value="@(skill.Skillset)" readonly />
                        </p>
                    }
                </div>
            </section>
            <hr class="m-0">
        }

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/bootstrap-rating/bootstrap-rating.min.js"></script>
    <script src="~/lib/bootstrap4-tagsinput/tagsinput.js"></script>

    <environment include="Development">
        <script src="~/js/base.js" asp-append-version="true"></script>
        <script src="~/js/resume.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/base.min.js"></script>
        <script src="~/js/resume.min.js"></script>
    </environment>
</body>
</html>