@page "{id:guid?}"
@model Vitae.Areas.CV.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="noindex">

    @if (Model.CheckVM.Challenge)
    {
        <title>@Globals.APPLICATION_NAME - @SharedResource.SecurityCheck</title>
    }
    else
    {
        <title>@Globals.APPLICATION_NAME - @Model.PersonalDetail.Firstname @Model.PersonalDetail.Lastname</title>
    }
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon/favicon.ico" />

    <partial name="_Styles" />
</head>

<body id="page-top" class="@(Model.CheckVM.Challenge ? "bg-wallpaper" : null)">

    @if (Model.CheckVM.Challenge)
    {
        <partial name="_CheckSecurity" model="Model" />
    }
    else
    {
        <partial name="_CVContent" model="Model" />
    }

    <!-- #endregion -->
    <partial name="_Scripts" />

    @if (Model.CheckVM.Challenge)
    {
        <script src="@Globals.GOOGLE_CAPTCHA_API" async defer></script>
    }
</body>
</html>