@model Vitae.Areas.Manage.Pages.Interests.IndexModel

<div id="panel">
    <div class="card">
        <div class="card-header font-weight-bold">
            <h1><i class="fas fa-volleyball-ball fa-fw"></i>@SharedResource.Interests</h1>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Interests"></label>
                    <div>
                        <button asp-page-handler="AddInterest" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-success cancel font-weight-bold mr-2" disabled="@(Model.Interests?.Count < Model.MaxInterests ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <div class="form-control d-sm-block d-md-inline mt-2 mr-2">
                            <div class="pretty p-switch p-slim mr-0">
                                <input type="checkbox" name="@nameof(Model.AddToTop)" class="cancel" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control d-sm-block d-md-inline mt-2">
                            <div class="pretty p-switch p-slim mr-0 mr-0">
                                <input type="checkbox" name="@nameof(Model.Collapsed)" class="cancel" value="true" onclick="$('#btnCollapse').click()" checked="@(Model.Collapsed ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.Collapsed">@SharedResource.Collapse</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Interests.Count; i++)
            {
        <div class="card @(i < Model.Interests.Count - 1 ? "mb-4" : "mb-2")">
            <div class="card-header card-header-small">
                <div class="float-left">
                    <a data-toggle="collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i" class="d-block text-dark">
                        @(i + 1). @SharedResource.Interest
                        <input type="hidden" asp-for="@Model.Interests[i].Collapsed" />
                    </a>
                </div>
                <div class="float-right">
                    <button asp-page-handler="UpInterest" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel @(i > 0 ? null : "d-none")"><i class="fas fa-arrow-up"></i></button>
                    <button asp-page-handler="DownInterest" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1 @(i == Model.Interests.Count - 1 ? "d-none" : null)"><i class="fas fa-arrow-down"></i></button>
                    <button asp-page-handler="CopyInterest" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1" disabled="@(Model.Interests.Count < Model.MaxInterests ? null: "disabled")"><i class="fas fa-copy"></i></button>
                    <button asp-page-handler="DeleteInterest" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-danger cancel ml-1" disabled="@(Model.Interests?.Count <= 0 ? "disabled": null)"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
            <div class="card-body collapse pb-0 @(Model.Interests[i].Collapsed ? null : "show")" id="collapse-@i">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="@Model.Interests[i].InterestName"></label>
                        <input class="form-control" type="text" asp-for="@Model.Interests[i].InterestName" />
                        <span asp-validation-for="@Model.Interests[i].InterestName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="@Model.Interests[i].Association"></label>
                        <input class="form-control" type="text" asp-for="@Model.Interests[i].Association" />
                        <span asp-validation-for="@Model.Interests[i].Association" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="@Model.Interests[i].Link"></label>
                        <input class="form-control" type="text" asp-for="@Model.Interests[i].Link" />
                        <span asp-validation-for="@Model.Interests[i].Link" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="control-label" asp-for="@Model.Interests[i].Description"></label>
                        <textarea rows="2" asp-for="@Model.Interests[i].Description" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Interests[i].Description" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.Interests[i].Order" />
                    </div>
                </div>
            </div>
            </div>
                @if (i < Model.Interests.Count - 1)
                {<hr />}
            }
        </div>
            <div class="card-footer">
                <div class="form-row">
                    <div class="form-group col mb-0 text-right">
                        <button id="btnCollapse" asp-page-handler="Collapse" data-ajax="true" data-ajax-update="#panel" class="d-none cancel"></button>
                        <button type="submit" class="btn btn-primary float-right" disabled="disabled"><i class="fas fa-save fa-fw"></i>@SharedResource.Save</button>
                    </div>
                </div>
            </div>
        </div>
</div>