@model Vitae.Areas.Manage.Pages.Sociallinks.IndexModel

<div id="panel">
    <div class="card">
        <div class="card-header font-weight-bold">
            <h1><i class="fab fa-twitter fa-fw"></i>@SharedResource.SocialLinks</h1>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.SocialLinks"></label>
                    <div>
                        <button asp-page-handler="AddSocialLink" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-success cancel" disabled="@(Model.SocialLinks?.Count < Model.MaxSocialLinks ? null : "disabled")"><i class="fas fa-plus"></i></button>
                        <button asp-page-handler="RemoveSocialLink" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-danger cancel" disabled="@(Model.SocialLinks?.Count <= 0 ? "disabled": null)"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.SocialLinks.Count; i++)
            {
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.SocialLinks[i].SocialPlatform"></label>
                           <select asp-for="@Model.SocialLinks[i].SocialPlatform" class="form-control" onchange="$('#btnSelectChange').trigger('click')" asp-items="@(new SelectList(Html.GetEnumSelectList<SocialPlatform>().OrderBy(sp => sp.Text).Where(s => int.Parse(s.Value) == (int)Model.SocialLinks[i].SocialPlatform || !Model.SocialLinks.Select(sl => (int)sl.SocialPlatform).ToList().Contains(int.Parse(s.Value))), "Value", "Text"))">
                               <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                           </select>
                        <span asp-validation-for="@Model.SocialLinks[i].SocialPlatform" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.SocialLinks[i].Order" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" asp-for="@Model.SocialLinks[i].Link"></label>
                        <input class="form-control" type="text" asp-for="@Model.SocialLinks[i].Link" />
                        <span asp-validation-for="@Model.SocialLinks[i].Link" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mt-1">
                        <div class="text-right">
                            <button asp-page-handler="UpSocialLink" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-success cancel" disabled="@(i > 0 ? null : "disabled")"><i class="fas fa-arrow-up"></i></button>
                            <button asp-page-handler="DownSocialLink" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-danger cancel" disabled="@(i == Model.SocialLinks.Count - 1 ? "disabled": null)"><i class="fas fa-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
                @if (i < Model.SocialLinks.Count - 1)
                {
                    <div class="form-row">
                        <div class="form-group col">
                            <hr />
                        </div>
                    </div>
                }
            }
        </div>
        <div class="card-footer">
            <div class="form-row">
                <div class="form-group col mb-0 text-right">
                    <button id="btnSelectChange" asp-page-handler="SelectChange" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                    <button type="submit" class="btn btn-outline-success float-right">@SharedResource.Save</button>
                </div>
            </div>
        </div>
    </div>
</div>