@model Vitae.Areas.Manage.Pages.Personal.IndexModel

<div id="panel">
    <div class="card">
        <div class="card-header font-weight-bold">
            <h1><i class="fas fa-address-book mr-3"></i>@SharedResource.PersonalDetails</h1>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Gender"></label>
                    <div class="form-group">
              
                            <div class="pretty p-default p-round p-thick">
                                <input type="radio" asp-for="@Model.PersonalDetail.Gender" value="true" checked="@(Model.PersonalDetail?.Gender ?? false ? "checked" : null)" />
                                <div class="state p-primary-o">
                                    <label>@SharedResource.Mr</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-round p-thick">
                                <input type="radio" id="gender2" asp-for="@Model.PersonalDetail.Gender" value="false" checked="@(Model.PersonalDetail?.Gender ?? true ? null : "checked")" />
                                <div class="state p-primary-o">
                                    <label>@SharedResource.Ms</label>
                                </div>
                            </div>
                        <span asp-validation-for="@Model.PersonalDetail.Gender" class="text-danger d-block"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Firstname"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.Firstname" />
                    <span asp-validation-for="@Model.PersonalDetail.Firstname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Lastname"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.Lastname" />
                    <span asp-validation-for="@Model.PersonalDetail.Lastname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Street"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.Street" />
                    <span asp-validation-for="@Model.PersonalDetail.Street" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.StreetNo"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.StreetNo" />
                    <span asp-validation-for="@Model.PersonalDetail.StreetNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.ZipCode"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.ZipCode" />
                    <span asp-validation-for="@Model.PersonalDetail.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label class="control-label" asp-for="@Model.PersonalDetail.City"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.City" />
                    <span asp-validation-for="@Model.PersonalDetail.City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.State"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.State" />
                    <span asp-validation-for="@Model.PersonalDetail.State" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Citizenship"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.Citizenship" />
                    <span asp-validation-for="@Model.PersonalDetail.Citizenship" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.MaritalStatus"></label>
                    <select asp-for="@Model.PersonalDetail.MaritalStatus" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(MaritalStatus)).Cast<MaritalStatus>().Select(ma => new SelectListItem { Text = ma.Description(), Value = ma.ToString() }), "Value", "Text"))">
                    </select>
                    <span asp-validation-for="@Model.PersonalDetail.MaritalStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.CountryCode"></label>
                    <select asp-for="@Model.PersonalDetail.CountryCode" class="form-control selectpicker" asp-items="@(new SelectList(@Model.Countries, "CountryCode", "Name"))" onchange="$('#btnChangeCountry').trigger('click');">
                        <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                    </select>
                    <span asp-validation-for="@Model.PersonalDetail.CountryCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.LanguageCode"></label>
                    <select asp-for="@Model.PersonalDetail.LanguageCode" class="form-control selectpicker" asp-items="@(new SelectList(@Model.Languages, "LanguageCode", "Name"))">
                        <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                    </select>
                    <span asp-validation-for="@Model.PersonalDetail.LanguageCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Birthday_Day"></label>
                    <div class="d-flex">
                        <select asp-for="@Model.PersonalDetail.Birthday_Day" class="form-control w-auto d-inline-flex mr-2" asp-items="@(new SelectList(Enumerable.Range(1, 31).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                        <select asp-for="@Model.PersonalDetail.Birthday_Month" class="form-control flex-fill mr-2" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                        <select asp-for="@Model.PersonalDetail.Birthday_Year" class="form-control w-auto d-inline-flex" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 1).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label" asp-for="@Model.PersonalDetail.MobileNumber"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@Model.PersonalDetail.PhonePrefix</span>
                        </div>
                        <input class="form-control" type="text" asp-for="@Model.PersonalDetail.MobileNumber" />
                    </div>
                    <span asp-validation-for="@Model.PersonalDetail.MobileNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Email"></label>
                    <input class="form-control" type="text" asp-for="@Model.PersonalDetail.Email" />
                    <span asp-validation-for="@Model.PersonalDetail.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Nationalities"></label>
                    <div>
                        <button asp-page-handler="AddNationality" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-success cancel" disabled="@(Model.PersonalDetail.Nationalities?.Count < Model.MaxNationalities ? null : "disabled")"><i class="fas fa-plus"></i></button>
                        <button asp-page-handler="RemoveNationality" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-danger cancel" disabled="@(Model.PersonalDetail.Nationalities?.Count <= 1 ? "disabled": null)"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.PersonalDetail.Nationalities.Count; i++)
            {
                <div class="form-row">
                    <div class="form-group col">
                        <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.PersonalDetail.Nationalities[i].CountryCode"></label>
                        <select asp-for="@Model.PersonalDetail.Nationalities[i].CountryCode" class="form-control selectpicker" onchange="$('#btnSelectChange').trigger('click')" asp-items="@(new SelectList(@Model.Nationalities.Where(n => n.CountryCode == Model.PersonalDetail.Nationalities[i].CountryCode || !Model.PersonalDetail.Nationalities.Select(na => na.CountryCode).Contains(n.CountryCode)), "CountryCode", "Name"))">
                            <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                        </select>
                        <span asp-validation-for="@Model.PersonalDetail.Nationalities[i].CountryCode" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.PersonalDetail.Nationalities[i].Order" />
                    </div>
                </div>
            }
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.PersonalDetail.Children"></label>
                    <div>
                        <button asp-page-handler="AddChild" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-success cancel" disabled="@((Model.PersonalDetail.Children?.Count ?? 0) < Model.MaxChildren ? null : "disabled")"><i class="fas fa-plus"></i></button>
                        <button asp-page-handler="RemoveChild" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-danger cancel" disabled="@((Model.PersonalDetail.Children?.Count ?? 0) < 1 ? "disabled": null)"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.PersonalDetail.Children?.Count; i++)
            {
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.PersonalDetail.Children[i].Firstname"></label>
                        <div class="form-group">
                            <input class="form-control" type="text" asp-for="@Model.PersonalDetail.Children[i].Firstname" />
                            <span asp-validation-for="@Model.PersonalDetail.Children[i].Firstname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="@Model.PersonalDetail.Birthday_Day"></label>
                        <div class="d-flex">
                            <select asp-for="@Model.PersonalDetail.Children[i].Birthday_Day" class="form-control w-auto d-inline-flex mr-2" asp-items="@(new SelectList(Enumerable.Range(1, 31).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                            <select asp-for="@Model.PersonalDetail.Children[i].Birthday_Month" class="form-control flex-fill mr-2" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                            <select asp-for="@Model.PersonalDetail.Children[i].Birthday_Year" class="form-control w-auto d-inline-flex" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 1).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))" onchange="$('#btnChangeBirthday').trigger('click');"></select>
                        </div>
                        <input type="hidden" asp-for="@Model.PersonalDetail.Children[i].Order" />
                    </div>
                </div>
            }
        </div>
        <div class="card-footer">
            <div class="form-row">
                <div class="form-group col mb-0 text-right">
                    <button id="btnSelectChange" asp-page-handler="SelectChange" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                    <button id="btnChangeBirthday" asp-page-handler="ChangeBirthday" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                    <button id="btnChangeCountry" asp-page-handler="ChangeCountry" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                    <button type="submit" class="btn btn-outline-success float-right">@SharedResource.Save</button>
                </div>
            </div>
        </div>
    </div>
</div>