<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Globals.APPLICATION_NAME</title>

    <link rel="stylesheet" href="~/css/account.min.css" />
    <partial name="_Styles" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">
                <img src="~/img/logo.svg" class="logo ml-1" title="@Globals.APPLICATION_NAME" />
            </a>
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />
    <main>
        @RenderBody()
    </main>

    <footer class="bg-light">
        <div class="w-100">
            <div class="d-flex justify-content-end small mr-4">
                <div>
                    <a class="js-scroll-trigger" href="/Disclaimer#disclaimer">@SharedResource.Disclaimer</a>
                </div>
                <div class="ml-1 mr-1">&middot;</div>
                <div>
                    <a class="js-scroll-trigger" href="/CookiePolicy#cookiepolicy">@SharedResource.CookiePolicy</a>
                </div>
                <div class="ml-1 mr-1">&middot;</div>
                <div>
                    <a class="js-scroll-trigger" href="/LegalNotice#legalnotice">@SharedResource.LegalNotice</a>
                </div>
                <div class="ml-1 mr-1 d-none d-xs-block d-md-block">&middot;</div>
                <div class="text-muted d-none d-xs-block d-md-block">&copy; @DateTime.Now.Year, <a class="ml-1" href="https://myvitae.ch">@Globals.APPLICATION_NAME</a></div>
                <div class="ml-1 mr-1 d-none d-xs-block d-md-block">&middot;</div>
                <div class="d-none d-xs-block d-md-block">Made with <font color="red">❤</font> in Switzerland</div>
            </div>
        </div>
    </footer>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>