<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vitae</title>

    <link rel="stylesheet" href="~/css/account.min.css" />
    <partial name="_Styles" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">
                <img src="~/img/logo.png" class="ml-1" title="Vitae" />
            </a>
        </nav>
    </header>
    <partial name="_CookieConsentPartial" />
    <main>
        @RenderBody()
    </main>

    <footer class="bg-light">
        <div class="w-100">
            <div class="d-flex justify-content-end small mr-4">
                <div>
                    <a href="/Privacy">@SharedResource.PrivacyPolicy</a>
                </div>
                <div class="ml-1 mr-1">&bull;</div>
                <div class="text-muted">Copyright &copy; @DateTime.Now.Year, Vitae &middot; Made with <font color="red">❤</font> in Switzerland</div>
            </div>
        </div>
    </footer>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>