@page
@model Vitae.Pages.CookiePolicyModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}

@section Buttonbar
{
    <partial name="_Buttonbar" />
}

<partial name="_Advertisment" />

@section Subframe{
    <div id="cookiepolicy" class="row p-xl-5 p-4">
        <div class="col-xl-12 text-center">
            <h1>@SharedResource.CookiePolicy</h1>
            <p>@SharedResource.CookiesText1</p>
            <p>@SharedResource.CookiesText2</p>
        </div>
    </div>

    <div class="row p-xl-5 p-4 bg-snowwhite">
        <div class="col-xl-12 text-center">
            <h1>@SharedResource.GoogleAnalytics</h1>
            <p>@SharedResource.GoogleAnalyticsText1</p>
            <p>
                @SharedResource.GoogleAnalyticsText2 <a class="text-nowrap" target="_blank" href="https://tools.google.com/dlpage/gaoptout?hl=@Model.LanguageCode">https://tools.google.com/dlpage/gaoptout?hl=@Model.LanguageCode</a>.
            </p>
        </div>
    </div>
}