@page
@model Vitae.Pages.CookiePolicyModel
@{
}

<div class="container-fluid h-100 animation-element slide-left fullcard">
    <div class="row align-items-center h-100">
        <div class="col-12 h-100 pt-3 pb-3 mx-auto">
            <div class="rounded shadow bg-white-opaque p-4 h-100">
                <h1 class="ml-3 mr-3"><i class="fas fa-fw fa-cookie-bite mr-2 mb-3"></i>@SharedResource.CookiePolicy</h1>

                <div class="card ml-3 mr-3 shadow">
                    <div class="card-header font-weight-bold">
                        @SharedResource.Cookies
                    </div>
                    <div class="card-body">
                        <p>
                            @SharedResource.CookiesText1
                        </p>
                        <p class="mb-0">
                            @SharedResource.CookiesText2
                        </p>
                    </div>
                </div>

                <div class="card ml-3 mr-3 shadow mt-4">
                    <div class="card-header font-weight-bold">
                        @SharedResource.GoogleAnalytics
                    </div>
                    <div class="card-body">
                        <p>
                            @SharedResource.GoogleAnalyticsText1
                        </p>
                        <p class="mb-0">
                            @SharedResource.GoogleAnalyticsText2 <a href="https://tools.google.com/dlpage/gaoptout?hl=@Model.LanguageCode">https://tools.google.com/dlpage/gaoptout?hl=@Model.LanguageCode</a>.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>