@page
@model Vitae.Pages.DisclaimerModel
@{
}

<div class="container-fluid h-100 animation-element slide-left fullcard">
    <div class="row align-items-center h-100">
        <div class="col-12 h-100 pt-3 pb-3 mx-auto">
            <div class="rounded shadow bg-white-opaque p-4 h-100">
                <h1 class="ml-3 mr-3"><i class="fas fa-fw fa-exclamation-circle mr-2 mb-3"></i>@SharedResource.Disclaimer</h1>

                <div class="card ml-3 mr-3 shadow">
                    <div class="card-header font-weight-bold">
                        @SharedResource.Disclaimer
                    </div>
                    <div class="card-body">
                        <p class="mb-0">
                            @SharedResource.DisclaimerText
                        </p>
                    </div>
                </div>


                <div class="card ml-3 mr-3 shadow mt-4">
                    <div class="card-header font-weight-bold">
                        @SharedResource.DataProtection
                    </div>
                    <div class="card-body">
                        <p class="mb-0">
                            @SharedResource.DataProtectionText
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>