@page  "{StatusCode?}"
@model ErrorModel
@{
    Layout = "_Layout";
    ViewData["Title"] = SharedResource.Error;
}

<div class="col-auto mx-auto my-auto">
    <div class="container">
        <div class="jumbotron">
            <form method="post">
                <h4><i class="fa fa-heart-broken fa-fw"></i>@Model.Code - @Model.Message</h4>
                <hr />
                <div class="form-row">
                    <div class="form-group col">
                        <p class="text-danger">
                            @Model.Message
                            <br />
                            <code>@Model.Method @Model.Origin</code>
                        </p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-0 text-right">
                        <a id="forgot-password" class="btn btn-danger" href="javascript:history.back()">@SharedResource.Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>