@page
@model Vitae.Pages.ImprintModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}

@section Buttonbar
{
    <partial name="_Buttonbar" />
}

<!-- #region Main -->
<div class="container-fluid h-100">
    <div class="row h-100">
        <partial name="_Advertisment" />
    </div>
</div>
<!-- #endregion -->

@section Subframe
{
    <div class="bg-snowwhite p-4 p-xs-3">
        <div id="imprint" class="bg-snowwhite rounded shadow">
            <ul class="nav nav-tabs ml-0 rounded" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active font pl-3 pr-3 pt-2 pb-2 pl-md-4 pr-md-4 pt-md-3 pb-md-3" id="cookiepolicy-tab" data-toggle="tab" href="#cookiepolicy" role="tab" aria-controls="cookiepolicy" aria-selected="false">@SharedResource.CookiePolicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 pl-md-4 pr-md-4 pt-md-3 pb-md-3" id="disclaimer-tab" data-toggle="tab" href="#disclaimer" role="tab" aria-controls="disclaimer" aria-selected="true">@SharedResource.Disclaimer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 pl-md-4 pr-md-4 pt-md-3 pb-md-3" id="privacypolicy-tab" data-toggle="tab" href="#privacypolicy" role="tab" aria-controls="privacypolicys" aria-selected="false">@SharedResource.PrivacyPolicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-3 pr-3 pt-2 pb-2 pb-1 pl-md-4 pr-md-4 pt-md-3 pb-md-3" id="legalnotice-tab" data-toggle="tab" href="#legalnotice" role="tab" aria-controls="legalnotice" aria-selected="false">@SharedResource.LegalNotice</a>
                </li>
            </ul>
            <div class="tab-content bg-snowwhite pl-4 pr-4 border-left border-bottom border-right tabborder" id="myTabContent">

                <div class="tab-pane fade show active" id="cookiepolicy" role="tabpanel" aria-labelledby="cookiepolicy-tab">

                    <div class="row">
                        <div class="col text-left">
                            <h1>@SharedResource.CookiePolicy</h1>
                            <p>@SharedResource.CookiesText1</p>
                            <p>@SharedResource.CookiesText2</p>
                        </div>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col text-left">
                            <h1 class="mt-0">@SharedResource.GoogleAnalytics</h1>
                            <p>@SharedResource.GoogleAnalyticsText1</p>
                            <p>
                                @SharedResource.GoogleAnalyticsText2 <a class="text-nowrap" target="_blank" href="@(string.Format(Globals.GOOGLE_ANALYTICS_DEACTIVATOR, Model.LanguageCode))">@(string.Format(Globals.GOOGLE_ANALYTICS_DEACTIVATOR, Model.LanguageCode))</a>.
                            </p>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="disclaimer" role="tabpanel" aria-labelledby="disclaimer-tab">

                    <div class="row">
                        <div class="col text-left">
                            <h1>@SharedResource.Disclaimer</h1>
                            <p>@SharedResource.DisclaimerText</p>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="privacypolicy" role="tabpanel" aria-labelledby="privacypolicy-tab">

                    <div class="row">
                        <div class="col text-left">
                            <h1>@SharedResource.DataProtection</h1>
                            <p>@SharedResource.DataProtectionText</p>
                        </div>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col text-left">
                            <h1 class="mt-0">@SharedResource.DataCollection</h1>
                            <p>
                                @SharedResource.DataCollectionDesc
                            </p>
                        </div>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col text-left">
                            <h1 class="mt-0">@SharedResource.GoogleCaptcha</h1>
                            <p>
                                @SharedResource.GoogleCaptchaDesc
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="legalnotice" role="tabpanel" aria-labelledby="legalnotice-tab">

                    <div class="row">
                        <div class="col text-left">
                            <h1>@SharedResource.CopyrightLaw</h1>
                            <p>@SharedResource.CopyrightLawText</p>
                        </div>
                    </div>
                    <hr class="thin" />
                    <div class="row">
                        <div class="col text-left">
                            <h1 class="mt-0">@SharedResource.Contact</h1>
                            <p>
                                <b>myvitae.ch</b><br />
                                Alexandros Theodoracatos<br />
                                Zwischenbächen 143<br />
                                8048 Zürich<br />
                                @SharedResource.Switzerland<br />
                                <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>}
