@page
@model IndexModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-xl-6 text-left my-auto">
            <div class="ml-xl-5 mr-xl-5 ml-md-4 mr-md-4 ml-sm-3 mr-sm-3 ml-xs-2 mr-xs-2">
                <div class="bg-white-opaque p-5 ml-xl-5 mr-xl-5 mb-xl-5 rounded shadow">
                    <h1>@(CodeHelper.GetStaticPropValue(typeof(SharedResource), $"AdTextA{new Random().Next() % 3}"))</h1>
                    <h2 class="mb-5">@SharedResource.AdTextB0</h2>
                    <div class="form-group mt-5">
                        <a href="/Identity/Account/Register" class="btn btn-lg btn-success">@SharedResource.Register</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 d-none d-xl-block text-center my-auto">
            <div class="mb-5">
                <img src="~/img/preview.png" alt="@Globals.APPLICATION_NAME" class="fit-image" />
            </div>
        </div>
    </div>
</div>

@section CookiePolicy{
    <partial name="_CookieConsentPartial" />
}

@section Scrollbar{
    <div class="scrollbar">
        <div class="w-100r">
            <div class="row ml-0 mr-0">
                <div class="col text-center">
                    <a class="js-scroll-trigger" href="#subframe"><img src="~/img/scroll.gif" class="scroll" alt="Scroll" /></a>
                </div>
            </div>
        </div>
    </div>
}

@section Advertisment{

    <div class="container-fluid">
        <div class="row p-xl-5 p-4">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.WhyMyVitae</h1>
                <p>
                    @SharedResource.WhyMyVitaeReason
                </p>
                <p>
                    <b>@SharedResource.WhyMyVitaeTest</b>
                </p>
                <p>
                    <a href="@string.Format(Globals.TEST_URL, Model.LanguageCode)" class="btn btn-lg btn-outline-light mb-4"><img src="~/img/logo_black.png" alt="Logo" /></a>
                </p>
            </div>
        </div>

        <div class="row p-xl-5 p-4 bg-snowwhite animation-element slide-left">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.KeepControl</h1>
                <p>
                    @SharedResource.DashboardOverview
                </p>
            </div>
            <div class="col-xl-12">
                <img src="~/img/advert/dashboard-@(Model.LanguageCode).png" alt="Dashboard" class="fit-image-big pb-4" />
            </div>
        </div>

        <div class="row p-xl-5 p-4 animation-element slide-left">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.SavePublications</h1>
                <p>@SharedResource.SavePublicationsDescription</p>
            </div>
            <div class="col-xl-12">
                <img src="~/img/advert/publications-@(Model.LanguageCode).png" alt="Dashboard" class="fit-image-big pb-4" />
            </div>
        </div>

        <div class="row p-xl-5 p-4 bg-snowwhite animation-element slide-left">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.ShowYourStrengths</h1>
                <p>@SharedResource.ShowYourStrengthsDescription</p>
            </div>
            <div class="col-xl-12">
                @*TODO*@
                <img src="~/img/advert/dashboard-@(Model.LanguageCode).png" alt="Dashboard" class="fit-image-big pb-4" />
            </div>
        </div>
    </div>
} 