@page
@model IndexModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}

@{
    var rqf = HttpContext.Features.Get<IRequestCultureFeature>();
    var culture = rqf.RequestCulture.UICulture;

    var languageCode = Enum.IsDefined(typeof(ApplicationLanguage), culture.TwoLetterISOLanguageName) ? culture.Name : ApplicationLanguage.en.ToString();
}

<partial name="_Advertisment" />

@section Scrollbar{
    <div class="scrollbar">
        <div class="w-100r">
            <div class="row ml-0 mr-0">
                <div class="col text-center">
                    <a class="js-scroll-trigger" href="#subframe"><img src="~/img/scroll.gif" class="scroll" alt="Scroll" /></a>
                </div>
            </div>
        </div>
    </div>
}

@section Subframe{
    <div class="container-fluid">
        <div class="row p-xl-5 p-4">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.WhyMyVitae</h1>
                <p>
                    @SharedResource.WhyMyVitaeReason
                </p>
                <p>
                    <b>@SharedResource.WhyMyVitaeTest</b>
                </p>
                <p>
                    <a href="@string.Format(Globals.TEST_URL, languageCode)" class="btn btn-lg btn-dark mb-4"><img src="~/img/@Globals.LOGO" alt="Logo" /></a>
                </p>
            </div>
        </div>

        <div class="row p-xl-5 p-4 bg-snowwhite animation-element slide-left">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.KeepControl</h1>
                <p>
                    @SharedResource.DashboardOverview
                </p>
            </div>
            <div class="col-xl-12">
                <img src="~/img/advert/dashboard-@(languageCode).png" alt="Dashboard" class="fit-image-big pb-4" />
            </div>
        </div>

        <div class="row p-xl-5 p-4 animation-element slide-left">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.SavePublications</h1>
                <p>@SharedResource.SavePublicationsDescription</p>
            </div>
            <div class="col-xl-12">
                <img src="~/img/advert/publications-@(languageCode).png" alt="Dashboard" class="fit-image-big pb-4" />
            </div>
        </div>

        <div class="row p-xl-5 p-4 bg-snowwhite animation-element slide-left">
            <div class="col-xl-12 text-center">
                <h1>@SharedResource.ShowYourStrengths</h1>
                <p>@SharedResource.ShowYourStrengthsDescription</p>
            </div>
            <div class="col-xl-12">
                @*TODO*@
                <img src="~/img/advert/curriculum-@(languageCode).png" alt="Dashboard" class="fit-image-big pb-4" />
            </div>
        </div>
    </div>
}