@page
@model Vitae.Pages.PrivacyPolicyModel
@{
}

<div id="legalnotice" class="row p-xl-5 p-4 animation-element slide-left">
    <div class="col-xl-12 text-center">
        <h1>@SharedResource.LegalNotice</h1>
        <p>@SharedResource.LegalNoticeResponsible:</p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:alexandros.theodoracatos@myvitae.ch">alexandros.theodoracatos@myvitae.ch</a>
        </p>
        <p>@SharedResource.CookiesText2</p>
    </div>
</div>

<div class="row p-xl-5 p-4 bg-snowwhite animation-element slide-left">
    <div class="col-xl-12 text-center">
        <h1>@SharedResource.CopyrightLaw</h1>
        <p>@SharedResource.CopyrightLawText</p>
        <p>
            @SharedResource.Copyright
        </p>
    </div>
</div>