@page
@model Vitae.Pages.PrivacyPolicyModel
@{
    ViewData["Title"] = SharedResource.Homepage;

}

@section Buttonbar
{
    <partial name="_Buttonbar" />
}
<partial name="_Advertisment" />

@section Subframe{

    <div id="legalnotice" class="row p-xl-5 p-4">
        <div class="col-xl-12 text-center">
            <h1>@SharedResource.LegalNotice</h1>
            <p>@SharedResource.LegalNoticeResponsible:</p>
            <p>
                <b>myvitae.ch</b><br />
                Alexandros Theodoracatos<br />
                Zwischenbächen 143<br />
                8048 Zürich<br />
                @SharedResource.Switzerland<br />
                <a href="mailto:alexandros.theodoracatos@myvitae.ch">alexandros.theodoracatos@myvitae.ch</a>
            </p>
        </div>
    </div>

    <div class="row p-xl-5 p-4 bg-snowwhite">
        <div class="col-xl-12 text-center">
            <h1>@SharedResource.CopyrightLaw</h1>
            <p>@SharedResource.CopyrightLawText</p>
        </div>
    </div>
}