<div class="row">
    <div class="col text-left">
        <h1>Introducción</h1>
        <p>
            Con esta declaración de protección de datos le informamos sobre el procesamiento de datos personales en el contexto del uso de nuestras páginas de Internet. La abreviatura DSGVO significa Reglamento Básico de Protección de Datos de la UE y se refiere a las personas de la UE que visitan nuestro sitio (en adelante "personas de la UE"). La abreviatura DSG significa Ley de Protección de Datos de Suiza y se refiere a las personas en Suiza que visitan nuestro sitio web (en adelante "personas de Suiza").
            En particular, también le informamos sobre el tratamiento de los datos contractuales (objeto, duración y categorías de clientes) y los datos de pago (datos bancarios, historial de pagos) que requerimos para la prestación de los servicios contractuales a usted.
            En caso de que utilicemos datos personales, p. ej., en relación con nuestros servicios, la atención al cliente, el marketing, la publicidad y los estudios de mercado, para la prestación de nuestros servicios contractuales, le informaremos de ello en el marco de la presente declaración de protección de datos.
            Responsable en cuanto a la legislación de protección de datos y otras regulaciones con carácter de protección de datos:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a>
        </p>
    </div>
</div>
<hr class="thin mb-0" />
<div class="row">
    <div class="col text-left">
        <h1>Sus derechos</h1>
        <h2>Derecho a la información</h2>
        <p>
            De acuerdo con el arte. 8 DSG / Art. 15 DSGVO, tiene derecho a solicitarnos una confirmación de si los datos personales relacionados con usted están siendo procesados por nosotros. Si es así, tiene derecho a ser informado sobre estos datos personales y a recibir más información como se menciona en el Art. 8 DSG / Art. 15 DSGVO.
        </p>
        <h2>Derecho de rectificación</h2>
        <p>
            De acuerdo con el arte. 5 DSG / Art. 16 DSGVO, tiene el derecho de exigir que corrijamos inmediatamente cualquier dato personal incorrecto que le concierna. Teniendo en cuenta los fines del procesamiento, también tiene derecho a exigir que se completen los datos personales incompletos - también mediante una declaración complementaria.
        </p>
        <h2>Derecho de cancelación</h2>
        <p>
            Las personas de la UE tienen el derecho de exigir que eliminemos inmediatamente los datos personales que les conciernen. Estamos obligados a eliminar inmediatamente los datos personales, siempre que los requisitos pertinentes del Art. 17 de la DSGVO. Para más detalles, por favor consulte el Art. 17 DE LA DSGVO. Las personas de Suiza también tienen la posibilidad de exigir la eliminación de datos en los casos previstos por la ley, por ejemplo, si los datos ya no son necesarios / requeridos o si el consentimiento para su tratamiento ha sido revocado.
            De conformidad con el Art. 18 de la DSGVO, las personas de la UE tienen derecho, bajo ciertas condiciones, a exigir que se restrinja el tratamiento de sus datos personales.
        </p>
        <h2>Derecho a la transferibilidad de los datos</h2>
        <p>
            Bajo el arte. 20 DSGVO, las personas de la UE tienen el derecho de recibir los datos personales que nos ha proporcionado en un formato estructurado, común y legible por máquina, y tiene el derecho de transferir estos datos a otra persona responsable sin impedimento por nuestra parte, siempre que el tratamiento se base en el consentimiento de conformidad con el Art. 6 párrafo. 1 letra a DSGVO o el Art. 9 párr. 2 letra a DSGVO o en un contrato de conformidad con el Art. Párrafo 6 1 letra b DSGVO y el procesamiento se realice mediante procedimientos automatizados.
        </p>
        <h2>Derecho de objeción</h2>
        <p>
            De acuerdo con el arte. 21 DSGVO, las personas de la UE tienen el derecho de oponerse al tratamiento de los datos personales que les conciernen en base al Art. 6 párrafo. 1 letra e o f DSGVO; esto también se aplica a los perfiles basados en estas disposiciones.
            Si procesamos sus datos personales con fines de marketing directo, tiene derecho a oponerse en cualquier momento al procesamiento de los datos personales que le conciernen con el fin de dicha comercialización, incluyendo la creación de perfiles, en la medida en que estén vinculados a dicha comercialización directa.
        </p>
        <h2>Derecho a la protección contra la toma de decisiones automatizada, incluida la elaboración de perfiles</h2>
        <p>
            De acuerdo con el arte. 22 DSGVO, tiene derecho a que una decisión que le afecte legalmente o de forma similar no se base exclusivamente en el tratamiento automatizado de sus datos, que es el único factor decisivo para la decisión posterior. Esto también incluye la elaboración de perfiles.
            Esa toma de decisiones automatizada sólo puede tener lugar si
        </p>
        <p>
            <ul>
                <li>
                    es necesario para la conclusión o el cumplimiento de un contrato,
                </li>
                <li>
                    una disposición legal lo permite,
                </li>
                <li>
                    se ha obtenido el consentimiento explícito del interesado.
                </li>
            </ul>
        </p>
        <h2>Derecho de apelación - autoridad de supervisión</h2>
        <p>
            Bajo el arte. 77 DSGVO, las personas de la UE tienen derecho a presentar una denuncia ante la autoridad de supervisión, sin perjuicio de cualquier otro recurso administrativo o judicial. Este derecho existe, en particular, en el Estado miembro en el que reside, en su lugar de trabajo o en el lugar donde se comete el presunto delito si considera que el tratamiento de los datos personales que le conciernen infringe la DPA.
            Puede presentar una queja sobre el tratamiento de datos personales por nuestra parte ante el Comisionado Federal de Protección de Datos e Información y recurrir a la vía civil y/o al derecho público (véase los artículos 15 / 25 / 27 / 29 de la Ley de Protección de Datos).
        </p>
        <h2>Haga valer sus derechos</h2>
        <p>
            Si desea ejercer alguno de sus derechos, póngase en contacto con nosotros como la persona responsable en los datos de contacto anteriores o utilice alguna de las otras formas que ofrecemos para enviarnos este mensaje. Si tiene alguna pregunta, por favor, póngase en contacto con nosotros.
        </p>
        <hr class="thin mt-4" />
        <h1>Tecnología</h1>
        <h2>Archivos de registro del servidor</h2>
        <p>
            Cuando usted llama a nuestro sitio web, la empresa encargada por nosotros del funcionamiento del sitio web procesa y almacena no sólo información técnica sobre el dispositivo terminal utilizado por usted (sistema operativo, resolución de pantalla y otras características no personales) y el navegador (versión, configuración de idioma), sino en particular la dirección IP pública de la computadora con la que visita nuestro sitio web, incluida la fecha y la hora de acceso. La dirección IP es una dirección numérica única bajo la cual su dispositivo final envía o recupera datos a Internet. Por regla general, nosotros o nuestro proveedor de servicios no sabemos quién está detrás de una dirección IP, a menos que nos proporcione datos que nos permitan identificarle mientras utiliza nuestro sitio web. Además, un usuario puede ser identificado si se emprenden acciones legales contra él (por ejemplo, en caso de ataques contra nuestro sitio web) y obtenemos conocimiento de su identidad en el curso de las investigaciones. Por lo tanto, en general, no tiene que preocuparse de que podamos asignarle su dirección IP.
            Nuestro proveedor de servicios no utiliza los datos procesados de forma personalizada para fines estadísticos, de modo que podemos rastrear qué dispositivos finales se utilizan con qué ajustes para visitar nuestro sitio web, con el fin de optimizarlos para éstos si es necesario. Estas estadísticas no contienen datos personales. La base para la elaboración de las estadísticas es nuestro interés en la mejora y el funcionamiento económico de nuestra empresa (base jurídica DSGVO: Art. 6 párr. 1 lit. f).
            La dirección IP se utiliza por razones técnicas para permitirle acceder y utilizar nuestra página web y para detectar y defenderse de los ataques contra nuestro proveedor de servicios o nuestra página web. Lamentablemente, hay repetidos ataques para causar daños a los operadores de los sitios web o a sus usuarios (por ejemplo, impedir el acceso, espiar datos, difundir software malicioso (por ejemplo, virus) u otros fines ilegales). Esos ataques perjudicarían el buen funcionamiento del centro informático de la empresa encargada por nosotros, el uso de nuestro sitio web o su funcionalidad y la seguridad de los visitantes de nuestro sitio web. El tratamiento de la dirección IP, incluido el momento de acceso, se lleva a cabo para defenderse de esos ataques. A través de nuestro proveedor de servicios, perseguimos con este procesamiento el interés legítimo de asegurar la funcionalidad de nuestro sitio web y de defenderse de los ataques ilegales contra nosotros y los visitantes de nuestro sitio web. La base del procesamiento es la mejora y el funcionamiento económico de nuestra empresa (base legal DSGVO: Art. 6 párrafo 1 lit. f).
            Los datos de IP almacenados se borran (por anonimización) cuando ya no son necesarios para la detección o defensa de un ataque.
        </p>
        <h2>Cookies</h2>
        <p>
            Utilizamos cookies y tecnologías comparables (almacenamiento local) para el funcionamiento de nuestro sitio web, para garantizar el funcionamiento técnico de nuestro sitio web, para comprender cómo utilizan los visitantes nuestro sitio web y para almacenar las preferencias que un usuario ha hecho en su navegador.
            Una cookie es un pequeño archivo de texto que se almacena en su dispositivo terminal cuando su navegador llama a nuestro sitio web. Si vuelve a llamar a nuestro sitio web más tarde, podemos leer estas cookies de nuevo. Las cookies se almacenan durante diferentes períodos de tiempo. Puede configurar su navegador para que acepte cookies en cualquier momento, pero esto puede significar que nuestro sitio web ya no funcione correctamente. También puede eliminar las cookies de forma independiente en cualquier momento. Si no lo hace, podemos especificar al guardarlas, cuánto tiempo debe almacenarse una cookie en su ordenador. Aquí tenemos que distinguir entre las llamadas cookies de sesión y las cookies permanentes. Las cookies de sesión son eliminadas por su navegador cuando abandona nuestra página web o sale del navegador. Las cookies persistentes se almacenan durante el tiempo que nosotros especificamos durante el almacenamiento.
            Utilizamos las cookies para los siguientes fines:
        </p>
        <p>
            <ul>
                <li>Cookies técnicamente necesarias, que son obligatorias para el uso de las funciones de nuestro sitio web (por ejemplo, el reconocimiento de si se ha conectado). Sin estas cookies, no se podrían proporcionar ciertas funciones.</li>
                <li>Cookies funcionales, que se utilizan para llevar a cabo técnicamente ciertas funciones que quieres usar.</li>
                <li>Cookies de análisis, que sirven para analizar el comportamiento del usuario.</li>
                <li>Galletas de terceros. Las cookies de terceros son almacenadas por terceros cuyas características integramos en nuestro sitio para habilitar ciertas características. También pueden utilizarse para analizar el comportamiento de los usuarios.</li>
            </ul>
        </p>
        <p>
            La mayoría de los navegadores utilizados por nuestros usuarios le permiten establecer qué cookies deben almacenarse y le permiten eliminar (ciertas) cookies. Si restringe el almacenamiento de cookies a determinados sitios web o no permite el uso de cookies de sitios web de terceros, esto puede significar, en determinadas circunstancias, que nuestro sitio web ya no se pueda utilizar en toda su extensión. Aquí puede encontrar información sobre cómo ajustar la configuración de las cookies para los navegadores más comunes:
        </p>
        <p>
            <ul>
                <li>Google Chrome - <a alt="Google Chrome link" href="@Globals.GOOGLE_CHROME_LINK">@Globals.GOOGLE_CHROME_LINK</a></li>
                <li>Internet Explorer - <a alt="Internet Explorer link" href="@Globals.INTERNET_EXPLORER_LINK">@Globals.INTERNET_EXPLORER_LINK</a></li>
                <li>Firefox - <a alt="Firefox" href="@Globals.FIREFOX_LINK">@Globals.FIREFOX_LINK</a></li>
                <li>Safari - <a alt="Safari" href="@Globals.SAFARI_LINK">@Globals.SAFARI_LINK</a></li>
            </ul>
        </p>
        <h2>Formulario de contacto</h2>
        <p>
            Si nos envía un mensaje a través de una de las opciones de contacto ofrecidas, utilizaremos los datos que nos proporcione para procesar su solicitud. La base para ello es nuestro justificado interés en responder a su solicitud (base legal DSGVO: Art. 6 párrafo 1 lit. f). Si su consulta sirve para concluir un contrato con nosotros, otra base para el procesamiento es el cumplimiento de este contrato (base legal DSGVO: Art. 6 párrafo 1 lit. b). Los datos serán eliminados una vez que su consulta haya sido atendida. Si estamos obligados legalmente a almacenar los datos durante un período de tiempo más largo, los datos se borrarán después de la expiración del período correspondiente.
        </p>
        <h2>Registro / Cuenta de cliente</h2>
        <p>
            Cuando usted crea una cuenta de cliente, procesamos los datos que usted nos proporciona para este propósito con el fin de crear y gestionar esta cuenta y permitirle hacer uso de los servicios asociados a su cuenta de cliente. La base del procesamiento es su consentimiento (base legal DSGVO: Art. 6 párrafo 1 lit. a). Si la creación de la cuenta de cliente sirve para la celebración de un contrato con nosotros, una base adicional para el procesamiento es el cumplimiento de este contrato (base jurídica DSGVO: Art. 6 párrafo 1 lit. b).
            Estos datos se almacenan hasta que la cuenta de cliente se elimine. Si estamos legalmente obligados a almacenar los datos durante un período más largo (por ejemplo, para cumplir con las obligaciones contables) o tenemos el derecho legal de almacenar los datos durante un período más largo (por ejemplo, debido a una disputa legal en curso contra el propietario de una cuenta de usuario), los datos se eliminarán después de la expiración de la obligación de almacenamiento o del derecho legal.
        </p>
        <h2>Transmisión de datos al concluir el contrato</h2>
        <p>
            Si usted hace uso de un servicio, procesamos los datos que nos proporciona para la conclusión del contrato y su ejecución. En la medida en que sea necesario, los datos serán transferidos a los proveedores de servicios para el envío y la facturación de su compra. La base del procesamiento es el cumplimiento del contrato (base legal DSGVO: Art. 6 párrafo 1 lit. b).
            También procesamos estos datos para detectar y prevenir intentos de fraude (base legal DSGVO: Art. 6 párrafo 1 lit. f). De esta manera perseguimos el objetivo de protegernos contra las transacciones fraudulentas.
            Los datos que se almacenan en relación con la celebración de un contrato para la compra de un servicio se eliminan después de la expiración del período de retención legal. En la medida en que existan obligaciones legales de registro y almacenamiento (por ejemplo, almacenamiento de facturas de acuerdo con la legislación fiscal) debido a la tramitación de un contrato de compraventa, éstas se aplican (base jurídica según DSGVO: Art. 6 Párr. 1 lit. c.).
            Los datos se borran o se hacen anónimos cuando ya no son necesarios para la ejecución del respectivo contrato y ya no existe ninguna obligación legal de almacenarlos.
        </p>
        <h2>Transferencia de datos a terceros</h2>
        <p>
            Por principio, no transmitimos a terceros los datos personales que nos han sido facilitados, es decir, en particular no los transmitimos a terceros con fines publicitarios.
            Sin embargo, trabajamos junto con proveedores de servicios (procesadores de contratos) para el funcionamiento de estas páginas de Internet o para el suministro de productos/servicios. Puede ocurrir que dichos proveedores de servicios tengan conocimiento de datos personales. Seleccionamos cuidadosamente nuestros proveedores de servicios - especialmente en lo que respecta a la protección y seguridad de los datos - y tomamos todas las medidas requeridas por la ley de protección de datos para el procesamiento de datos permitido.
        </p>
        <h2>Procesamiento de datos en Suiza / en la UE</h2>
        <p>
            Generalmente procesamos datos en Suiza (transferencia de datos al concluir el contrato, archivos de registro del servidor, formulario de contacto, registro, cookies). En el caso de Suiza, la UE ha establecido un nivel adecuado de protección de datos mediante la Decisión 2000/518/CE. Sin embargo, algunos de nuestros proveedores de servicios, cuyos plug-ins y herramientas utilizamos, procesan datos fuera de la UE. Esto se revela en el contexto de esta declaración de protección de datos cuando se explica qué plug-ins / herramientas se utilizan.
            Además, nos aseguramos de que el proveedor esté ubicado en un país con un nivel adecuado de protección de datos de acuerdo con la legislación suiza (Art. 7 VDSG) y que figure en la lista del FDPIC.
            El nivel apropiado de protección de datos se garantiza en el marco de la participación en el llamado "Privacy Shield" y las medidas adoptadas por el proveedor de servicios para la protección de datos y la seguridad de los mismos.
        </p>
        <hr class="thin mt-4" />
        <h1>Aplicaciones de terceros</h1>
        <h2>Herramienta de análisis "Google Analytics"</h2>
        <p>
            Podemos utilizar Google Analytics, un servicio proporcionado por Google LLC ("Google"), Amphitheatre Parkway, Mountain View, CA 94043, USA, a través del Google Tag Manager. Google utiliza una llamada "cookie" para este propósito. Se trata de un pequeño archivo de texto que su navegador almacena en su ordenador. Mediante esta cookie, Google recibe información sobre el sitio web que ha visitado y, además, en particular, la siguiente información: tipo/versión de navegador, sistema operativo utilizado, información técnica sobre el sistema operativo y el navegador, así como la dirección IP pública del ordenador que está utilizando. Utilizamos Google Analytics de tal manera que su dirección IP sólo se utiliza de forma anónima. Esta anonimización tendrá lugar tras la notificación de Google en la Unión Europea o en un estado miembro del EEE. Sólo en casos excepcionales la dirección IP completa debe ser transferida a un servidor de Google en los EE.UU. y sólo se acortará allí. Según Google, la anonimización se lleva a cabo antes de que la dirección IP se almacene por primera vez en un soporte de datos permanente. Para más detalles, nos remitimos a la declaración de protección de datos de Google, disponible en
            <a alt="Google Analytics" href="@Globals.GOOGLE_ANALYTICS_INFO">@Globals.GOOGLE_ANALYTICS_INFO</a>. Google Analytics nos permite recopilar estadísticas de uso de nuestro sitio web de forma no personal, así como datos demográficos sobre los visitantes y su comportamiento como usuarios. También compilamos estadísticas que nos ayudan a entender mejor cómo se encuentra nuestro sitio web, para mejorar nuestra optimización en los motores de búsqueda y nuestras medidas de publicidad. Con este procesamiento perseguimos el interés legítimo de poder mejorar nuestra página web y nuestras medidas publicitarias (base legal DSGVO: Art. 6 párrafo 1 lit. f).
            You will find under <a alt="Google Analytics optout" href="@Globals.GOOGLE_ANALYTICS_DEACTIVATOR">@Globals.GOOGLE_ANALYTICS_DEACTIVATOR</a> Información sobre cómo puede objetar el uso de Google Analytics.
            Google es miembro del Acuerdo de protección de privacidad y ha firmado un contrato con nosotros para Google Analytics. Los datos seudónimos se eliminan después de 12 meses.
        </p>
        <h2>Google Adwords / Seguimiento de la conversión</h2>
        <p>
            Este sitio web utiliza Google AdWords. AdWords es un programa de publicidad online de Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, Estados Unidos ("Google").
            Como parte de Google AdWords, utilizamos lo que se conoce como seguimiento de conversión. Al hacer clic en un anuncio publicado por Google, se establece una cookie de seguimiento de conversiones. Las cookies son pequeños archivos de texto que el navegador de Internet coloca en el equipo del usuario. Estas cookies caducan a los 30 días y no se utilizan para identificar personalmente a los usuarios. Si el usuario visita determinadas páginas de este sitio web y la cookie no ha caducado, Google y nosotros podemos reconocer que el usuario hizo clic en el anuncio y fue redirigido a esa página.
            Cada cliente de Google AdWords recibe una cookie diferente. Las cookies no pueden ser rastreadas a través de los sitios web de los clientes de AdWords. La información recopilada mediante la cookie de conversión se utiliza para recopilar estadísticas de conversión para los clientes de AdWords que han optado por el seguimiento de las conversiones. Los clientes reciben información sobre el número total de usuarios que han hecho clic en su anuncio y han sido redirigidos a una página con una etiqueta de seguimiento de conversiones. Sin embargo, no reciben ninguna información que se pueda utilizar para identificar personalmente a los usuarios. Si no desea participar en el seguimiento, puede inhabilitar este uso inhabilitando ligeramente la cookie de seguimiento de conversiones de Google en su navegador web en las Preferencias del usuario. De este modo, no se le incluirá en las estadísticas de seguimiento de conversiones.
            El almacenamiento de "cookies de conversión" se basa en el interés legítimo de analizar el comportamiento del usuario para optimizar tanto la oferta web como la publicidad (base legal DSGVO: Art. 6 párr. 1 lit. f).
            El usuario puede configurar su navegador de manera que se le informe sobre la configuración de las cookies y permitir las cookies sólo en casos individuales, excluir la aceptación de cookies para casos específicos o en general y activar la eliminación automática de cookies al cerrar el navegador. Si desactiva las cookies, la funcionalidad de este sitio web puede verse limitada.
        </p>
        <h2>Google Captcha</h2>
        <p>
			Al usar este sitio web usted acepta el uso de Google reCAPTCHA por nosotros. Google truncará su dirección IP dentro de los estados miembros de la Unión Europea o en otros estados que son miembros del Acuerdo sobre el Espacio Económico Europeo y su dirección IP será por lo tanto anonimizada. Sólo en casos excepcionales se transmitirá una dirección IP completa a un servidor de Google en los Estados Unidos y se truncará allí. El uso de reCAPTCHA está sujeto a la política de privacidad y a las condiciones de uso de Google.
		</p>
       <hr class="thin mt-4" />
        <h1>Protección de datos</h1>
        <h2>Adaptación de la información sobre protección de datos</h2>
        <p>
            Siempre mantenemos esta información de protección de datos actualizada. Por lo tanto, nos reservamos el derecho de modificarla de vez en cuando y de actualizarla si se producen cambios en la recogida, el procesamiento o el uso de sus datos. La versión actual de la declaración de protección de datos está siempre disponible en la siguiente dirección:
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>¿Quién es el responsable del procesamiento de datos?</h2>
        <p>Responsable en el sentido de la ley de protección de datos:</p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a alt="myVitae mail" href="mailto:@Globals.ATH_VITAE_MAIL">@Globals.ATH_VITAE_MAIL</a><br />
        </p>
        <p>
            Encontrará más información sobre nuestra empresa, los datos de las personas autorizadas a representarnos y también más datos de contacto en el pie de imprenta de nuestra página web:
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>¿Cuáles de sus datos son procesados por nosotros? ¿Y con qué fines?</h2>
        <p>
            Procesamos los datos que nos ha enviado o cargado por medio de un formulario de contacto o en relación con la creación de un CV.
        </p>
        <h2>¿En qué base jurídica se basa esto?</h2>
        <p>
            La base jurídica para el tratamiento de los datos personales en relación con el uso de nuestros servicios es el Art. 6 párrafo. 1 let. b DSGVO. De acuerdo con esto, el procesamiento de datos está permitido si es necesario para la conclusión de un contrato. Si los datos son necesarios después de la prestación de nuestros servicios, por ejemplo, para el procesamiento legal, el procesamiento de datos puede llevarse a cabo sobre la base de los requisitos del artículo 6, apartado 1, letra b) de la DSGVO. 6 de la DSGVO, en particular para salvaguardar los intereses legítimos de acuerdo con el Art. 6, párrafo 1 del artículo 6 de la DSGVO. 1 letra f) de la DSGVO. Nuestro interés consiste entonces en la afirmación o defensa de las reclamaciones.
        </p>
        <h2>¿Cuánto tiempo se almacenan los datos?</h2>
        <p>
            Los datos de los clientes se eliminarán después de un período de 12 meses.
        </p>
        <h2>¿Dónde se procesan los datos?</h2>
        <p>
            Los datos son procesados por nosotros en un centro de computación en Suiza. Hemos concluido un contrato de procesamiento de pedidos con el operador del centro de computación para que se permita el procesamiento. Suiza tiene un nivel adecuado de protección de datos de acuerdo con la decisión de la Comisión de la UE. Nuestro proveedor de servicios para la realización de la evaluación en línea almacena los datos en la UE. La UE también tiene un nivel adecuado de protección de datos en relación con Suiza.
        </p>
        <h2>Sus derechos como "sujeto de datos"</h2>
        <p>
            Tiene derecho a ser informado sobre los datos personales que procesamos sobre usted.
            En el caso de una solicitud de información que no se haga por escrito, le pedimos que entienda que entonces podremos pedirle que proporcione pruebas que demuestren que usted es la persona que dice ser.
            Además, tiene derecho a corregir o eliminar sus datos personales o a restringir su procesamiento en la medida en que esté legalmente autorizado a hacerlo. Y tiene derecho a oponerse al tratamiento en el ámbito de las disposiciones legales. Lo mismo se aplica al derecho a la transferibilidad de los datos.
        </p>
        <h2>Derecho de apelación</h2>
        <p>
            Tiene derecho a quejarse a una autoridad supervisora de protección de datos sobre el procesamiento de datos personales por nosotros.
        </p>
    </div>
</div>