<div class="row">
    <div class="col text-left">
        <h1>Introduzione</h1>
        <p>
            Con la presente dichiarazione sulla protezione dei dati vi informiamo sul trattamento dei dati personali nell'ambito dell'utilizzo delle nostre pagine Internet. L'abbreviazione DSGVO sta per Regolamento di base sulla protezione dei dati dell'UE e si riferisce alle persone nell'UE che visitano il nostro sito (di seguito "persone dell'UE"). L'abbreviazione DSGG sta per legge svizzera sulla protezione dei dati e si riferisce alle persone in Svizzera che visitano il nostro sito Internet (di seguito "persone della Svizzera").
            In particolare, vi informiamo anche sull'elaborazione dei dati contrattuali (oggetto, durata e categorie di clienti) e dei dati di pagamento (coordinate bancarie, cronologia dei pagamenti) di cui abbiamo bisogno per la fornitura di servizi contrattuali a voi destinati.
            Se per la fornitura delle nostre prestazioni contrattuali utilizziamo dati personali, ad es. relativi ai nostri servizi, all'assistenza clienti, al marketing, alla pubblicità e alle ricerche di mercato, ve ne informeremo nell'ambito della presente dichiarazione sulla protezione dei dati.
            Responsabile ai sensi della legislazione sulla protezione dei dati e di altre normative con carattere di protezione dei dati:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a>
        </p>
    </div>
</div>
<hr class="thin mb-0" />
<div class="row">
    <div class="col text-left">
        <h1>I vostri diritti</h1>
        <h2>Diritto all'informazione</h2>
        <p>
            In conformità con l'Art. 8 DSG / Art. 15 DSGVO, avete il diritto di chiederci conferma dell'esistenza di un trattamento di dati personali che vi riguardano. In caso affermativo, avete il diritto di essere informati su questi dati personali e di ricevere ulteriori informazioni come indicato all'art. 8 DSGV. 8 DSG / Art. 15 DSGVO.
        </p>
        <h2>Diritto di rettifica</h2>
        <p>
            In conformità con l'Art. 5 DSG / Art. 16 DSGVO, avete il diritto di richiedere la correzione immediata dei dati personali errati che vi riguardano. Tenendo conto delle finalità del trattamento, avete anche il diritto di richiedere la compilazione di dati personali incompleti - anche mediante una dichiarazione complementare.
        </p>
        <h2>Diritto di cancellazione</h2>
        <p>
            Le persone provenienti dall'UE hanno il diritto di richiedere la cancellazione immediata dei dati personali che li riguardano. Siamo obbligati a cancellare immediatamente i dati personali, a condizione che i relativi requisiti dell'Art. 17 DSGVO siano soddisfatti. Per i dettagli si rimanda all'Art. 17 DSGVO. Anche le persone provenienti dalla Svizzera hanno la possibilità di richiedere la cancellazione dei dati nei casi previsti dalla legge, ad esempio se i dati non sono più necessari / richiesti o se il consenso al trattamento è stato revocato.
            Ai sensi dell'Art. 18 DSGVO, le persone provenienti dall'UE hanno il diritto, a determinate condizioni, di esigere da noi la limitazione del trattamento dei vostri dati personali.
        </p>
        <h2>Diritto alla trasferibilità dei dati</h2>
        <p>
            Sotto l'art. 20 DSGVO, le persone provenienti dall'UE hanno il diritto di ricevere i dati personali che vi riguardano che ci avete fornito in un formato strutturato, comune e leggibile a macchina, e avete il diritto di trasferire questi dati ad un'altra persona responsabile senza alcun impedimento da parte nostra, a condizione che il trattamento sia basato sul consenso ai sensi dell'art. 20 DSGVO. 6 comma. 1 lettera a DSGVO o Art. 9 capoverso 2 lettera a DSGVO o su un contratto ai sensi dell'art. 9 cpv. 2 lettera a DSGVO o su un contratto ai sensi dell'art. 9 cpv. 1 lett. a DSGVO o su un contratto ai sensi dell'art. 9 cpv. 2 lett. a DSGVO o su un contratto ai sensi dell'art. 9 cpv. 2 lett. a DSGVO o su un contratto ai sensi dell'art. 9 cpv. 3 lett. a DSGVO. 6 capoverso 6. 1 lettera b DSGVO e l'elaborazione viene effettuata con procedure automatizzate.
        </p>
        <h2>Diritto di obiezione</h2>
        <p>
            Secondo Art. 21 DSGVO, le persone provenienti dall'UE hanno il diritto di opporsi al trattamento dei dati personali che vi riguardano in base all'art. 21 DSGVO. 6 capoverso 6 1 lettera e o f DSGVO; ciò vale anche per la profilazione sulla base di queste disposizioni.
            Se elaboriamo i vostri dati personali a scopo di marketing diretto, avete il diritto di opporvi in qualsiasi momento al trattamento dei dati personali che vi riguardano ai fini di tale marketing, incluso il profiling, nella misura in cui esso sia collegato a tale marketing diretto.
        </p>
        <h2>Diritto alla protezione contro il processo decisionale automatizzato, inclusa la profilazione</h2>
        <p>
            Secondo Art. 22 DSGVO, avete il diritto che una decisione che vi riguarda legalmente o in modo analogo non si basi esclusivamente sul trattamento automatizzato dei vostri dati, che è l'unico fattore decisivo per la decisione successiva. Ciò comprende anche la profilazione.
            Tale processo decisionale automatizzato può avvenire solo se
        </p>
        <p>
            <ul>
                <li>
                    è necessario per la conclusione o l'esecuzione di un contratto,
                </li>
                <li>
                    una disposizione di legge lo permette,
                </li>
                <li>
                    è stato ottenuto il consenso esplicito dell'interessato.
                </li>
            </ul>
        </p>
        <h2>Diritto di ricorso - autorità di vigilanza</h2>
        <p>
            Sotto Art. 77 DSGVO, le persone provenienti dall'UE hanno il diritto di presentare un reclamo all'autorità di vigilanza, fatto salvo qualsiasi altro rimedio amministrativo o giudiziario. Questo diritto esiste in particolare nello Stato membro in cui risiedete, nel vostro luogo di lavoro o nel luogo in cui è stato commesso il presunto reato, se ritenete che il trattamento dei dati personali che vi riguardano sia in violazione della LPD.
            Potete presentare un reclamo per il trattamento dei dati personali da parte nostra all'Incaricato federale della protezione dei dati e dell'informazione e adottare misure di diritto civile e/o di diritto pubblico (cfr. art. 15 / 25 / 27 / 29 FADP).
        </p>
        <h2>Fai valere i tuoi diritti</h2>
        <p>
            Se desiderate esercitare uno dei vostri diritti, vi preghiamo di contattarci in qualità di persona responsabile ai recapiti di cui sopra o di utilizzare uno degli altri modi che vi offriamo per inviarci questo messaggio. Se avete domande, vi preghiamo di contattarci.
        </p>
        <hr class="thin mt-4" />
        <h1>Tecnologia</h1>
        <h2>File di registro del server</h2>
        <p>
            Quando richiamate il nostro sito web, la società da noi incaricata di gestire il sito web elabora e memorizza non solo le informazioni tecniche sul dispositivo terminale da voi utilizzato (sistema operativo, risoluzione dello schermo e altre caratteristiche non personali) e sul browser (versione, impostazioni della lingua), ma in particolare l'indirizzo IP pubblico del computer con cui visitate il nostro sito web, compresa la data e l'ora dell'accesso. L'indirizzo IP è un indirizzo numerico univoco sotto il quale il vostro apparecchio finale invia o recupera dati su Internet. Di norma, noi o il nostro fornitore di servizi non sappiamo chi c'è dietro un indirizzo IP, a meno che non ci forniate dati che ci permettano di identificarvi durante l'utilizzo del nostro sito web. Inoltre, un utente può essere identificato se viene intrapresa un'azione legale contro di lui (ad esempio in caso di attacchi contro il nostro sito web) e noi otteniamo la conoscenza della sua identità nel corso delle indagini. Di regola, quindi, non dovete preoccuparvi che possiamo assegnarvi il vostro indirizzo IP.
            Il nostro fornitore di servizi non utilizza i dati elaborati in modo personalizzato per scopi statistici, in modo da poter rintracciare quali dispositivi finali vengono utilizzati con quali impostazioni per la visita del nostro sito web, al fine di ottimizzarli in caso di necessità. Queste statistiche non contengono dati personali. La base per l'elaborazione della statistica è il nostro interesse per il miglioramento e il funzionamento economico della nostra attività (base giuridica DSGVO: art. 6 cpv. 1 lett. f).
            L'indirizzo IP viene utilizzato per motivi tecnici per consentire l'accesso e l'utilizzo del nostro sito web e per individuare e difendersi da attacchi contro il nostro fornitore di servizi o il nostro sito web. Purtroppo, si verificano ripetuti attacchi per danneggiare i gestori di siti web o i loro utenti (ad es. impedire l'accesso, spiare i dati, diffondere software dannosi (ad es. virus) o altri scopi illeciti). Tali attacchi comprometterebbero il corretto funzionamento del centro di calcolo della società da noi incaricata, l'utilizzo del nostro sito web o la sua funzionalità e la sicurezza dei visitatori del nostro sito web. L'elaborazione dell'indirizzo IP, compreso il momento dell'accesso, viene effettuata per difendersi da tali attacchi. Attraverso il nostro fornitore di servizi, perseguiamo con questo trattamento l'interesse legittimo a garantire la funzionalità del nostro sito web e a respingere gli attacchi illegali contro di noi e i visitatori del nostro sito web. La base per l'elaborazione è il miglioramento e il funzionamento economico della nostra attività (base giuridica DSGVO: art. 6 cpv. 1 lett. f).
            I dati IP memorizzati vengono cancellati (mediante anonimizzazione) quando non sono più necessari per il rilevamento o la difesa di un attacco.
        </p>
        <h2>Cookies</h2>
        <p>
            Utilizziamo i cookie e tecnologie comparabili (memorizzazione locale) per il funzionamento del nostro sito web, per garantire il funzionamento tecnico del nostro sito web, per capire come i visitatori utilizzano il nostro sito web e per memorizzare le preferenze che un utente ha fatto nel suo browser.
            Un cookie è un piccolo file di testo che viene memorizzato sul dispositivo terminale dell'utente quando il browser richiama il nostro sito web. Se l'utente richiama il nostro sito web in un secondo momento, possiamo leggere di nuovo questi cookie. I cookie vengono memorizzati per periodi di tempo diversi. Potete impostare il vostro browser in modo che accetti i cookie in qualsiasi momento, ma ciò può significare che il nostro sito web non funziona più correttamente. È inoltre possibile cancellare i cookie in qualsiasi momento in modo indipendente. Se non lo fate, possiamo specificare, al momento del salvataggio, per quanto tempo un cookie deve essere memorizzato sul vostro computer. In questo caso dobbiamo distinguere tra i cosiddetti cookie di sessione e i cookie permanenti. I cookie di sessione vengono cancellati dal vostro browser quando lasciate il nostro sito web o uscite dal browser. I cookie permanenti vengono memorizzati per la durata da noi specificata durante la memorizzazione.
            Utilizziamo i cookie per i seguenti scopi:
        </p>
        <p>
            <ul>
                <li>Cookies tecnicamente necessari, che sono obbligatori per l'utilizzo delle funzioni del nostro sito web (ad es. riconoscimento dell'avvenuto login). Senza questi cookie, alcune funzioni non potrebbero essere fornite.</li>
                <li>Cookies funzionali, che vengono utilizzati per svolgere tecnicamente alcune funzioni che si desidera utilizzare.</li>
                <li>Cookie di analisi, che servono ad analizzare il comportamento degli utenti.</li>
                <li>Biscotti di terze parti. I cookie di terze parti sono memorizzati da terze parti di cui abbiamo incorporato le caratteristiche sul nostro sito per abilitare alcune funzioni. Possono anche essere utilizzati per analizzare il comportamento degli utenti.</li>
            </ul>
        </p>
        <p>
            La maggior parte dei browser utilizzati dai nostri utenti consente di impostare quali cookie devono essere memorizzati e consente di eliminare (alcuni) cookie. Se l'utente limita la memorizzazione dei cookie a determinati siti web o non consente i cookie di siti web di terzi, ciò può significare, in determinate circostanze, che il nostro sito web non può più essere utilizzato nella sua interezza. Qui potete trovare informazioni su come regolare le impostazioni dei cookie per i browser più comuni:
        </p>
        <p>
            <ul>
                <li>Google Chrome - <a alt="Google Chrome link" href="@Globals.GOOGLE_CHROME_LINK">@Globals.GOOGLE_CHROME_LINK</a></li>
                <li>Internet Explorer - <a alt="Internet Explorer link" href="@Globals.INTERNET_EXPLORER_LINK">@Globals.INTERNET_EXPLORER_LINK</a></li>
                <li>Firefox - <a alt="Firefox" href="@Globals.FIREFOX_LINK">@Globals.FIREFOX_LINK</a></li>
                <li>Safari - <a alt="Safari" href="@Globals.SAFARI_LINK">@Globals.SAFARI_LINK</a></li>
            </ul>
        </p>
        <h2>Modulo di contatto</h2>
        <p>
            Se ci inviate un messaggio tramite una delle opzioni di contatto offerte, useremo i dati da voi forniti per elaborare la vostra richiesta. La base di questo è il nostro giustificato interesse a rispondere alla vostra richiesta (base giuridica DSGVO: art. 6 cpv. 1 lett. f). Se la vostra richiesta serve a concludere un contratto con noi, un'ulteriore base per l'elaborazione è l'adempimento di questo contratto (base giuridica DSGVO: art. 6 cpv. 1 lett. b). I dati saranno cancellati dopo il trattamento della vostra richiesta. Se siamo obbligati per legge a conservare i dati per un periodo di tempo più lungo, i dati saranno cancellati dopo la scadenza del periodo corrispondente.
        </p>
        <h2>Registrazione / Conto cliente</h2>
        <p>
            Quando create un conto cliente, elaboriamo i dati da voi forniti a questo scopo per creare e gestire tale conto e per consentirvi di usufruire dei servizi associati al vostro conto cliente. La base del trattamento è il vostro consenso (base giuridica DSGVO: art. 6 cpv. 1 lett. a). Se la creazione del conto cliente serve alla conclusione di un contratto con noi, un'ulteriore base per l'elaborazione è l'adempimento di questo contratto (base giuridica DSGVO: art. 6 cpv. 1 lett. b).
            Questi dati vengono memorizzati fino alla cancellazione del conto cliente. Se siamo obbligati per legge a conservare i dati per un periodo di tempo più lungo (ad es. per adempiere agli obblighi contabili) o se siamo autorizzati per legge a conservare i dati per un periodo di tempo più lungo (ad es. a causa di una controversia legale in corso contro il titolare di un conto utente), i dati vengono cancellati dopo la scadenza dell'obbligo di conservazione o del diritto legale.
        </p>
        <h2>Trasmissione dei dati alla conclusione del contratto</h2>
        <p>
            Se si avvale di un servizio, elaboriamo i dati da Lei forniti per la conclusione del contratto e la sua esecuzione. Nella misura necessaria, i dati saranno trasferiti ai fornitori di servizi per la spedizione e la fatturazione del vostro acquisto. La base dell'elaborazione è l'adempimento del contratto (base giuridica DSGVO: art. 6 cpv. 1 lett. b).
            Trattiamo questi dati anche per individuare e prevenire tentativi di frode (base giuridica DSGVO: art. 6 cpv. 1 lett. f). In questo modo perseguiamo l'obiettivo di proteggerci da transazioni fraudolente.
            I dati che vengono memorizzati in relazione alla conclusione di un contratto per l'acquisto di un servizio vengono cancellati dopo la scadenza del periodo di conservazione previsto dalla legge. Nella misura in cui esistono obblighi legali di registrazione e conservazione (ad es. conservazione delle fatture in conformità alla legge fiscale) dovuti all'elaborazione di un contratto di acquisto, questi vengono applicati (base giuridica secondo la DSGVO: art. 6 cpv. 1 lett. c).
            I dati vengono cancellati o resi anonimi quando non sono più necessari per l'esecuzione del rispettivo contratto e non sussistono più obblighi legali di conservazione.
        </p>
        <h2>Trasferimento dei dati a terzi</h2>
        <p>
            In linea di principio non trasmettiamo a terzi i dati personali che ci vengono forniti, in particolare non li trasmettiamo a terzi per scopi pubblicitari.
            Tuttavia, per la gestione di queste pagine Internet o per la fornitura di prodotti/servizi, collaboriamo con i fornitori di servizi (incaricati dell'elaborazione del contratto). Può accadere che tali fornitori di servizi vengano a conoscenza di dati personali. Selezioniamo attentamente i nostri fornitori di servizi - soprattutto per quanto riguarda la protezione e la sicurezza dei dati - e adottiamo tutte le misure richieste dalla legge sulla protezione dei dati per l'elaborazione dei dati consentita.
        </p>
        <h2>Elaborazione dei dati in Svizzera / nell'UE</h2>
        <p>
            Generalmente elaboriamo i dati in Svizzera (trasferimento dati alla stipula del contratto, file di log del server, modulo di contatto, registrazione, cookie). Per la Svizzera, l'UE ha stabilito un adeguato livello di protezione dei dati con la decisione 2000/518/CE. Tuttavia, alcuni dei nostri fornitori di servizi, di cui utilizziamo i plug-in e gli strumenti, elaborano i dati al di fuori dell'UE. Ciò viene reso noto nell'ambito della presente dichiarazione sulla protezione dei dati quando si spiega quali plug-in / strumenti vengono utilizzati.
            Inoltre garantiamo che il fornitore si trovi in un Paese con un adeguato livello di protezione dei dati ai sensi del diritto svizzero (art. 7 VDSG) e che sia elencato nell'elenco dell'IFPDT.
            Il livello adeguato di protezione dei dati è garantito nell'ambito della partecipazione al cosiddetto "Privacy Shield" e delle misure adottate dal fornitore di servizi per la protezione e la sicurezza dei dati.
        </p>
        <hr class="thin mt-4" />
        <h1>Applicazioni di terze parti</h1>
        <h2>Strumento di analisi "Google Analytics"</h2>
        <p>
            Possiamo utilizzare Google Analytics, un servizio fornito da Google LLC ("Google"), Amphitheatre Parkway, Mountain View, CA 94043, USA, attraverso il Google Tag Manager. A tale scopo Google utilizza un cosiddetto "cookie". Si tratta di un piccolo file di testo che viene memorizzato sul vostro computer dal vostro browser. Attraverso questo cookie, Google riceve informazioni su quale sito web avete visitato e, inoltre, in particolare il seguente tipo/versione del browser, il sistema operativo utilizzato, informazioni tecniche sul sistema operativo e sul browser nonché l'indirizzo IP pubblico del computer che state utilizzando. Utilizziamo Google Analytics in modo tale che il vostro indirizzo IP venga utilizzato solo in forma anonima. Tale anonimizzazione avviene dopo la notifica da parte di Google nell'Unione Europea o in uno Stato membro del SEE. Solo in casi eccezionali l'indirizzo IP completo deve essere trasferito ad un server di Google negli USA e solo lì abbreviato. Secondo Google, l'anonimizzazione avviene prima che l'indirizzo IP venga memorizzato per la prima volta su un supporto dati permanente. Per i dettagli si rimanda alla dichiarazione di protezione dei dati di Google, disponibile all'indirizzo
            <a alt="Google Analytics" href="@Globals.GOOGLE_ANALYTICS_INFO">@Globals.GOOGLE_ANALYTICS_INFO</a>. Google Analytics ci permette di compilare statistiche di utilizzo del nostro sito web in forma non personale, così come dati demografici sui visitatori e sul loro comportamento degli utenti. Compiliamo anche statistiche che ci aiutano a capire meglio come viene trovato il nostro sito web, al fine di migliorare l'ottimizzazione dei nostri motori di ricerca e le nostre misure pubblicitarie. Con questa elaborazione perseguiamo l'interesse legittimo di poter migliorare il nostro sito web e le nostre misure pubblicitarie (base giuridica DSGVO: art. 6 cpv. 1 lett. f).
            Troverete sotto <a alt="Google Analytics optout" href="@Globals.GOOGLE_ANALYTICS_DEACTIVATOR">@Globals.GOOGLE_ANALYTICS_DEACTIVATOR</a> Informazioni su come è possibile opporsi all'uso di Google Analytics.
            Google è membro del PrivacyShield Agreement e ha firmato un contratto con noi per Google Analytics. I dati pseudonimi vengono cancellati dopo 12 mesi.
        </p>
        <h2>Google Adwords / Conversion Tracking</h2>
        <p>
            Questo sito web utilizza Google AdWords. AdWords è un programma di pubblicità online di Google Inc, 1600 Amphitheatre Parkway, Mountain View, CA 94043, Stati Uniti ("Google").
            Come parte di Google AdWords, utilizziamo il cosiddetto "conversion tracking". Quando si fa clic su un annuncio inserito da Google, viene impostato un cookie per il tracciamento delle conversioni. I cookie sono piccoli file di testo che il browser Internet inserisce sul computer dell'utente. Questi cookie scadono dopo 30 giorni e non vengono utilizzati per identificare personalmente gli utenti. Se l'utente visita alcune pagine di questo sito web e il cookie non è scaduto, Google e noi potremmo riconoscere che l'utente ha cliccato sull'annuncio ed è stato reindirizzato a quella pagina.
            Ogni cliente di Google AdWords riceve un cookie diverso. I cookie non possono essere rintracciati attraverso i siti web dei clienti AdWords. Le informazioni raccolte attraverso il cookie di conversione vengono utilizzate per compilare statistiche di conversione per i clienti AdWords che hanno optato per il tracciamento delle conversioni. Ai clienti viene comunicato il numero totale di utenti che hanno cliccato sul loro annuncio e sono stati reindirizzati a una pagina con un tag di tracciamento delle conversioni. Tuttavia, essi non ricevono alcuna informazione che possa essere utilizzata per identificare personalmente gli utenti. Se non si desidera partecipare al tracciamento, è possibile rinunciare a questo uso disabilitando leggermente il cookie di tracciamento delle conversioni di Google sul proprio browser web alla voce Preferenze utente. In questo modo non sarete inclusi nelle statistiche di tracciamento delle conversioni.
            La memorizzazione dei "cookies di conversione" si basa sull'interesse legittimo di analizzare il comportamento degli utenti al fine di ottimizzare sia l'offerta web che la pubblicità (base giuridica DSGVO: art. 6 cpv. 1 lett. f).
            Potete impostare il vostro browser in modo da essere informati sull'impostazione dei cookies e consentire i cookies solo in singoli casi, escludere l'accettazione dei cookies per casi specifici o in generale e attivare la cancellazione automatica dei cookies alla chiusura del browser. Se disattivate i cookies, la funzionalità di questo sito web potrebbe essere limitata.
        </p>
        <h2>Google Captcha</h2>
        <p>
		Utilizzando questo sito web, l'utente accetta l'uso di Google reCAPTCHA da parte nostra. Google troncherà il vostro indirizzo IP all'interno degli stati membri dell'Unione Europea o in altri stati membri dell'accordo sullo Spazio Economico Europeo e il vostro indirizzo IP sarà quindi reso anonimo. Solo in casi eccezionali un indirizzo IP completo sarà trasmesso a un server di Google negli Stati Uniti e lì troncato. L'utilizzo di reCAPTCHA è soggetto alla politica sulla privacy e alle condizioni d'uso di Google.
		</p>
       <hr class="thin mt-4" />
        <h1>Protezione dei dati</h1>
        <h2>Adattamento delle informazioni sulla protezione dei dati</h2>
        <p>
            Teniamo sempre aggiornate queste informazioni sulla protezione dei dati. Ci riserviamo pertanto il diritto di modificarle di tanto in tanto e di aggiornarle in caso di cambiamenti nella raccolta, nell'elaborazione o nell'utilizzo dei vostri dati. La versione attuale della dichiarazione sulla protezione dei dati è sempre disponibile al seguente indirizzo:
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>Chi è responsabile del trattamento dei dati?</h2>
        <p>Responsabile ai sensi della legge sulla protezione dei dati:</p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a alt="myVitae mail" href="mailto:@Globals.ATH_VITAE_MAIL">@Globals.ATH_VITAE_MAIL</a><br />
        </p>
        <p>
            Troverete ulteriori informazioni sulla nostra azienda, i dettagli delle persone autorizzate a rappresentarci e anche ulteriori dati di contatto nel nostro sito web:
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>Quali dei vostri dati vengono trattati da noi? E per quali finalità?</h2>
        <p>
            Elaboriamo i dati che ci avete inviato o caricato tramite un modulo di contatto o in relazione alla creazione di un CV.
        </p>
        <h2>Su quale base giuridica si basa?</h2>
        <p>
            La base legale per il trattamento dei dati personali in relazione all'utilizzo dei nostri servizi è l'Art. 6 comma 1 let. b DSGVO. Secondo questo articolo, il trattamento dei dati è consentito se necessario per la conclusione di un contratto. Se i dati sono necessari dopo la fornitura dei nostri servizi, ad es. per il perseguimento penale, il trattamento dei dati può essere effettuato sulla base dei requisiti dell'art. 6 cpv. 1 lett. b DSGVO. 6 DSGVO, in particolare per la tutela di interessi legittimi ai sensi dell'art. 6 DSGVO. 6 capoverso 6. 1 lettera f) DSGVO. Il nostro interesse consiste quindi nell'affermazione o nella difesa dei crediti.
        </p>
        <h2>Per quanto tempo vengono memorizzati i dati?</h2>
        <p>
            I dati del cliente saranno cancellati dopo un periodo di 12 mesi.
        </p>
        <h2>Dove vengono trattati i dati?</h2>
        <p>
            I dati vengono elaborati da noi in un centro di calcolo in Svizzera. Abbiamo stipulato un contratto di elaborazione dell'ordine con il gestore del centro di calcolo in modo che l'elaborazione sia consentita. La Svizzera dispone di un livello di protezione dei dati adeguato, conformemente alla decisione della Commissione UE. Il nostro fornitore di servizi per l'esecuzione della valutazione online memorizza i dati nell'UE. Anche per quanto riguarda la Svizzera, l'UE dispone di un livello di protezione dei dati adeguato.
        </p>
        <h2>I vostri diritti in qualità di "Soggetto interessato".</h2>
        <p>
            Avete il diritto di essere informati sui dati personali che trattiamo su di voi.
            Nel caso di una richiesta di informazioni che non sia stata fatta per iscritto, vi chiediamo di comprendere che potremmo poi chiedervi di fornire prove che dimostrino che siete la persona che affermate di essere.
            Inoltre, avete il diritto di correggere o cancellare i vostri dati personali o di limitarne il trattamento nella misura in cui siete legalmente autorizzati a farlo. E avete il diritto di opporvi al trattamento nell'ambito delle disposizioni di legge. Lo stesso vale per il diritto alla trasferibilità dei dati.
        </p>
        <h2>Diritto di ricorso</h2>
        <p>
            Avete il diritto di presentare un reclamo presso un'autorità di controllo della protezione dei dati in merito al trattamento dei dati personali da parte nostra.
        </p>
    </div>
</div>