<div class="row">
    <div class="col text-left">
        <h1>Einleitung</h1>
        <p>
            Mit dieser Datenschutzerklärung informieren wir Sie über die Verarbeitung personenbezogener Daten im Rahmen der Nutzung unserer Internetseiten. Die Abkürzung DSGVO steht für EU-Datenschutzgrundverordnung und betrifft Personen in der EU, die unsere Seite besuchen (nachfolgend "Personen aus der EU"). Die Abkürzung DSG steht für Schweizer Datenschutzgesetz und betrifft Personen in der Schweiz, die unsere Seiten besuchen (nachfolgend "Personen aus der Schweiz").
            Wir informieren Sie insbesondere auch über die Verarbeitung von Vertragsdaten (Gegenstand, Laufzeit und Kundenkategorien) sowie von Zahlungsdaten (Bankverbindung, Zahlungshistorie), die wir für die Erbringung vertraglicher Leistungen an Sie benötigen.
            Wenn wir personenbezogene Daten, z.B. betreffend unsere Services, Kundenpflege, Marketing, Werbung und Marktforschung, zur Erbringung unserer vertraglichen Leistungen nutzen, so informieren wir Sie im Rahmen dieser Datenschutzerklärung darüber.
            Verantwortliche im Sinne der Datenschutz-Gesetzgebung und anderer Bestimmungen mit datenschutzrechtlichem Charakter ist:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a>
        </p>
    </div>
</div>
<hr class="thin mb-0" />
<div class="row">
    <div class="col text-left">
        <h1>Ihre Rechte</h1>
        <h2>Recht auf Auskunft</h2>
        <p>
            Nach Art. 8 DSG / Art. 15 DSGVO haben Sie das Recht, von uns eine Bestätigung darüber zu verlangen, ob durch uns Sie betreffende personenbezogene Daten verarbeitet werden. Wenn dies der Fall ist, so haben Sie ein Recht auf Auskunft über diese personenbezogenen Daten und auf weitergehende Informationen, die in Art. 8 DSG / Art. 15 DSGVO genannt sind.
        </p>
        <h2>Recht auf Berichtigung</h2>
        <p>
            Nach Art. 5 DSG / Art. 16 DSGVO haben Sie das Recht, von uns unverzüglich die Berichtigung unrichtiger personenbezogener Daten zu verlangen, die Sie betreffen. Unter Berücksichtigung der Zwecke der Verarbeitung haben Sie ferner das Recht, die Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer ergänzenden Erklärung – zu verlangen.
        </p>
        <h2>Recht auf Löschung</h2>
        <p>
            Personen aus der EU haben das Recht, von uns zu verlangen, dass Sie betreffende personenbezogene Daten unverzüglich gelöscht werden. Wir sind verpflichtet, personenbezogene Daten unverzüglich zu löschen, sofern die entsprechenden Voraussetzungen des Art. 17 DSGVO vorliegen. Wegen der Einzelheiten verweisen wir auf Art. 17 DSGVO. Personen aus der Schweiz haben ebenfalls in denen vom Gesetz vorgesehenen Fällen die Möglichkeit, die Löschung von Daten zu verlangen, bspw. wenn Daten nicht mehr erforderlich / notwendig sind oder die Einwilligung zur Bearbeitung widerrufen wurde.
            Nach Massgabe des Art. 18 DSGVO haben Personen aus der EU unter bestimmten Voraussetzungen das Recht, von uns die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
        </p>
        <h2>Recht auf Datenübertragbarkeit</h2>
        <p>
            Nach Art. 20 DSGVO haben Personen aus der EU das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und Sie haben das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns zu übermitteln, sofern die Verarbeitung auf einer Einwilligung gemäss Art. 6 Abs. 1 lit. a DSGVO oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag gemäss Art. 6 Abs. 1 lit. b DSGVO beruht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt.
        </p>
        <h2>Widerspruchsrecht</h2>
        <p>
            Nach Art. 21 DSGVO haben Personen aus der EU das Recht, gegen die Verarbeitung Sie betreffender personenbezogener Daten, die auf Grundlage von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgte, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling.
            Sofern wir Ihre personenbezogenen Daten verarbeiten, um Direktwerbung zu betreiben, haben Sie jederzeit das Recht, gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung Widerspruch einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
        </p>
        <h2>Recht auf den Schutz vor automatisierter Entscheidfindung einschliesslich Profiling</h2>
        <p>
            Nach Art. 22 DSGVO haben Sie das Recht, dass eine Entscheidung, die Sie rechtlich oder in ähnlicher Weise beeinträchtigt, nicht ausschliesslich auf einer automatisierten Verarbeitung Ihrer Daten beruht, die für die nachfolgende Entscheidung alleine massgebend ist. Das schliesst auch das Profiling ein.
            Es darf ausschliesslich zu einer solchen automatisierten Entscheidfindung kommen, wenn
        </p>
        <p>
            <ul>
                <li>
                    diese für den Abschluss oder die Erfüllung eines Vertrages nötig ist,
                </li>
                <li>
                    eine Rechtsvorschrift diese erlaubt,
                </li>
                <li>
                    die ausdrückliche Einwilligung der betroffenen Person erfolgte.
                </li>
            </ul>
        </p>
        <h2>Beschwerderecht - Aufsichtsbehörde</h2>
        <p>
            Personen aus der EU haben nach Art. 77 DSGVO unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht, sich bei der Aufsichtsbehörde zu beschweren. Dieses Recht besteht insbesondere in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmasslichen Verstosses, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstösst.
            Sie können sich über die Verarbeitung personenbezogenen Daten unsererseits beim Eidgenössischen Datenschutz- und Öffentlichkeitsbeauftragten beschweren und zivil- und/oder öffentlichrechtliche Rechtsmittel ergreifen (siehe Art. 15 / 25 / 27 / 29 DSG).
        </p>
        <h2>Ihre Rechte geltend machen</h2>
        <p>
            Wenn Sie von einem Ihnen zustehenden Recht Gebrauch machen möchten, wenden Sie sich bitte an uns als Verantwortliche unter den oben angegebenen Kontaktdaten oder nutzen Sie eine der anderen von uns angebotenen Arten uns diese Mitteilung zukommen zu lassen. Wenn Sie hierzu Fragen haben, nehmen Sie bitte Kontakt mit uns auf.
        </p>
        <hr class="thin mt-4" />
        <h1>Technik</h1>
        <h2>Server Log-Dateien</h2>
        <p>
            Wenn Sie unsere Website aufrufen, verarbeitet und speichert das von uns mit dem Betrieb der Website beauftragte Unternehmen neben technischen Informationen zu dem von Ihnen verwendeten Endgerät (Betriebssystem, Bildschirmauflösung und andere, nicht personenbezogene Merkmale) sowie dem Browser (Version, Spracheinstellungen), insbesondere die öffentliche IP-Adresse des Rechners, mit dem Sie unsere Website besuchen, samt Datum und Uhrzeit des Zugriffs. Bei der IP-Adresse handelt es sich um eine eindeutige numerische Adresse, unter der Ihr Endgerät Daten in das Internet sendet bzw. abruft. Uns oder unserem Dienstleister ist im Regelfall nicht bekannt, wer sich hinter einer IP-Adresse verbirgt, es sei denn, Sie teilen uns während der Nutzung unserer Website Daten mit, welche uns Ihre Identifizierung ermöglichen. Ferner kann es zur Identifizierung eines Nutzers kommen, wenn gegen diesen rechtliche Schritte eingeleitet werden (z.B. bei Angriffen gegen unsere Website) und wir im Rahmen des Ermittlungsverfahrens Kenntnis von seiner Identität bekommen. Sie müssen also im Regelfall keine Sorge haben, dass wir Ihre IP-Adresse Ihnen zuordnen können.
            Unser Dienstleister verwendet die verarbeiteten Daten nicht personenbezogen für statistische Zwecke, damit wir nachvollziehen können, welche Endgeräte mit welchen Einstellungen für den Besuch unserer Website eingesetzt werden, um sie für diese ggf. zu optimieren. Diese Statistiken enthalten keine personenbezogenen Daten. Grundlage für die Erstellung der Statistiken ist unser Interesse an der Verbesserung und dem wirtschaftlichen Betrieb unseres Geschäfts (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. f).
            Die IP-Adresse wird weiterverwendet, damit Sie unsere Website technisch abrufen und nutzen können sowie zur Erkennung und Abwehr von Angriffen gegen unseren Dienstleister oder unsere Website. Leider gibt es immer wieder Angriffe, um den Betreibern von Websiten oder deren Nutzern Schaden zuzufügen (z.B. Verhindern des Zugriffs, Ausspionieren von Daten, Verbreiten von Schadsoftware (z.B. Viren) oder andere unrechtmässige Zwecke). Durch solche Angriffe würde die bestimmungsgemässe Funktionsfähigkeit des Rechenzentrums des von uns beauftragten Unternehmens, die Nutzung unserer Website bzw. deren Funktionsfähigkeit sowie die Sicherheit der Besucher unserer Website beeinträchtigt werden. Die Verarbeitung der IP-Adresse samt dem Zeitpunkt des Zugriffes erfolgt zur Abwehr solcher Angriffe. Wir verfolgen über unseren Dienstleister mit dieser Verarbeitung das berechtigte Interesse, die Funktionsfähigkeit unserer Website sicherzustellen und rechtswidrige Angriffe gegen uns sowie die Besucher unserer Website abzuwehren. Grundlage für die Verarbeitung an der Verbesserung und dem wirtschaftlichen Betrieb unseres Geschäfts (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. f).
            Die gespeicherten IP-Daten werden (durch Anonymisierung) gelöscht, wenn sie nicht mehr für die Erkennung oder Abwehr eines Angriffs benötigt werden.
        </p>
        <h2>Cookies</h2>
        <p>
            Wir nutzen für den Betrieb unserer Website Cookies und vergleichbare Technologien (Local Storage), um die technische Funktionsfähigkeit unserer Website zu gewährleisten, um zu verstehen, wie Besucher unsere Website nutzen und um Voreinstellungen, die ein Nutzer vorgenommen hat, in seinem Browser zu speichern.
            Bei einem Cookie handelt es sich um kleine Textdateien, die bei Aufruf unserer Website durch Ihren Browser auf Ihrem Endgerät gespeichert werden. Wenn Sie unsere Website später erneut aufrufen, können wir diese Cookies wieder auslesen. Cookies werden unterschiedlich lange gespeichert. Sie haben jederzeit die Möglichkeit in Ihrem Browser einzustellen, welche Cookies er annehmen soll, was aber zur Folge haben kann, dass unsere Website nicht mehr richtig funktioniert. Ferner können Sie Cookies selbständig jederzeit löschen. Wenn Sie das nicht machen, können wir beim Speichern angeben, wie lange eine Cookie auf Ihrem Rechner gespeichert werden soll. Hier ist zu unterscheiden zwischen sog. Sitzungs-Cookies und dauerhaften Cookies. Sitzungs-Cookies werden von Ihrem Browser gelöscht, wenn Sie unsere Website verlassen oder Sie den Browser beenden. Dauerhafte Cookies werden für die Dauer gespeichert, welche wir bei der Speicherung angeben.
            Wir nutzen Cookies zu folgenden Zwecken:
        </p>
        <p>
            <ul>
                <li>Technisch erforderliche Cookies, die für die Nutzung der Funktionen unserer Website zwingend erforderlich sind (z.B. Erkennung, ob Sie sich angemeldet haben). Ohne diese Cookies könnten bestimmte Funktionen nicht bereitgestellt werden.</li>
                <li>Funktionale Cookies, die eingesetzt werden, um bestimmte Funktionen, welche Sie nutzen wollen, technisch durchführen zu können.</li>
                <li>Analyse-Cookies, die dazu dienen, Ihr Nutzerverhalten zu analysieren.</li>
                <li>Cookies von Drittanbietern. Cookies von Drittanbietern werden von Dritten gespeichert, deren Funktionen wir auf unserer Website einbinden, um bestimmte Funktionen zu ermöglichen. Sie können ebenfalls zur Analyse des Nutzerverhaltens eingesetzt werden.</li>
            </ul>
        </p>
        <p>
            Die meisten Browser, die unsere Nutzer verwenden, erlauben es, einzustellen, welche Cookies gespeichert werden sollen und ermöglichen es, (bestimmte) Cookies wieder zu löschen. Wenn Sie das Speichern von Cookies auf bestimmte Websiten einschränken oder keine Cookies von dritten Websiten zulassen, kann das unter Umständen dazu führen, dass unsere Website nicht mehr in vollem Umfang genutzt werden kann. Hier finden Sie Informationen, wie Sie für die üblichsten Browser die Cookie-Einstellungen anpassen können:
        </p>
        <p>
            <ul>
                <li>Google Chrome - <a alt="Google Chrome link" href="@Globals.GOOGLE_CHROME_LINK">@Globals.GOOGLE_CHROME_LINK</a></li>
                <li>Internet Explorer - <a alt="Internet Explorer link" href="@Globals.INTERNET_EXPLORER_LINK">@Globals.INTERNET_EXPLORER_LINK</a></li>
                <li>Firefox - <a alt="Firefox" href="@Globals.FIREFOX_LINK">@Globals.FIREFOX_LINK</a></li>
                <li>Safari - <a alt="Safari" href="@Globals.SAFARI_LINK">@Globals.SAFARI_LINK</a></li>
            </ul>
        </p>
        <h2>Kontaktformular</h2>
        <p>
            Wenn Sie uns über eine der angebotenen Kontaktmöglichkeiten eine Mitteilung zukommen lassen, verwenden wir Ihre uns mitgeteilten Daten für die Bearbeitung Ihrer Anfrage. Grundlage hierfür ist unser berechtigtes Interesse an der Beantwortung Ihres Anliegens (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. f). Sofern Ihre Anfrage dem Abschluss eines Vertrages mit uns dient, ist weitere Grundlage für die Verarbeitung die Erfüllung dieses Vertrags (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. b). Die Daten werden nach Erledigung Ihrer Anfrage gelöscht. Sofern wir gesetzlich zu einer längeren Speicherung verpflichtet sein sollten, erfolgt die Löschung nach Ablauf der entsprechenden Frist.
        </p>
        <h2>Registrierung / Kundenkonto</h2>
        <p>
            Mit Anlegen eines Kundenkontos verarbeiten wir die hierfür von Ihnen angegebenen Daten, um dieses anzulegen und zu verwalten sowie um Ihnen die Inanspruchnahme der Leistungen zu ermöglichen, die mit Ihrem Kundenkonto zusammenhängen. Grundlage der Verarbeitung ist Ihre Einwilligung (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. a). Sofern das Anlegen des Kundenkontos dem Abschluss eines Vertrages mit uns dient, ist zusätzliche Grundlage für die Verarbeitung die Erfüllung dieses Vertrags (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. b).
            Diese Daten werden bis zur Löschung des Kundenkontos gespeichert. Sofern wir gesetzlich zu einer längeren Speicherung verpflichtet sind (z.B. zur Erfüllung von Buchhaltungspflichten) oder gesetzlich zu einer längeren Speicherung berechtigt sind (z.B. wegen eines laufenden Rechtsstreits gegen den Inhaber eines Benutzerkontos), erfolgt die Löschung nach Ablauf der Speicherverpflichtung bzw. der gesetzlichen Berechtigung.
        </p>
        <h2>Datenübermittlung bei Vertragsschluss</h2>
        <p>
            Wenn Sie eine Dienstleistung in Anspruch nehmen, verarbeiten wir die von Ihnen angegebenen Daten für den Abschluss des Vertrages und seine Durchführung. Im erforderlichen Umfang werden dabei Daten an Dienstleister für den Versand und die Abrechnung Ihres Kaufes übergeben. Grundlage der Verarbeitung ist die Erfüllung des Vertrags (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. b).
            Wir verarbeiten diese Daten ausserdem zur Erkennung und Abwehr von Betrugsversuchen (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. f). Wir verfolgen damit das Ziel, uns vor betrügerischen Transaktionen zu schützen.
            Daten, die im Zusammenhang mit dem Abschluss eines Vertrages über den Kauf einer Dienstleistung gespeichert werden, werden nach Ablauf der gesetzlichen Aufbewahrungspflicht gelöscht. Soweit aufgrund der Abwicklung eines Kaufvertrages rechtliche Aufzeichnungs- und Aufbewahrungspflichten (z.B. Aufbewahrung von Rechnungen nach dem Steuerrecht) bestehen, werden diese angewendet (Rechtsgrundlage nach DSGVO: Art. 6 Abs. 1 lit. c.).
            Wir löschen oder anonymisieren die Daten, wenn sie nicht mehr für die Durchführung des jeweiligen Vertrages benötigt werden und keine gesetzlichen Aufbewahrungspflichten mehr bestehen.
        </p>
        <h2>Weitergabe Daten an Dritte</h2>
        <p>
            Wir geben die uns mitgeteilten personenbezogenen Daten grundsätzlich nicht an Dritte weiter, d.h. insb. nicht an Dritte zu Werbezwecken.
            Für den Betrieb dieser Internetseiten oder für die Bereitstellung von Produkten / Dienstleistungen arbeiten wir aber mit Dienstleistern (Auftragsverarbeitern) zusammen. Dabei kann es vorkommen, dass solche Dienstleister Kenntnis von personenbezogenen Daten erhalten. Wir wählen unsere Dienstleister sorgfältig aus – insbesondere im Hinblick auf Datenschutz und Datensicherheit – und treffen alle datenschutzrechtlich erforderlichen Massnahmen für eine zulässige Datenverarbeitung.
        </p>
        <h2>Datenverarbeitung in der Schweiz / in der EU</h2>
        <p>
            Wir verarbeiten Daten grundsätzlich in der Schweiz (Datenübermittlung bei Vertragsschluss, Server Log Files, Kontaktformular, Registrierung, Cookies). Für die Schweiz hat die EU mit Beschluss 2000/518/EC ein angemessenes Datenschutzniveau festgestellt. Dienstleister von uns, deren Plugins und Tools wir nutzen, verarbeiten hingegen zum Teil Daten ausserhalb der EU. Dies wird im Rahmen der vorliegenden Datenschutzerklärung bei der Aufklärung über die zum Einsatz gelangenden Plugins / Tools jeweils offengelegt.
            Ferner stellen wir sicher, dass der Anbieter in einem Land mit angemessenem Datenschutzniveau nach Schweizer Recht (Art. 7 VDSG) lokalisiert ist und auf der Liste des EDÖB verzeichnet ist.
            Das angemessene Datenschutzniveau wird im Rahmen der Teilnahme am sog. "Privacy Shield" und den vom Dienstleister zu Datenschutz und Datensicherheit getroffenen Massnahmen gewährleistet.
        </p>
        <hr class="thin mt-4" />
        <h1>Drittapplikationen</h1>
        <h2>Analysewerkzeug "Google Analytics"</h2>
        <p>
            Wir nutzen im Rahmen einer Auftragsverarbeitung ggf. über den Google Tag Manager Google Analytics, einen Dienst der Google LLC ("Google"), Amphitheatre Parkway, Mountain View, CA 94043, USA. Google nutzt als Auftragsverarbeiter hierfür einen sog. "Cookie". Hierbei handelt es sich um eine kleine Textdatei, die durch Ihren Browser auf Ihrem Computer gespeichert wird. Mittels dieses Cookies erhält Google Informationen darüber, welche Website von Ihnen aufgerufen wurde und zusätzlich insbesondere die folgenden Informationen Browser-Typ/-Version, verwendetes Betriebssystem, technische Informationen über das Betriebssystem und den Browser sowie die öffentliche IP-Adresse des von Ihnen verwendeten Rechners. Wir verwenden Google Analytics so, dass Ihre IP-Adresse nur in anonymisierter Form verwendet wird. Diese Anonymisierung erfolgt nach Mitteilung von Google in der Europäischen Union oder einem Mitgliedstaat des EWR. Nur in Ausnahmefällen soll die volle IP-Adresse an einen Server von Google in den USA übertragen und erst dort gekürzt werden. Nach Auskunft von Google erfolgt die Anonymisierung bevor die IP-Adresse erstmals auf einen dauerhaften Datenträger gespeichert wird. Wegen der Einzelheiten verweisen wir auf die Datenschutzerklärung von Google, abrufbar unter
            <a alt="Google Analytics" href="@Globals.GOOGLE_ANALYTICS_INFO">@Globals.GOOGLE_ANALYTICS_INFO</a>. Google Analytics erlaubt uns in nicht personenbezogener Form das Erstellen von Nutzungsstatistiken für unsere Website sowie von demografischen Daten über die Besucher und deren Benutzerverhalten. Ferner werden Statistiken erstellt, die es uns helfen besser zu verstehen, wie unsere Website gefunden wird, um unsere Suchmaschinenoptimierung und unsere Werbemassnahmen zu verbessern. Wir verfolgen mit dieser Verarbeitung das berechtigte Interesse, unsere Website sowie unsere Werbemassnahmen verbessern zu können (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. f).
            Sie finden unter <a alt="Google Analytics optout" href="@Globals.GOOGLE_ANALYTICS_DEACTIVATOR">@Globals.GOOGLE_ANALYTICS_DEACTIVATOR</a> Informationen, wie Sie der Verwendung von Google Analytics widersprechen können.
            Google ist Mitglied des PrivacyShield Übereinkommens und hat mit uns einen Auftragsverarbeitungsvertrag für Google Analytics abgeschlossen. Die pseudonymen Daten werden nach 12 Monaten gelöscht.
        </p>
        <h2>Google Adwords / Conversion Tracking</h2>
        <p>
            Diese Website verwendet Google AdWords. AdWords ist ein Online-Werbeprogramm der Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States ("Google").
            Im Rahmen von Google AdWords nutzen wir das so genannte Conversion-Tracking. Wenn Sie auf eine von Google geschaltete Anzeige klicken wird ein Cookie für das Conversion-Tracking gesetzt. Bei Cookies handelt es sich um kleine Textdateien, die der Internet-Browser auf dem Computer des Nutzers ablegt. Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung der Nutzer. Besucht der Nutzer bestimmte Seiten dieser Website und das Cookie ist noch nicht abgelaufen, können Google und wir erkennen, dass der Nutzer auf die Anzeige geklickt hat und zu dieser Seite weitergeleitet wurde.
            Jeder Google AdWords-Kunde erhält ein anderes Cookie. Die Cookies können nicht über die Websites von AdWords-Kunden nachverfolgt werden. Die mithilfe des Conversion-Cookies eingeholten Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die Kunden erfahren die Gesamtanzahl der Nutzer, die auf ihre Anzeige geklickt haben und zu einer mit einem Conversion-Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit denen sich Nutzer persönlich identifizieren lassen. Wenn Sie nicht am Tracking teilnehmen möchten, können Sie dieser Nutzung widersprechen, indem Sie das Cookie des Google Conversion-Trackings über ihren Internet-Browser unter Nutzereinstellungen leicht deaktivieren. Sie werden sodann nicht in die Conversion-Tracking Statistiken aufgenommen.
            Die Speicherung von "Conversion-Cookies" erfolgt auf Grundlage des berechtigten Interesses an der Analyse des Nutzerverhaltens, um sowohl sein Webangebot als auch seine Werbung zu optimieren (Rechtsgrundlage DSGVO: Art. 6 Abs. 1 lit. f).
            Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschliessen sowie das automatische Löschen der Cookies beim Schliessen des Browser aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
        </p>
        <h2>Google Captcha</h2>
        <p>
		Durch die Nutzung der Website erklären Sie sich mit der Verwendung von Google reCAPTCHA durch uns einverstanden. Google wird Ihre IP-Adresse innerhalb der Mitgliedsstaaten der Europäischen Union oder in anderen Staaten, die dem Abkommen über den Europäischen Wirtschaftsraum angehören, kürzen und Ihre IP-Adresse wird somit anonymisiert. Nur in Ausnahmefällen wird eine vollständige IP-Adresse an einen Google-Server in den Vereinigten Staaten übermittelt und dort abgeschnitten. Die Verwendung von reCAPTCHA unterliegt den Datenschutzbestimmungen und Nutzungsbedingungen von Google.
		</p>
       <hr class="thin mt-4" />
        <h1>Datenschutz</h1>
        <h2>Anpassung Datenschutzhinweise</h2>
        <p>
            Wir halten diese Datenschutzhinweise immer auf dem neuesten Stand. Deshalb behalten wir uns vor, sie von Zeit zu Zeit zu ändern und Änderungen bei der Erhebung, Verarbeitung oder Nutzung Ihrer Daten nachzupflegen. Die aktuelle Fassung der Datenschutzerklärung ist stets unter folgender Adresse abrufbar:
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>Wer ist für Datenverarbeitung verantwortlich?</h2>
        <p>Verantwortlicher im Sinne des Datenschutzrechts ist:</p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a alt="myVitae mail" href="mailto:@Globals.ATH_VITAE_MAIL">@Globals.ATH_VITAE_MAIL</a><br />
        </p>
        <p>
            Sie finden weitere Informationen zu unserem Unternehmen, Angaben zu den vertretungsberechtigten Personen und auch weitere Kontaktmöglichkeiten in unserem Impressum unserer Internetseite:
			<a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a>.
        </p>
        <h2>Welche Daten von Ihnen werden von uns verarbeitet? Und zu welchen Zwecken?</h2>
        <p>
            Wir verarbeiten die Daten, die Sie uns mittels Kontaktformular oder im Zusammenhang mit der Erstellung eines Lebenslaufs zugesendet bzw. hochgeladen haben.
        </p>
        <h2>Auf welcher rechtlichen Grundlage basiert das?</h2>
        <p>
            Rechtsgrundlage für die Verarbeitung personenbezogener Daten im Zusammenhang mit der Inanspruchnahme unserer Dienstleistungen ist Art. 6 Abs. 1 Bst. b DSGVO. Danach ist die Verarbeitung der Daten zulässig, wenn dies für den Abschluss eines Vertrags notwendig ist. Sollten die Daten nach Erbringung unserer Dienstleistungen, bspw. zur Rechtsverfolgung erforderlich sein, kann eine Datenverarbeitung auf Basis der Voraussetzungen von Art. 6 DSGVO, insbesondere zur Wahrnehmung von berechtigten Interessen nach Art. 6 Abs. 1 lit. f) DSGVO erfolgen. Unser Interesse besteht dann in der Geltendmachung oder Abwehr von Ansprüchen.
        </p>
        <h2>Wie lange werden die Daten gespeichert?</h2>
        <p>
            Daten von Kunden werden nach einer Frist von 12 Monaten gelöscht.
        </p>
        <h2>Wo werden die Daten verarbeitet?</h2>
        <p>
            Die Daten werden von uns in einem Rechenzentrum in der Schweiz verarbeitet. Wir haben mit dem Betreiber des Rechenzentrums einen Auftragsverarbeitungsvertrag abgeschlossen, so dass die Verarbeitung zulässig ist. Die Schweiz hat ein angemessenes Datenschutzniveau gemäss Beschluss der EU Kommission. Unser Dienstleister zur Durchführung des Online-Assessments speichert Daten in der EU. Die EU verfügt im Verhältnis zur Schweiz ebenfalls über ein angemessenes Datenschutzniveau.
        </p>
        <h2>Ihre Rechte als "Betroffene"</h2>
        <p>
            Sie haben das Recht auf Auskunft über die von uns zu Ihrer Person verarbeiteten personenbezogenen Daten.
            Bei einer Auskunftsanfrage, die nicht schriftlich erfolgt, bitten wir um Verständnis dafür, dass wir dann allenfalls Nachweise von Ihnen verlangen, die belegen, dass Sie die Person sind, für die Sie sich ausgeben.
            Ferner haben Sie ein Recht auf Berichtigung oder Löschung oder auf Einschränkung der Verarbeitung, soweit Ihnen dies gesetzlich zusteht. Und Sie haben ein Widerspruchsrecht gegen die Verarbeitung im Rahmen der gesetzlichen Vorgaben. Gleiches gilt für ein Recht auf Datenübertragbarkeit.
        </p>
        <h2>Beschwerderecht</h2>
        <p>
            Sie haben das Recht, sich über die Verarbeitung personenbezogenen Daten durch uns bei einer Aufsichtsbehörde für den Datenschutz zu beschweren.
        </p>
    </div>
</div>