<div class="row">
    <div class="col text-left">
        <h1>Introduction</h1>
        <p>
            Avec cette déclaration sur la protection des données, nous vous informons sur le traitement des données personnelles dans le cadre de l'utilisation de nos pages Internet. L'abréviation DSGVO signifie "Règlement de base de l'UE sur la protection des données" et désigne les personnes de l'UE qui visitent notre site (ci-après "personnes de l'UE"). L'abréviation DSG signifie Swiss Data Protection Act et désigne les personnes en Suisse qui visitent notre site (ci-après "personnes de Suisse").
            Nous vous informons notamment sur le traitement des données contractuelles (objet, durée et catégories de clients) et des données de paiement (coordonnées bancaires, historique des paiements) dont nous avons besoin pour vous fournir des services contractuels.
            Si nous utilisons des données personnelles, par exemple concernant nos services, le suivi de la clientèle, le marketing, la publicité et les études de marché, pour fournir nos services contractuels, nous vous en informerons dans le cadre de la présente déclaration de protection des données.
            Responsable en termes de législation sur la protection des données et autres réglementations ayant un caractère de protection des données :
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a>
        </p>
    </div>
</div>
<hr class="thin mb-0" />
<div class="row">
    <div class="col text-left">
        <h1>Vos droits</h1>
        <h2>Droit à l'information</h2>
        <p>
            Conformément à l'art. 8 DSG / Art. 15 DSGVO, vous avez le droit de nous demander de confirmer si des données à caractère personnel vous concernant sont traitées par nous. Si tel est le cas, vous avez le droit d'être informé de ces données à caractère personnel et de recevoir des informations complémentaires, comme indiqué à l'article 8 DSG / art. 15 DSGVO. 8 DSG / Art. 15 DSGVO.
        </p>
        <h2>Droit de rectification</h2>
        <p>
            Conformément à l'art. 5 DSG / Art. 16 DSGVO, vous avez le droit d'exiger que nous corrigions immédiatement toute donnée personnelle incorrecte vous concernant. Compte tenu des finalités du traitement, vous avez également le droit d'exiger que les données personnelles incomplètes soient complétées - également au moyen d'une déclaration complémentaire.
        </p>
        <h2>Droit d'annulation</h2>
        <p>
            Les personnes originaires de l'UE ont le droit d'exiger que nous supprimions immédiatement les données personnelles les concernant. Nous sommes tenus de supprimer immédiatement les données à caractère personnel, à condition que les exigences pertinentes de l'article 17 DSGVO sont respectées. Pour plus de détails, veuillez vous référer à l'article 17 DSGVO. 17 DE LA DSGVO. Les personnes originaires de Suisse ont également la possibilité d'exiger la suppression des données dans les cas prévus par la loi, par exemple si les données ne sont plus nécessaires / requises ou si le consentement au traitement a été révoqué.
            Conformément à l'art. 18 ODASG, les personnes originaires de l'UE ont le droit, sous certaines conditions, d'exiger que nous limitions le traitement de vos données personnelles.
        </p>
        <h2>Droit à la transférabilité des données</h2>
        <p>
            En vertu de l'art. 20 DSGVO, les personnes de l'UE ont le droit de recevoir les données personnelles vous concernant que vous nous avez fournies dans un format structuré, commun et lisible par machine, et vous avez le droit de transférer ces données à une autre personne responsable sans entrave de notre part, à condition que le traitement soit basé sur un consentement conformément à l'article. 6 al. 1 lettre a DSGVO ou de l'art. 9, al. 2, let. a, OOPA, ou sur un contrat au sens de l'art. 6, alinéa 2, lettre, de l'OOPA, ou d'un contrat au sens de l'art. 6, alinéa 2, lettre, de l'OOPA, ou d'un contrat au sens de l'art. 6, alinéa 2, lettre, de l'OOPA. 1 lettre b OOPACE et que le traitement soit effectué au moyen de procédés automatisés.
        </p>
        <h2>Droit d'opposition</h2>
        <p>
            Selon l'art. 21 DSGVO, les personnes originaires de l'UE ont le droit de s'opposer au traitement des données à caractère personnel les concernant sur la base de l'art. 6, al. 1 lettre e ou f DSGVO ; cela s'applique également au profilage fondé sur ces dispositions.
            Si nous traitons vos données personnelles à des fins de marketing direct, vous avez le droit de vous opposer à tout moment au traitement des données personnelles vous concernant à des fins de marketing, y compris le profilage, dans la mesure où il est lié à ce marketing direct.
        </p>
        <h2>Droit à la protection contre la prise de décision automatisée, y compris le profilage</h2>
        <p>
            Selon l'art. 22 DSGVO, vous avez le droit qu'une décision qui vous affecte légalement ou de manière similaire ne soit pas exclusivement fondée sur le traitement automatisé de vos données, qui est le seul facteur décisif pour la décision ultérieure. Cela inclut également le profilage.
            Une telle décision automatisée ne peut avoir lieu que si
        </p>
        <p>
            <ul>
                <li>
                    elle est nécessaire à la conclusion ou à l'exécution d'un contrat,
                </li>
                <li>
                    une disposition légale le permet,
                </li>
                <li>
                    le consentement explicite de la personne concernée a été obtenu.
                </li>
            </ul>
        </p>
        <h2>Droit de recours - autorité de contrôle</h2>
        <p>
            En vertu de l'art. 77 DSGVO, les personnes originaires de l'UE ont le droit de déposer une plainte auprès de l'autorité de contrôle, sans préjudice de tout autre recours administratif ou judiciaire. Ce droit existe notamment dans l'État membre dans lequel vous résidez, sur votre lieu de travail ou sur le lieu où l'infraction présumée est commise si vous estimez que le traitement des données à caractère personnel vous concernant est contraire à la LPD.
            Vous pouvez vous plaindre du traitement de données à caractère personnel de notre part auprès du Préposé fédéral à la protection des données et à la transparence et engager des recours civils et/ou de droit public (voir art. 15 / 25 / 27 / 29 LPD).
        </p>
        <h2>Faites valoir vos droits</h2>
        <p>
            Si vous souhaitez exercer l'un de vos droits, veuillez nous contacter en tant que personne responsable aux coordonnées ci-dessus ou utiliser l'un des autres moyens que nous vous proposons pour nous envoyer ce message. Si vous avez des questions, n'hésitez pas à nous contacter.
        </p>
        <hr class="thin mt-4" />
        <h1>Technologie</h1>
        <h2>Fichiers journaux du serveur</h2>
        <p>
            Lorsque vous accédez à notre site web, la société que nous avons chargée d'exploiter le site traite et enregistre non seulement les informations techniques relatives au terminal que vous utilisez (système d'exploitation, résolution d'écran et autres caractéristiques non personnelles) et au navigateur (version, paramètres linguistiques), mais aussi et surtout l'adresse IP publique de l'ordinateur avec lequel vous visitez notre site web, y compris la date et l'heure d'accès. L'adresse IP est une adresse numérique unique sous laquelle votre appareil final envoie ou récupère des données sur Internet. En règle générale, notre fournisseur de services ou nous-mêmes ne savons pas qui se trouve derrière une adresse IP, sauf si vous nous fournissez des données qui nous permettent de vous identifier lorsque vous utilisez notre site web. En outre, un utilisateur peut être identifié si une action en justice est engagée contre lui (par exemple en cas d'attaques contre notre site web) et que nous avons connaissance de son identité au cours d'enquêtes. En règle générale, vous n'avez donc pas à vous inquiéter de savoir si nous pouvons vous attribuer votre adresse IP.
            Notre prestataire de services n'utilise pas les données traitées de manière personnalisée à des fins statistiques, afin que nous puissions savoir quels terminaux sont utilisés et avec quels paramètres pour visiter notre site web, afin de les optimiser le cas échéant. Ces statistiques ne contiennent pas de données personnelles. La base de l'établissement de ces statistiques est notre intérêt pour l'amélioration et le fonctionnement économique de notre entreprise (base légale ODASG : art. 6 al. 1 lit. f).
            L'adresse IP est utilisée pour des raisons techniques afin de vous permettre d'accéder à notre site web et de l'utiliser, ainsi que pour détecter et se défendre contre les attaques contre notre fournisseur de services ou notre site web. Malheureusement, il existe des attaques répétées visant à causer des dommages aux exploitants de sites web ou à leurs utilisateurs (par exemple, empêcher l'accès, espionner des données, diffuser des logiciels malveillants (par exemple, des virus) ou d'autres fins illicites). Ces attaques porteraient atteinte au bon fonctionnement du centre informatique de l'entreprise que nous avons mandatée, à l'utilisation de notre site web ou de ses fonctionnalités et à la sécurité des visiteurs de notre site web. Le traitement de l'adresse IP, y compris le temps d'accès, est effectué pour se défendre contre de telles attaques. Par l'intermédiaire de notre fournisseur de services, nous poursuivons avec ce traitement l'intérêt légitime d'assurer la fonctionnalité de notre site web et de se défendre contre les attaques illégales contre nous et les visiteurs de notre site web. La base du traitement est l'amélioration et l'exploitation économique de notre entreprise (base légale DSGVO : art. 6 al. 1 lit. f).
            Les données IP stockées sont supprimées (par anonymisation) lorsqu'elles ne sont plus nécessaires à la détection ou à la défense d'une attaque.
        </p>
        <h2>Cookies</h2>
        <p>
            Nous utilisons des cookies et des technologies comparables (stockage local) pour le fonctionnement de notre site web, pour assurer le fonctionnement technique de notre site web, pour comprendre comment les visiteurs utilisent notre site web et pour stocker les préférences qu'un utilisateur a faites dans son navigateur.
            Un cookie est un petit fichier texte qui est stocké sur votre terminal lorsque votre navigateur appelle notre site web. Si vous appelez à nouveau notre site web plus tard, nous pouvons lire ces cookies à nouveau. Les cookies sont stockés pour des durées différentes. Vous pouvez configurer votre navigateur pour qu'il accepte les cookies à tout moment, mais cela peut signifier que notre site web ne fonctionne plus correctement. Vous pouvez également supprimer les cookies à tout moment et de manière indépendante. Si vous ne le faites pas, nous pouvons préciser, lors de l'enregistrement, la durée de conservation d'un cookie sur votre ordinateur. Nous devons ici faire la distinction entre les cookies dits de session et les cookies permanents. Les cookies de session sont supprimés par votre navigateur lorsque vous quittez notre site ou lorsque vous quittez le navigateur. Les cookies persistants sont stockés pour la durée que nous spécifions lors de la sauvegarde.
            Nous utilisons les cookies aux fins suivantes :
        </p>
        <p>
            <ul>
                <li>Les cookies techniquement requis, qui sont obligatoires pour l'utilisation des fonctions de notre site web (par exemple, la reconnaissance du fait que vous vous êtes connecté). Sans ces cookies, certaines fonctions ne pourraient pas être fournies.</li>
                <li>Les cookies fonctionnels, qui sont utilisés pour exécuter techniquement certaines fonctions que vous souhaitez utiliser.</li>
                <li>Les cookies d'analyse, qui servent à analyser votre comportement d'utilisateur.</li>
                <li>Les cookies de tiers. Les cookies de tiers sont stockés par des tiers dont nous intégrons les fonctionnalités sur notre site afin d'activer certaines fonctions. Ils peuvent également être utilisés pour analyser le comportement des utilisateurs.</li>
            </ul>
        </p>
        <p>
            La plupart des navigateurs utilisés par nos utilisateurs vous permettent de définir quels cookies doivent être stockés et vous permettent de supprimer (certains) cookies. Si vous limitez le stockage de cookies à certains sites web ou n'autorisez pas les cookies provenant de sites web tiers, cela peut, dans certaines circonstances, signifier que notre site web ne peut plus être utilisé dans sa totalité. Vous trouverez ici des informations sur la manière de régler les paramètres des cookies pour les navigateurs les plus courants :
        </p>
        <p>
            <ul>
                <li>Google Chrome - <a alt="Google Chrome link" href="@Globals.GOOGLE_CHROME_LINK">@Globals.GOOGLE_CHROME_LINK</a></li>
                <li>Internet Explorer - <a alt="Internet Explorer link" href="@Globals.INTERNET_EXPLORER_LINK">@Globals.INTERNET_EXPLORER_LINK</a></li>
                <li>Firefox - <a alt="Firefox" href="@Globals.FIREFOX_LINK">@Globals.FIREFOX_LINK</a></li>
                <li>Safari - <a alt="Safari" href="@Globals.SAFARI_LINK">@Globals.SAFARI_LINK</a></li>
            </ul>
        </p>
        <h2>Formulaire de contact</h2>
        <p>
            Si vous nous envoyez un message via l'une des options de contact proposées, nous utiliserons les données que vous nous fournissez pour traiter votre demande. Cela se justifie par notre intérêt justifié à répondre à votre demande (base juridique DSGVO : art. 6, al. 1, lit. f). Si votre demande sert à conclure un contrat avec nous, l'exécution de ce contrat constitue une autre base de traitement (base légale ODASP : art. 6, al. 1, lit. b). Les données seront effacées après le traitement de votre demande. Si nous sommes légalement tenus de conserver les données pendant une période plus longue, les données seront effacées à l'expiration de la période correspondante.
        </p>
        <h2>Enregistrement / Compte client</h2>
        <p>
            Lorsque vous créez un compte client, nous traitons les données que vous nous fournissez à cette fin afin de créer et de gérer ce compte et de vous permettre d'utiliser les services associés à votre compte client. La base du traitement est votre consentement (base légale DSGVO : art. 6 al. 1 lit. a). Si la création du compte client sert à la conclusion d'un contrat avec nous, l'exécution de ce contrat constitue une base supplémentaire pour le traitement (base légale DSGVO : art. 6 al. 1 lit. b).
            Ces données sont conservées jusqu'à la suppression du compte client. Si nous sommes légalement obligés de conserver les données pour une période plus longue (par exemple pour remplir des obligations comptables) ou si nous sommes légalement autorisés à conserver les données pour une période plus longue (par exemple en raison d'un litige en cours contre le propriétaire d'un compte utilisateur), les données seront supprimées après l'expiration de l'obligation de conservation ou du droit légal.
        </p>
        <h2>Transmission de données lors de la conclusion d'un contrat</h2>
        <p>
            Si vous faites appel à un service, nous traitons les données que vous fournissez pour la conclusion du contrat et son exécution. Dans la mesure nécessaire, les données seront transférées aux prestataires de services pour l'expédition et la facturation de votre achat. La base du traitement est l'exécution du contrat (base légale DSGVO : art. 6 al. 1 lit. b).
            Nous traitons également ces données pour détecter et prévenir les tentatives de fraude (base juridique ODASG : art. 6, al. 1, lit. f). Nous poursuivons ainsi l'objectif de nous protéger contre les transactions frauduleuses.
            Les données enregistrées dans le cadre de la conclusion d'un contrat d'achat de services sont effacées après l'expiration du délai de conservation légal. Dans la mesure où des obligations légales d'enregistrement et de conservation (par exemple la conservation des factures conformément au droit fiscal) existent en raison du traitement d'un contrat d'achat, celles-ci sont appliquées (base juridique selon l'ODSG : art. 6 al. 1 lit. c.).
            Nous effaçons ou anonymisons les données lorsqu'elles ne sont plus nécessaires à l'exécution du contrat concerné et qu'il n'existe plus d'obligation légale de les stocker.
        </p>
        <h2>Transfert de données à des tiers</h2>
        <p>
            Par principe, nous ne transmettons pas les données à caractère personnel qui nous sont communiquées à des tiers, c'est-à-dire notamment pas à des tiers à des fins publicitaires.
            Toutefois, nous travaillons en collaboration avec des prestataires de services (sous-traitants) pour l'exploitation de ces pages Internet ou pour la fourniture de produits / services. Il peut arriver que ces prestataires de services prennent connaissance de données personnelles. Nous sélectionnons nos prestataires de services avec soin - notamment en ce qui concerne la protection et la sécurité des données - et prenons toutes les mesures requises par la loi sur la protection des données pour un traitement autorisé des données.
        </p>
        <h2>Traitement des données en Suisse / dans l'UE</h2>
        <p>
            Nous traitons généralement les données en Suisse (transfert de données lors de la conclusion du contrat, fichiers journaux du serveur, formulaire de contact, enregistrement, cookies). Pour la Suisse, l'UE a établi un niveau de protection des données adéquat par la décision 2000/518/CE. Toutefois, certains de nos prestataires de services, dont nous utilisons les plug-ins et les outils, traitent des données en dehors de l'UE. Cela est indiqué dans le contexte de la présente déclaration de protection des données lorsque nous expliquons quels plug-ins / outils sont utilisés.
            En outre, nous veillons à ce que le fournisseur soit situé dans un pays offrant un niveau de protection des données approprié conformément au droit suisse (art. 7 LPD) et qu'il figure sur la liste du PFPDT.
            Le niveau approprié de protection des données est garanti dans le cadre de la participation au "Privacy Shield" et des mesures prises par le fournisseur de services pour la protection et la sécurité des données.
        </p>
        <hr class="thin mt-4" />
        <h1>Demandes de tiers</h1>
        <h2>Outil d'analyse «Google Analytics»</h2>
        <p>
            Nous pouvons utiliser Google Analytics, un service fourni par Google LLC ("Google"), Amphitheatre Parkway, Mountain View, CA 94043, USA, par l'intermédiaire du Google Tag Manager. Google utilise un "cookie" à cette fin. Il s'agit d'un petit fichier texte qui est stocké sur votre ordinateur par votre navigateur. Grâce à ce cookie, Google reçoit des informations sur les sites web que vous avez visités et, en outre, notamment les informations suivantes : type/version de navigateur, système d'exploitation utilisé, informations techniques sur le système d'exploitation et le navigateur ainsi que l'adresse IP publique de l'ordinateur que vous utilisez. Nous utilisons Google Analytics de manière à ce que votre adresse IP ne soit utilisée que sous forme anonyme. Cette anonymisation aura lieu après notification par Google dans l'Union européenne ou dans un État membre de l'EEE. Ce n'est que dans des cas exceptionnels que l'adresse IP complète doit être transférée à un serveur de Google aux États-Unis et n'y être raccourcie que dans ce pays. Selon Google, l'anonymisation est effectuée avant que l'adresse IP ne soit enregistrée pour la première fois sur un support de données permanent. Pour plus de détails, nous vous renvoyons à la déclaration de protection des données de Google, disponible à l'adresse
            <a alt="Google Analytics" href="@Globals.GOOGLE_ANALYTICS_INFO">@Globals.GOOGLE_ANALYTICS_INFO</a>. Google Analytics nous permet de compiler des statistiques d'utilisation de notre site web sous une forme non personnelle, ainsi que des données démographiques sur les visiteurs et leur comportement d'utilisateur. Nous compilons également des statistiques qui nous aident à mieux comprendre comment notre site web est trouvé, afin d'améliorer notre optimisation pour les moteurs de recherche et nos mesures publicitaires. Par ce traitement, nous poursuivons l'intérêt légitime de pouvoir améliorer notre site web et nos mesures publicitaires (base légale DSGVO : art. 6 al. 1 lit. f).
            Vous trouverez sous <a alt="Google Analytics optout" href="@Globals.GOOGLE_ANALYTICS_DEACTIVATOR">@Globals.GOOGLE_ANALYTICS_DEACTIVATOR</a> Informations sur la manière dont vous pouvez vous opposer à l'utilisation de Google Analytics.
            Google est membre du PrivacyShield Agreement et a signé un contrat avec nous pour Google Analytics. Les données pseudonymes sont supprimées au bout de 12 mois.
        </p>
        <h2>Google Adwords / Suivi des conversions</h2>
        <p>
            Ce site web utilise Google AdWords. AdWords est un programme de publicité en ligne de Google Inc, 1600 Amphitheatre Parkway, Mountain View, CA 94043, États-Unis ("Google").
            Dans le cadre de Google AdWords, nous utilisons ce que l'on appelle le suivi des conversions. Lorsque vous cliquez sur une annonce placée par Google, un cookie de suivi des conversions est créé. Les cookies sont de petits fichiers texte que le navigateur Internet place sur l'ordinateur de l'utilisateur. Ces cookies expirent après 30 jours et ne sont pas utilisés pour identifier personnellement les utilisateurs. Si l'utilisateur visite certaines pages de ce site web et que le cookie n'a pas expiré, Google et nous pouvons reconnaître que l'utilisateur a cliqué sur l'annonce et a été redirigé vers cette page.
            Chaque client de Google AdWords reçoit un cookie différent. Les cookies ne peuvent pas être suivis sur les sites web des clients AdWords. Les informations recueillies par le biais du cookie de conversion sont utilisées pour compiler des statistiques de conversion pour les clients AdWords qui ont choisi le suivi des conversions. Les clients sont informés du nombre total d'utilisateurs qui ont cliqué sur leur annonce et ont été redirigés vers une page comportant une balise de suivi des conversions. Cependant, ils ne reçoivent aucune information pouvant être utilisée pour identifier personnellement les utilisateurs. Si vous ne souhaitez pas participer au suivi, vous pouvez refuser cette utilisation en désactivant légèrement le cookie de suivi des conversions Google dans votre navigateur Web, sous Préférences utilisateur. Vous ne serez alors pas inclus dans les statistiques de suivi des conversions.
            Le stockage des "cookies de conversion" est basé sur l'intérêt légitime d'analyser le comportement des utilisateurs afin d'optimiser à la fois l'offre sur le web et la publicité (base juridique ODASG : Art. 6 al. 1 lit. f).
            Vous pouvez régler votre navigateur de manière à être informé de la mise en place de cookies et n'autoriser les cookies que dans des cas individuels, exclure l'acceptation de cookies pour des cas spécifiques ou en général et activer la suppression automatique des cookies lors de la fermeture du navigateur. Si vous désactivez les cookies, la fonctionnalité de ce site web peut être limitée.
        </p>
        <h2>Google Captcha</h2>
        <p>
		En utilisant ce site web, vous acceptez l'utilisation de Google reCAPTCHA par nous. Google tronquera votre adresse IP dans les États membres de l'Union européenne ou dans d'autres États membres de l'accord sur l'Espace économique européen et votre adresse IP sera ainsi rendue anonyme. Ce n'est que dans des cas exceptionnels qu'une adresse IP complète sera transmise à un serveur de Google aux États-Unis et y sera tronquée. L'utilisation de reCAPTCHA est soumise à la politique de confidentialité et aux conditions d'utilisation de Google.
		</p>
       <hr class="thin mt-4" />
        <h1>Protection des données</h1>
        <h2>Adaptation des informations sur la protection des données</h2>
        <p>
            Nous tenons toujours à jour ces informations sur la protection des données. Par conséquent, nous nous réservons le droit de les modifier de temps à autre et de les mettre à jour si des changements surviennent dans la collecte, le traitement ou l'utilisation de vos données. La version actuelle de la déclaration sur la protection des données est toujours disponible à l'adresse suivante :
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>Qui est responsable du traitement des données ?</h2>
        <p>Responsable au sens de la loi sur la protection des données :</p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a alt="myVitae mail" href="mailto:@Globals.ATH_VITAE_MAIL">@Globals.ATH_VITAE_MAIL</a><br />
        </p>
        <p>
            Vous trouverez de plus amples informations sur notre société, les coordonnées des personnes habilitées à nous représenter ainsi que d'autres coordonnées dans nos mentions légales sur notre site web :
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>Quelles sont vos données traitées par nous ? Et à quelles fins ?</h2>
        <p>
            Nous traitons les données que vous nous avez envoyées ou téléchargées au moyen d'un formulaire de contact ou dans le cadre de la création d'un CV.
        </p>
        <h2>Sur quelle base juridique cela se fonde-t-il ?</h2>
        <p>
            La base juridique du traitement des données à caractère personnel dans le cadre de l'utilisation de nos services est l'art. 6 al. 1 let. b DSGVO. Selon cet article, le traitement des données est autorisé si cela est nécessaire à la conclusion d'un contrat. Si les données sont nécessaires après la fourniture de nos services, par exemple pour des poursuites judiciaires, le traitement des données peut être effectué sur la base des exigences de l'article 6, paragraphe 1, point b), de la DSGVO. 6 ODAS, notamment pour la sauvegarde d'intérêts légitimes conformément à l'art. 6, al. 1 lettre f) DSGVO. Notre intérêt consiste alors à faire valoir ou à défendre des prétentions.
        </p>
        <h2>Combien de temps les données sont-elles conservées ?</h2>
        <p>
            Les données relatives aux clients seront supprimées après une période de 12 mois.
        </p>
        <h2>Où les données sont-elles traitées ?</h2>
        <p>
            Les données sont traitées par nos soins dans un centre informatique en Suisse. Nous avons conclu un contrat de traitement des commandes avec l'exploitant du centre de calcul afin que le traitement soit autorisé. La Suisse dispose d'un niveau de protection des données adéquat conformément à la décision de la Commission européenne. Notre prestataire de services pour la réalisation de l'évaluation en ligne stocke les données dans l'UE. L'UE dispose également d'un niveau de protection des données adéquat par rapport à la Suisse.
        </p>
        <h2>Vos droits en tant que "personne concernée"</h2>
        <p>
            Vous avez le droit d'être informé des données personnelles que nous traitons à votre sujet.
            Dans le cas d'une demande d'information qui n'est pas faite par écrit, nous vous demandons de comprendre que nous pouvons alors vous demander de fournir des preuves qui attestent que vous êtes la personne que vous prétendez être.
            En outre, vous avez le droit de corriger ou de supprimer vos données à caractère personnel ou de limiter leur traitement dans la mesure où vous êtes légalement autorisé à le faire. Et vous avez le droit de vous opposer au traitement dans le cadre des dispositions légales. Il en va de même pour le droit à la transférabilité des données.
        </p>
        <h2>Droit de recours</h2>
        <p>
            Vous avez le droit de vous plaindre auprès d'une autorité de contrôle de la protection des données concernant le traitement de vos données personnelles par nos soins.
        </p>
    </div>
</div>