<div class="row">
    <div class="col text-left">
        <h1>Introduction</h1>
        <p>
            With this data protection declaration we inform you about the processing of personal data in the context of the use of our Internet pages. The abbreviation DSGVO stands for EU Data Protection Basic Regulation and refers to persons in the EU who visit our site (hereafter "persons from the EU"). The abbreviation DSG stands for Swiss Data Protection Act and refers to persons in Switzerland who visit our website (hereinafter "persons from Switzerland").
            In particular, we also inform you about the processing of contract data (subject matter, duration and customer categories) and payment data (bank details, payment history) that we require for the provision of contractual services to you.
            If we use personal data, e.g. concerning our services, customer care, marketing, advertising and market research, to provide our contractual services, we will inform you of this within the framework of this data protection declaration.
            Responsible in terms of data protection legislation and other regulations with data protection character:
        </p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a href="mailto:@(Globals.ATH_VITAE_MAIL)">@(Globals.ATH_VITAE_MAIL)</a>
        </p>
    </div>
</div>
<hr class="thin mb-0" />
<div class="row">
    <div class="col text-left">
        <h1>Your rights</h1>
        <h2>Right to information</h2>
        <p>
            In accordance with Art. 8 DSG / Art. 15 DSGVO, you have the right to request confirmation from us as to whether personal data relating to you is being processed by us. If this is the case, you have the right to be informed about this personal data and to receive further information as mentioned in Art. 8 DSG / Art. 15 DSGVO.
        </p>
        <h2>Right of rectification</h2>
        <p>
            In accordance with Art. 5 DSG / Art. 16 DSGVO, you have the right to demand that we immediately correct any incorrect personal data that concerns you. Taking into account the purposes of the processing, you also have the right to demand the completion of incomplete personal data - also by means of a supplementary declaration.
        </p>
        <h2>Right of cancellation</h2>
        <p>
            Persons from the EU have the right to demand that we delete personal data relating to them immediately. We are obliged to delete personal data immediately, provided that the relevant requirements of Art. 17 DSGVO are met. For details, please refer to Art. 17 DSGVO. Persons from Switzerland also have the possibility to demand the deletion of data in the cases provided by law, for example, if data is no longer necessary / required or if the consent for processing has been revoked.
            In accordance with Art. 18 DSGVO, persons from the EU have the right, under certain conditions, to demand that we restrict the processing of your personal data.
        </p>
        <h2>Right to data transferability</h2>
        <p>
            Under Art. 20 DSGVO, persons from the EU have the right to receive the personal data concerning you that you have provided us with in a structured, common and machine-readable format, and you have the right to transfer this data to another person responsible without hindrance from us, provided that the processing is based on consent pursuant to Art. 6 para. 1 letter a DSGVO or Art. 9 para. 2 letter a DSGVO or on a contract pursuant to Art. 6 para. 1 letter b DSGVO and the processing is carried out using automated procedures.
        </p>
        <h2>Right of objection</h2>
        <p>
            According to Art. 21 DSGVO, persons from the EU have the right to object to the processing of personal data relating to you on the basis of Art. 6 para. 1 letter e or f DSGVO; this also applies to profiling based on these provisions.
            If we process your personal data for the purpose of direct marketing, you have the right to object at any time to the processing of personal data concerning you for the purpose of such marketing, including profiling, insofar as it is linked to such direct marketing.
        </p>
        <h2>Right to protection against automated decision making, including profiling</h2>
        <p>
            According to Art. 22 DSGVO, you have the right that a decision which affects you legally or in a similar way is not based exclusively on the automated processing of your data, which is the only decisive factor for the subsequent decision. This also includes profiling.
            Such automated decision making may only take place if
        </p>
        <p>
            <ul>
                <li>
                    it is necessary for the conclusion or performance of a contract,
                </li>
                <li>
                    a legal provision permits this,
                </li>
                <li>
                    the explicit consent of the data subject has been obtained.
                </li>
            </ul>
        </p>
        <h2>Right of appeal - supervisory authority</h2>
        <p>
            Under Art. 77 DSGVO, persons from the EU have the right to lodge a complaint with the supervisory authority, without prejudice to any other administrative or judicial remedy. This right exists in particular in the Member State in which you are resident, your place of work or the place where the alleged offence is committed if you consider that the processing of personal data relating to you is in breach of the DPA.
            You can complain about the processing of personal data on our part to the Federal Data Protection and Information Commissioner and take civil and/or public law remedies (see Art. 15 / 25 / 27 / 29 FADP).
        </p>
        <h2>Enforce your rights</h2>
        <p>
            If you wish to exercise any of your rights, please contact us as the responsible person at the above contact details or use one of the other ways we offer to send us this message. If you have any questions, please contact us.
        </p>
        <hr class="thin mt-4" />
        <h1>Technology</h1>
        <h2>Server Log Files</h2>
        <p>
            When you call up our website, the company commissioned by us to operate the website processes and stores not only technical information on the terminal device used by you (operating system, screen resolution and other, non-personal features) and the browser (version, language settings), but in particular the public IP address of the computer with which you visit our website, including the date and time of access. The IP address is a unique numerical address under which your end device sends or retrieves data to the Internet. As a rule, we or our service provider do not know who is behind an IP address unless you provide us with data that allows us to identify you while you are using our website. Furthermore, a user may be identified if legal action is taken against him/her (e.g. in the event of attacks against our website) and we obtain knowledge of his/her identity in the course of investigations. As a rule, therefore, you do not need to worry that we can assign your IP address to you.
            Our service provider does not use the processed data in a personalized manner for statistical purposes, so that we can trace which end devices are used with which settings for visiting our website, in order to optimize them for these if necessary. These statistics contain no personal data. The basis for compiling the statistics is our interest in the improvement and economic operation of our business (legal basis DSGVO: Art. 6 para. 1 lit. f).
            The IP address is used for technical reasons to enable you to access and use our website and to detect and defend against attacks against our service provider or our website. Unfortunately, there are repeated attacks to cause damage to the operators of websites or their users (e.g. preventing access, spying on data, spreading malicious software (e.g. viruses) or other unlawful purposes). Such attacks would impair the proper functioning of the computer centre of the company commissioned by us, the use of our website or its functionality and the security of visitors to our website. The processing of the IP address, including the time of access, is carried out to defend against such attacks. Through our service provider, we pursue with this processing the legitimate interest to ensure the functionality of our website and to fend off illegal attacks against us and the visitors of our website. Basis for the processing is the improvement and economic operation of our business (legal basis DSGVO: Art. 6 para. 1 lit. f).
            The stored IP data is deleted (by anonymisation) when it is no longer required for the detection or defence of an attack.
        </p>
        <h2>Cookies</h2>
        <p>
            We use cookies and comparable technologies (local storage) for the operation of our website, to ensure the technical functioning of our website, to understand how visitors use our website and to store preferences that a user has made in his browser.
            A cookie is a small text file that is stored on your terminal device when your browser calls up our website. If you call up our website again later, we can read out these cookies again. Cookies are stored for different lengths of time. You can set your browser to accept cookies at any time, but this may mean that our website no longer functions properly. You can also delete cookies independently at any time. If you do not do so, we can specify when saving, how long a cookie should be stored on your computer. Here we have to distinguish between so-called session cookies and permanent cookies. Session cookies are deleted by your browser when you leave our website or exit the browser. Persistent cookies are stored for the duration that we specify during storage.
            We use cookies for the following purposes:
        </p>
        <p>
            <ul>
                <li>Technically required cookies, which are mandatory for the use of the functions of our website (e.g. recognition of whether you have logged in). Without these cookies, certain functions could not be provided.</li>
                <li>Functional cookies, which are used to technically carry out certain functions that you want to use.</li>
                <li>Analysis cookies, which serve to analyse your user behaviour.</li>
                <li>Third party cookies. Third-party cookies are stored by third parties whose features we embed on our site to enable certain features. They can also be used to analyse user behaviour.</li>
            </ul>
        </p>
        <p>
            Most of the browsers used by our users allow you to set which cookies should be stored and enable you to delete (certain) cookies. If you restrict the storage of cookies to certain websites or do not allow cookies from third party websites, this may under certain circumstances mean that our website can no longer be used to its full extent. Here you can find information on how to adjust the cookie settings for the most common browsers:
        </p>
        <p>
            <ul>
                <li>Google Chrome - <a alt="Google Chrome link" href="@Globals.GOOGLE_CHROME_LINK">@Globals.GOOGLE_CHROME_LINK</a></li>
                <li>Internet Explorer - <a alt="Internet Explorer link" href="@Globals.INTERNET_EXPLORER_LINK">@Globals.INTERNET_EXPLORER_LINK</a></li>
                <li>Firefox - <a alt="Firefox" href="@Globals.FIREFOX_LINK">@Globals.FIREFOX_LINK</a></li>
                <li>Safari - <a alt="Safari" href="@Globals.SAFARI_LINK">@Globals.SAFARI_LINK</a></li>
            </ul>
        </p>
        <h2>Contact form</h2>
        <p>
            If you send us a message via one of the contact options offered, we will use the data you provide us with to process your request. The basis for this is our justified interest in answering your request (legal basis DSGVO: Art. 6 para. 1 lit. f). If your enquiry serves to conclude a contract with us, a further basis for processing is the fulfilment of this contract (legal basis DSGVO: Art. 6 para. 1 lit. b). The data will be deleted after your enquiry has been dealt with. If we are legally obliged to store the data for a longer period of time, the data will be deleted after expiry of the corresponding period.
        </p>
        <h2>Registration / Customer account</h2>
        <p>
            When you create a customer account, we process the data provided by you for this purpose in order to create and manage this account and to enable you to make use of the services associated with your customer account. The basis of the processing is your consent (legal basis DSGVO: Art. 6 para. 1 lit. a). If the creation of the customer account serves the conclusion of a contract with us, an additional basis for processing is the fulfilment of this contract (legal basis DSGVO: Art. 6 para. 1 lit. b).
            This data is stored until the customer account is deleted. If we are legally obliged to store the data for a longer period (e.g. to fulfil accounting obligations) or legally entitled to store the data for a longer period (e.g. due to an ongoing legal dispute against the owner of a user account), the data will be deleted after expiry of the storage obligation or the legal entitlement.
        </p>
        <h2>Data transmission upon conclusion of contract</h2>
        <p>
            If you make use of a service, we process the data you provide for the conclusion of the contract and its execution. To the extent necessary, data will be transferred to service providers for the shipping and billing of your purchase. The basis of the processing is the fulfilment of the contract (legal basis DSGVO: Art. 6 para. 1 lit. b).
            We also process this data to detect and prevent attempts at fraud (legal basis DSGVO: Art. 6 para. 1 lit. f). In this way we pursue the goal of protecting ourselves against fraudulent transactions.
            Data that is stored in connection with the conclusion of a contract for the purchase of a service is deleted after expiry of the statutory retention period. Insofar as legal recording and storage obligations (e.g. storage of invoices in accordance with tax law) exist due to the processing of a purchase contract, these are applied (legal basis according to DSGVO: Art. 6 Para. 1 lit. c.).
            We delete or anonymise the data when they are no longer required for the execution of the respective contract and there are no longer any legal obligations to store them.
        </p>
        <h2>Transfer of data to third parties</h2>
        <p>
            As a matter of principle, we do not pass on the personal data provided to us to third parties, i.e. in particular not to third parties for advertising purposes.
            However, we work together with service providers (contract processors) for the operation of these Internet pages or for the provision of products / services. It may happen that such service providers become aware of personal data. We select our service providers carefully - especially with regard to data protection and data security - and take all measures required by data protection law for permissible data processing.
        </p>
        <h2>Data processing in Switzerland / in the EU</h2>
        <p>
            We generally process data in Switzerland (data transfer upon conclusion of contract, server log files, contact form, registration, cookies). For Switzerland, the EU has established an adequate level of data protection by Decision 2000/518/EC. However, some of our service providers, whose plug-ins and tools we use, process data outside the EU. This is disclosed in the context of this data protection declaration when explaining which plug-ins / tools are used.
            Furthermore, we ensure that the provider is located in a country with an appropriate level of data protection in accordance with Swiss law (Art. 7 VDSG) and is listed on the list of the FDPIC.
            The appropriate level of data protection is guaranteed within the framework of participation in the so-called "Privacy Shield" and the measures taken by the service provider for data protection and data security.
        </p>
        <hr class="thin mt-4" />
        <h1>Third party applications</h1>
        <h2>Analysis tool "Google Analytics"</h2>
        <p>
            We may use Google Analytics, a service provided by Google LLC ("Google"), Amphitheatre Parkway, Mountain View, CA 94043, USA, through the Google Tag Manager. Google uses a so-called "cookie" for this purpose. This is a small text file that is stored on your computer by your browser. By means of this cookie, Google receives information about which website you have visited and, in addition, in particular the following information browser type/version, operating system used, technical information about the operating system and the browser as well as the public IP address of the computer you are using. We use Google Analytics in such a way that your IP address is only used in anonymised form. This anonymisation will take place after notification by Google in the European Union or a member state of the EEA. Only in exceptional cases should the full IP address be transferred to a Google server in the USA and only shortened there. According to Google, the anonymisation is carried out before the IP address is stored on a permanent data carrier for the first time. For details, we refer to the data protection declaration of Google, available at
            <a alt="Google Analytics" href="@Globals.GOOGLE_ANALYTICS_INFO">@Globals.GOOGLE_ANALYTICS_INFO</a>. Google Analytics allows us to compile usage statistics for our website in a non-personal form, as well as demographic data about visitors and their user behavior. We also compile statistics that help us to better understand how our website is found, in order to improve our search engine optimization and our advertising measures. With this processing we pursue the legitimate interest to be able to improve our website and our advertising measures (legal basis DSGVO: Art. 6 para. 1 lit. f).
            You will find under <a alt="Google Analytics optout" href="@Globals.GOOGLE_ANALYTICS_DEACTIVATOR">@Globals.GOOGLE_ANALYTICS_DEACTIVATOR</a> Information on how you can object to the use of Google Analytics.
            Google is a member of the PrivacyShield Agreement and has signed a contract with us for Google Analytics. The pseudonymous data is deleted after 12 months.
        </p>
        <h2>Google Adwords / Conversion Tracking</h2>
        <p>
            This website uses Google AdWords. AdWords is an online advertising program of Google Inc, 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States ("Google").
            As part of Google AdWords, we use what is known as conversion tracking. When you click on an ad placed by Google, a conversion tracking cookie is set. Cookies are small text files that the internet browser places on the user's computer. These cookies expire after 30 days and are not used to personally identify users. If the user visits certain pages of this website and the cookie has not expired, Google and we may recognize that the user clicked on the ad and was redirected to that page.
            Each Google AdWords customer receives a different cookie. The cookies cannot be tracked through the websites of AdWords customers. The information collected through the conversion cookie is used to compile conversion statistics for AdWords customers who have opted in to conversion tracking. Customers are told the total number of users who clicked on their ad and were redirected to a page with a conversion tracking tag. However, they do not receive any information that can be used to personally identify users. If you don't want to participate in tracking, you can opt-out of this use by slightly disabling the Google Conversion Tracking cookie on your web browser under User Preferences. You will then not be included in the conversion tracking statistics.
            The storage of "conversion cookies" is based on the legitimate interest in analysing user behaviour in order to optimise both the web offering and advertising (legal basis DSGVO: Art. 6 para. 1 lit. f).
            You can set your browser so that you are informed about the setting of cookies and allow cookies only in individual cases, exclude the acceptance of cookies for specific cases or in general and activate the automatic deletion of cookies when closing the browser. If you deactivate cookies, the functionality of this website may be limited.
        </p>
        <h2>Google Captcha</h2>
        <p>
		By using this website you agree to the use of Google reCAPTCHA by us. Google will truncate your IP address within the member states of the European Union or in other states that are members of the Agreement on the European Economic Area and your IP address will thus be anonymised. Only in exceptional cases will a complete IP address be transmitted to a Google server in the United States and truncated there. The use of reCAPTCHA is subject to Google's privacy policy and terms of use.
		</p>
       <hr class="thin mt-4" />
        <h1>Data protection</h1>
        <h2>Adaptation of data protection information</h2>
        <p>
            We always keep this data protection information up to date. Therefore, we reserve the right to change it from time to time and to update it if changes occur in the collection, processing or use of your data. The current version of the data protection declaration is always available at the following address:
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>Who is responsible for data processing?</h2>
        <p>Responsible in the sense of the data protection law:</p>
        <p>
            <b>myvitae.ch</b><br />
            Alexandros Theodoracatos<br />
            Zwischenbächen 143<br />
            8048 Zürich<br />
            @SharedResource.Switzerland<br />
            <a alt="myVitae mail" href="mailto:@Globals.ATH_VITAE_MAIL">@Globals.ATH_VITAE_MAIL</a><br />
        </p>
        <p>
            You will find further information about our company, details of the persons authorised to represent us and also further contact details in our imprint on our website:
			<a alt="myVitae" href="@Globals.VITAE_URL">@Globals.VITAE_URL</a>.
        </p>
        <h2>Which of your data are processed by us? And for what purposes?</h2>
        <p>
            We process the data that you have sent or uploaded to us by means of a contact form or in connection with the creation of a CV.
        </p>
        <h2>On what legal basis is this based?</h2>
        <p>
            The legal basis for the processing of personal data in connection with the use of our services is Art. 6 para. 1 let. b DSGVO. According to this, the processing of data is permitted if this is necessary for the conclusion of a contract. Should the data be necessary after the provision of our services, e.g. for legal prosecution, data processing can be carried out on the basis of the requirements of Art. 6 DSGVO, in particular to safeguard legitimate interests in accordance with Art. 6 para. 1 letter f) DSGVO. Our interest then consists in the assertion or defence of claims.
        </p>
        <h2>How long is the data stored?</h2>
        <p>
            Customer data will be deleted after a period of 12 months.
        </p>
        <h2>Where is the data processed?</h2>
        <p>
            The data is processed by us in a computer centre in Switzerland. We have concluded an order processing contract with the operator of the computer centre so that processing is permitted. Switzerland has an adequate level of data protection in accordance with the decision of the EU Commission. Our service provider for conducting the online assessment stores data in the EU. The EU also has an adequate level of data protection in relation to Switzerland.
        </p>
        <h2>Your rights as a "data subject"</h2>
        <p>
            You have the right to be informed about the personal data we process about you.
            In the event of a request for information that is not made in writing, we ask for your understanding that we may then require you to provide evidence that proves that you are the person you claim to be.
            Furthermore, you have the right to correct or delete your personal data or to restrict its processing to the extent that you are legally entitled to do so. And you have the right to object to the processing within the scope of the statutory provisions. The same applies to a right to data transferability.
        </p>
        <h2>Right of appeal</h2>
        <p>
            You have the right to complain to a data protection supervisory authority about the processing of personal data by us.
        </p>
    </div>
</div>