@model Vitae.Areas.CV.Pages.IndexModel

@inject IConfiguration configuration
<!-- Modal -->
<!-- Button trigger modal -->
<button id="btnShowPasswordModal" type="button" class="btn btn-primary cancel d-none" data-toggle="modal" data-target="#passwordModal"></button>
<form class="form-horizontal" method="post" data-ajax-method="post" enctype="multipart/form-data">
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-key fa-fw mr-2"></i>@SharedResource.SecurityCheck</h5>
                </div>
                <div class="modal-body">
                    @if (Model.CheckVM.MustCheckPassword)
                    {
                        <p>@SharedResource.PasswordProtectionDesc</p>
                        <div class="form-group">
                            <label class="control-label text-body" asp-for="@Model.Password"></label>
                            <input type="password" class="form-control mb-1" asp-for="@Model.Password" autofocus />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                    }
                    @if (Model.CheckVM.MustCheckCaptcha)
                    {
                        <p>@SharedResource.SecurityCheckDesc</p>
                        <div class="form-group mb-0">
                            <label class="control-label text-body required">@SharedResource.SecurityCheck</label>
                            <div class="g-recaptcha" data-sitekey="@configuration["reCAPTCHA:SiteKey"]" data-callback="enableSubmit"></div>
                        </div>
                    }

                    @if (Model.ModelState.ErrorCount > 0)
                    {
                        <div class="form-group mb-0 mt-3">
                            <div class="alert alert-danger mb-0 pb-0" role="alert">
                                <div asp-validation-summary="All" class="text-danger pb-0"></div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <input id="submitCaptcha" type="submit" class="btn btn-primary" value="@SharedResource.Submit" asp-disabled="@Model.CheckVM.MustCheckCaptcha" />
                </div>
            </div>
        </div>
    </div>
</form>