@page
@model Vitae.Areas.Identity.Pages.Account.Manage.ChangeLanguageModel
@{
    ViewData["Title"] = SharedResource.ChangeLanguage;
}

    <div id="panel">
        <form id="change-password-form" method="post">
            <div class="card">
                <div class="card-header">
                    <h1 class="font-weight-bold"><i class="fas fa-globe-americas fa-fw"></i>@SharedResource.ChangeLanguage</h1>
                    <p>Ändern Sie hier die Sprache der Webseite. Bitte stellen Sie sicher, dass Sie zuvor Cookies akzeptiert haben.</p>
                </div>
                <div class="card-body">

                    <div class="card">
                        <div class="card-header font-weight-bold">
                            @SharedResource.ChangeLanguage
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <select asp-for="@Model.ApplicationLanguage" class="form-control" asp-items="@(new SelectList(Enum.GetValues(typeof(ApplicationLanguage)).Cast<ApplicationLanguage>().OrderBy(c => c.Description()).Select(ma => new SelectListItem { Text = ma.Description(), Value =  ma.ToString() }), "Value", "Text"))">
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="form-row">
                        <div class="form-group col mb-0 text-right">
                            <button type="submit" class="btn btn-primary float-right">@SharedResource.Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>