<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Globals.APPLICATION_NAME</title>

    <link rel="stylesheet" href="~/css/landingpage.min.css" />
    <partial name="_Styles" />
</head>

<body id="page-top" class="@(ViewBag.ShowSlideshow ?? false ? "normal-screen" : "bg-screen")">
    <header>
        @if (ViewBag.ShowSlideshow ?? false)
        {
            <div id="vitae-indicators" class="carousel slide carousel-fade" data-interval="6000" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" style="background-image: url('/img/backgrounds/bg0.jpg')"></div>
                    <div class="carousel-item" style="background-image: url('/img/backgrounds/bg1.jpg')"></div>
                    <div class="carousel-item" style="background-image: url('/img/backgrounds/bg2.jpg')"></div>
                    <div class="carousel-item" style="background-image: url('/img/backgrounds/bg3.jpg')"></div>
                </div>
            </div>
        }
    </header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <img alt="myVitae" src="~/img/logo.png" class="d-none d-md-block logo" title="@Globals.APPLICATION_NAME" />
            <img alt="myVitae" src="~/img/logo.png" class="d-block d-md-none logo-small" title="@Globals.APPLICATION_NAME" />

        </a>
        <div class="ml-auto">
            @if (ViewBag.StartPage ?? false)
            {
            <div class="buttonbar">
                <a href="/Identity/Account/Login" class="btn btn-outline-secondary text-white align-baseline notransition mr-1">@SharedResource.SignIn</a>
                <a href="/Identity/Account/Register" class="btn btn-success ml-2 mr-2 notransition align-baseline">@SharedResource.Register</a>
            </div>
            }
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="mainframe">
        @RenderBody()
    </div>

    @if (ViewBag.StartPage ?? false)
    {
        <div class="scrollbar">
            <div class="w-100">
                <div class="row ml-0 mr-0">
                    <div class="col text-center">
                        <a class="js-scroll-trigger" href="#subframe"><img src="~/img/scroll.gif" class="scroll" alt="Scroll" /></a>
                    </div>
                </div>
            </div>
        </div>
    }

    <footer class="@(ViewBag.StartPage ?? false ? "" : "account")">
        <div class="w-100">
            <div class="d-flex justify-content-end small mr-xl-4 mr-md-4 mr-sm-4 mr-2">
                <a class="js-scroll-trigger" href="/Imprint#imprint"><i class="fas fa-balance-scale mr-1"></i>@SharedResource.Imprint</a>
                <div class="ml-1 mr-1">&middot;</div>
                <div class="text-muted">&copy; @DateTime.Now.Year, <a class="ml-1" href="@Globals.VITAE_URL">@Globals.APPLICATION_NAME</a></div>
                <div class="ml-1 mr-1">&middot;</div>
                <div>Made with <font color="red">❤</font> in Switzerland</div>
            </div>
        </div>
    </footer>

    <div id="subframe" class="subframe">

        @RenderSection("Subframe", false)

        <!-- Scroll to Top Button-->
        <a id="scrollToTopButton" class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>