<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Globals.APPLICATION_NAME</title>

    <link rel="stylesheet" href="~/css/landingpage.min.css" />
    <partial name="_Styles" />
</head>

<body id="page-top">
    <header>
        <div id="vitae-indicators" class="carousel slide carousel-fade" data-interval="6000" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('/img/backgrounds/bg0.jpg')"></div>
                <div class="carousel-item" style="background-image: url('/img/backgrounds/bg1.jpg')"></div>
                <div class="carousel-item" style="background-image: url('/img/backgrounds/bg2.jpg')"></div>
                <div class="carousel-item" style="background-image: url('/img/backgrounds/bg3.jpg')"></div>
                <div class="carousel-item" style="background-image: url('/img/backgrounds/bg4.jpg')"></div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <img src="~/img/logo.png" class="ml-1" title="@Globals.APPLICATION_NAME" />
        </a>
        <div class="ml-auto">
            <ol class="carousel-indicators">
                <li data-target="#vitae-indicators" data-slide-to="0"></li>
                <li data-target="#vitae-indicators" data-slide-to="1"></li>
                <li data-target="#vitae-indicators" data-slide-to="2"></li>
                <li data-target="#vitae-indicators" data-slide-to="3"></li>
                <li data-target="#vitae-indicators" data-slide-to="4"></li>
            </ol>
            <a href="/Identity/Account/Login" class="text-white mr-4 align-baseline">@SharedResource.SignIn</a>
            <a href="/Identity/Account/Register" class="btn btn-success ml-2 mr-2 align-baseline">@SharedResource.Register</a>
        </div>
    </nav>

    @RenderSection("CookiePolicy", false) 

<div class="mainframe">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-xl-6 text-left my-auto">
                <div class="ml-xl-5 mr-xl-5 ml-md-4 mr-md-4 ml-sm-3 mr-sm-3 ml-xs-2 mr-xs-2 ml-2 mr-2">
                    <div id="adContainer" class="bg-white-opaque p-5 ml-xl-5 mr-xl-5 mb-xl-5 rounded shadow">
                        <h1>@(CodeHelper.GetStaticPropValue(typeof(SharedResource), $"AdTextA{new Random().Next() % 3}"))</h1>
                        <h2 class="mb-5">@SharedResource.AdTextB0</h2>
                        <div class="form-group mt-5">
                            <a href="/Identity/Account/Register" class="btn btn-lg btn-success">@SharedResource.Register</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-none d-xl-block text-center my-auto">
                <div class="mb-5">
                    <img src="~/img/preview.png" alt="@Globals.APPLICATION_NAME" class="fit-image" />
                </div>
            </div>
        </div>
    </div>
</div>
    @RenderSection("Scrollbar", false)

        <footer class="bg-light">
            <div class="w-100">
                <div class="d-flex justify-content-end small mr-4">
                    <div>
                        <a class="js-scroll-trigger" href="/Disclaimer#disclaimer">@SharedResource.Disclaimer</a>
                    </div>
                    <div class="ml-1 mr-1">&middot;</div>
                    <div>
                        <a class="js-scroll-trigger" href="/CookiePolicy#cookiepolicy">@SharedResource.CookiePolicy</a>
                    </div>
                    <div class="ml-1 mr-1">&middot;</div>
                    <div>
                        <a class="js-scroll-trigger" href="/LegalNotice#legalnotice">@SharedResource.LegalNotice</a>
                    </div>
                    <div class="ml-1 mr-1 d-none d-xs-block d-md-block">&middot;</div>
                    <div class="text-muted d-none d-xs-block d-md-block">&copy; @DateTime.Now.Year, <a class="ml-1" href="https://myvitae.ch">@Globals.APPLICATION_NAME</a></div>
                    <div class="ml-1 mr-1 d-none d-xs-block d-md-block">&middot;</div>
                    <div class="d-none d-xs-block d-md-block">Made with <font color="red">❤</font> in Switzerland</div>
                </div>
            </div>
        </footer>

        <div id="subframe" class="subframe">

            @RenderBody()

            <!-- Scroll to Top Button-->
            <a id="scrollToTopButton" class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

        </div>

        <partial name="_Scripts" />
        @RenderSection("Scripts", required: false)
</body>
</html>