@model BasePageModel

<div class="form-control d-sm-block d-md-inline mt-2 mr-2">
    <div class="pretty p-switch p-slim mr-0">
        <input type="checkbox" id="@nameof(Model.AddToTop)" name="@nameof(Model.AddToTop)" class="dirty-ignore cancel" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
        <div class="state">
            <label class="cursor-pointer" asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
        </div>
    </div>
</div>
<div class="form-control d-sm-block d-md-inline mt-2">
    <div class="pretty p-switch p-slim mr-0 mr-0">
        <input type="checkbox" id="@nameof(Model.Collapsed)" name="@nameof(Model.Collapsed)" class="dirty-ignore cancel" value="true" onclick="$('#btnCollapse').click()" checked="@(Model.Collapsed ? "checked" : null)" />
        <div class="state">
            <label class="cursor-pointer" asp-for="@Model.Collapsed">@SharedResource.Collapse</label>
        </div>
    </div>
</div>