@model Tuple<BasePageModel, string, string, string>

<div class="card-header">
    <div class="float-left">
        <h1><i class="@Model.Item2 mr-3"></i>@Model.Item3</h1>
        <p>@Model.Item4</p>
    </div>
    <div id="languageSelect" class="float-right mt-2 mt-xs-3 mt-sm-3 mt-md-3 mt-xl-3">
        <label class="control-label float-right mr-1" for="lang">@SharedResource.CVLanguage</label>
        <select asp-for="@Model.Item1.CurriculumLanguageCode" class="form-control dirty-ignore cancel" onchange="setHiddenLanguageSelect(); $('#btnLanguageChange').trigger('click')" asp-items="@(new SelectList(Model.Item1.CurriculumLanguages, "LanguageCode", "Name"))"></select>
        <input id="@nameof(Model.Item1.CurriculumLanguageCode)" type="hidden" name="@nameof(Model.Item1.CurriculumLanguageCode)" value="@Model.Item1.CurriculumLanguageCode" />
    </div>
</div>