@inject UserManager<IdentityUser> UserManager

@{ 
    var curriculumID = Guid.Parse(User.Claims.Single(c => c.Type == Claims.CURRICULUM_ID).Value);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vitae</title>

    <link rel="stylesheet" href="~/css/sbadmin.min.css" />
    <partial name="_Styles" />
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <button class="btn btn-link order-1 navbar-toggler d-block" id="sidebarToggle" href="#">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/Manage">
            <img src="~/img/Logo.png" class="ml-1" title="Vitae" />
        </a><!-- Navbar Search-->
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-0 mr-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/Identity/Account/Manage/ChangePassword"><i class="fas fa-key fa-fw"></i>@SharedResource.ChangePassword</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Identity/Account/Logout"><i class="fas fa-sign-out-alt fa-fw"></i>@SharedResource.Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    @{ 
       var menuEntries = new List<Tuple<string, string, string>>()
       {
          new Tuple<string, string,string>(nameof(Personalities), "fa-address-book", SharedResource.PersonalDetails),
          new Tuple<string, string,string>(nameof(Abouts), "fa-user-edit", SharedResource.About),
          new Tuple<string, string,string>(nameof(Experiences), "fa-briefcase", SharedResource.Experiences),
          new Tuple<string, string,string>(nameof(Educations), "fa-graduation-cap", SharedResource.Educations),
          new Tuple<string, string,string>(nameof(Courses), "fa-book-reader", SharedResource.Courses),
          new Tuple<string, string,string>(nameof(Abroads), "fa-plane", SharedResource.Abroads),
          new Tuple<string, string,string>(nameof(Languages), "fa-globe-americas", SharedResource.Languages),
          new Tuple<string, string,string>(nameof(Interests), "fa-volleyball-ball", SharedResource.Interests),
          new Tuple<string, string,string>(nameof(Awards), "fa-trophy", SharedResource.Awards),
          new Tuple<string, string,string>(nameof(Sociallinks), "fa-link", SharedResource.SocialLinks),
          new Tuple<string, string,string>(nameof(Skills), "fa-tools", SharedResource.Skills),
          new Tuple<string, string,string>(nameof(Certificates), "fa-certificate", SharedResource.Certificates),
          new Tuple<string, string,string>(nameof(References), "fa-user-tie", SharedResource.References),
       };
     }

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">@SharedResource.Overview</div>
                        <a class="nav-link" href="/Manage">
                            <i class="fas sideIcon fa-chart-line"></i>
                            @SharedResource.Dashboard
                        </a>
                        <a class="nav-link" href="/Manage/@nameof(Settings)">
                            <i class="fas sideIcon fa-cogs"></i>
                            @SharedResource.Settings
                        </a>
                        <a class="nav-link" href="/Manage/@nameof(Publications)">
                            <i class="fas sideIcon fa-share-alt"></i>
                            @SharedResource.Publications
                        </a>
                        <div class="sb-sidenav-menu-heading">@SharedResource.PersonalData</div>
                        @foreach (var menuEntry in menuEntries)
                        {
                            <a class="nav-link" href="/Manage/@menuEntry.Item1">
                                <i class="fas sideIcon @menuEntry.Item2"></i>
                                @menuEntry.Item3
                            </a>
                        }

                        <div class="sb-sidenav-menu-heading">@SharedResource.CurriculumVitae</div>
                        <a class="nav-link mb-4" href="/CV/@curriculumID">
                            <i class="fas fa-address-card sideIcon"></i>
                            @SharedResource.MyVitae
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">@SharedResource.LoggedInAs:</div>
                    <div class="small">
                        @UserManager.GetUserName(User)
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="mt-2 ml-3 mr-3">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="mt-auto fixed-bottom">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-end small mr-3">
                        Copyright &copy; @DateTime.Now.Year, Vitae &middot; Made with<font color="red">&nbsp;❤&nbsp;</font> in Switzerland
                        @*<div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>