@inject UserManager<IdentityUser> UserManager

@{ 
    var curriculumID = Guid.Parse(User.Claims.Single(c => c.Type == Claims.CURRICULUM_ID).Value);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vitae</title>

    <link rel="stylesheet" href="~/css/sbadmin.min.css" />
    <partial name="_Styles" />
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <button class="btn btn-link order-1 navbar-toggler d-block" id="sidebarToggle" href="#">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/Manage">
            <img src="~/img/Logo.png" class="ml-1" title="Vitae" />
        </a><!-- Navbar Search-->
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-0 mr-3">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/Identity/Account/Manage/ChangePassword"><i class="fas fa-key fa-fw"></i>@SharedResource.ChangePassword</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Identity/Account/Logout"><i class="fas fa-sign-out-alt fa-fw"></i>@SharedResource.Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">@SharedResource.Overview</div>
                        <a class="nav-link" href="/Manage">
                            <i class="fas fa-chart-line sideIcon"></i>
                            @SharedResource.Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">@SharedResource.PersonalData</div>
                        <a class="nav-link" href="/Manage/@(nameof(Personalities))">
                            <i class="fas fa-address-book sideIcon"></i>
                            @SharedResource.PersonalDetails
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(About))">
                            <i class="fas fa-image sideIcon"></i>
                            @SharedResource.About
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Experiences))">
                            <i class="fas fa-briefcase sideIcon"></i>
                            @SharedResource.Experiences
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Educations))">
                            <i class="fas fa-graduation-cap sideIcon"></i>
                            @SharedResource.Educations
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Courses))">
                            <i class="fas fa-university sideIcon"></i>
                            @SharedResource.Courses
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Abroads))">
                            <i class="fas fa-plane sideIcon"></i>
                            @SharedResource.Abroads
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Languages))">
                            <i class="fas fa-globe-americas sideIcon"></i>
                            @SharedResource.Languages
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Interests))">
                            <i class="fas fa-volleyball-ball sideIcon"></i>
                            @SharedResource.Interests
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Awards))">
                            <i class="fas fa-trophy sideIcon"></i>
                            @SharedResource.Awards
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Sociallinks))">
                            <i class="fab fa-twitter sideIcon"></i>
                            @SharedResource.SocialLinks
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Skills))">
                            <i class="fas fa-tools sideIcon"></i>
                            @SharedResource.Skills
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(Certificates))">
                            <i class="fas fa-certificate sideIcon"></i>
                            @SharedResource.Certificates
                        </a>
                        <a class="nav-link" href="/Manage/@(nameof(References))">
                            <i class="fas fas fa-comment sideIcon"></i>
                            @SharedResource.References
                        </a>
                        <div class="sb-sidenav-menu-heading">@SharedResource.CurriculumVitae</div>
                        <a class="nav-link mb-4" href="/CV/@curriculumID">
                            <i class="fas fa-address-card sideIcon"></i>
                            @SharedResource.MyVitae
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">@SharedResource.LoggedInAs:</div>
                    <div class="small">
                        @UserManager.GetUserName(User)
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="mt-2 ml-3 mr-3">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="mt-auto fixed-bottom">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-end small mr-3">
                        Copyright &copy; @DateTime.Now.Year, Vitae &middot; Made with<font color="red">&nbsp;❤&nbsp;</font> in Switzerland
                        @*<div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>