@model Vitae.Areas.Manage.Pages.Certificates.IndexModel

<div id="panel">
    <div class="card">
        <partial name="_CardHeader" model="@(new Tuple<BasePageModel, string, string, string>(Model, " fas fa-certificate", SharedResource.Certificates, $"{SharedResource.CertificatesDescription} {SharedResource.ChronologicalDesc}"))" />

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Certificates"></label>
                    <div>
                        <button asp-page-handler="AddCertificate" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-success cancel font-weight-bold mr-2" disabled="@(Model.Certificates?.Count < Model.MaxCertificates ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <partial name="_CardCollapsebar" model="Model">
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Certificates.Count; i++)
            {
                <div class="card @(i < Model.Certificates.Count - 1 ? "mb-4" : "mb-2")">
                    <div class="card-header card-header-small">
                        <div class="float-left line-height-2">
                            <a data-toggle="collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i" class="d-block text-dark mr-1">
                                @(i + 1). @SharedResource.Certificate
                                <input type="hidden" asp-for="@Model.Certificates[i].Collapsed" />
                            </a>
                        </div>

                        <partial name="_CardButtonbar" model="new Tuple<int, int, IList<BaseVM>, string, string>(i, Model.MaxCertificates, Model.Certificates.Cast<BaseVM>().ToList(), SharedResource.Certificate, nameof(Certificate))" />

                    </div>
                    <div class="card-body collapse pb-0 @(Model.Certificates[i].Collapsed ? null : "show")" id="collapse-@i">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="control-label" asp-for="@Model.Certificates[i].Name"></label>
                                <input class="form-control" type="text" asp-for="@Model.Certificates[i].Name" />
                                <span asp-validation-for="@Model.Certificates[i].Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" asp-for="@Model.Certificates[i].Issuer"></label>
                                <input class="form-control" type="text" asp-for="@Model.Certificates[i].Issuer" />
                                <span asp-validation-for="@Model.Certificates[i].Issuer" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label" asp-for="@Model.Certificates[i].Link"></label>
                                <input class="form-control" type="text" asp-for="@Model.Certificates[i].Link" />
                                <span asp-validation-for="@Model.Certificates[i].Link" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label" asp-for="@Model.Certificates[i].Description"></label>
                                <textarea rows="2" asp-for="@Model.Certificates[i].Description" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Certificates[i].Description" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.Certificates[i].Order" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Certificates[i].Start_Month"></label>
                                <div class="input-group">
                                    <select asp-for="@Model.Certificates[i].Start_Month" class="form-control" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                                    <div class="input-group-append">
                                        <select asp-for="@Model.Certificates[i].Start_Year" class="form-control" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 6).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                                    </div>
                                </div>
                                <div>
                                    <span asp-validation-for="@Model.Certificates[i].Start_Year" class="text-danger d-block"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Certificates[i].End_Month"></label>
                                <div class="input-group">
                                    @if (!@Model.Certificates[i].NeverExpires)
                                    {
                                        
                                            <select asp-for="@Model.Certificates[i].End_Month" class="form-control" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                                            <div class="input-group-append">
                                                <select asp-for="@Model.Certificates[i].End_Year" class="form-control" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 11).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                                            </div>
                                     }
                                    else
                                    {
                                        <input asp-for="@Model.Certificates[i].End_Month" class="ignoreValidation" type="hidden" />
                                        <input asp-for="@Model.Certificates[i].End_Year" class="ignoreValidation" type="hidden" />
                                    }
                                    <div class="@(!@Model.Certificates[i].NeverExpires ? "input-group-append" : " w-auto flex-fill")">
                                        <div class="form-control">
                                            <div class="pretty p-switch p-slim" onchange="$('#btnCheckUntilNow'+@i).trigger('click');">
                                                <input type="checkbox" id="@(nameof(Certificates))_@(i)__@nameof(CertificateVM.NeverExpires)" name="@(nameof(Certificates))[@i].@nameof(CertificateVM.NeverExpires)" value="true" checked="@(Model.Certificates[i].NeverExpires ? "checked" : null)" />
                                                <div class="state">
                                                    <label class="d-none d-sm-block cursor-pointer" asp-for="@Model.Certificates[i].NeverExpires"></label><label class="d-sm-none"></label>
                                                </div>
                                            </div>
                                            <button id="btnCheckUntilNow@(i)" asp-page-handler="ChangeNeverExpires" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <span asp-validation-for="@Model.Certificates[i].End_Year" class="text-danger text-right mt-1 d-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (i < Model.Certificates.Count - 1)
                {<hr />}
            }
        </div>
        <partial name="_CardFooter" model="@Model" />
    </div>
</div>