@model Vitae.Areas.Manage.Pages.Certificates.IndexModel

<div id="panel">
    <div class="card">
        <div class="card-header font-weight-bold">
            <h1><i class="fas fa-certificate fa-fw"></i>@SharedResource.Certificates</h1>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Certificates"></label>
                    <div>
                        <button asp-page-handler="AddCertificate" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-success cancel" disabled="@(Model.Certificates?.Count < Model.MaxCertificates ? null : "disabled")"><i class="fas fa-plus"></i></button>
                        <button asp-page-handler="RemoveCertificate" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-danger cancel" disabled="@(Model.Certificates?.Count <= 0 ? "disabled": null)"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Certificates.Count; i++)
            {
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.Certificates[i].Name"></label>
                        <input class="form-control" type="text" asp-for="@Model.Certificates[i].Name" />
                        <span asp-validation-for="@Model.Certificates[i].Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="@Model.Certificates[i].Issuer"></label>
                        <input class="form-control" type="text" asp-for="@Model.Certificates[i].Issuer" />
                        <span asp-validation-for="@Model.Certificates[i].Issuer" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" asp-for="@Model.Certificates[i].Link"></label>
                        <input class="form-control" type="text" asp-for="@Model.Certificates[i].Link" />
                        <span asp-validation-for="@Model.Certificates[i].Link" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="control-label" asp-for="@Model.Certificates[i].Description"></label>
                        <textarea rows="3" asp-for="@Model.Certificates[i].Description" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Certificates[i].Description" class="text-danger"></span>
                        <input type="hidden" asp-for="@Model.Certificates[i].Order" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label" asp-for="@Model.Certificates[i].Start_Month"></label>
                        <div class="d-flex">
                            <select asp-for="@Model.Certificates[i].Start_Month" class="form-control flex-fill mr-2" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                            <select asp-for="@Model.Certificates[i].Start_Year" class="form-control w-auto flex-fill" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 1).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" asp-for="@Model.Certificates[i].End_Month"></label>
                        <div class="d-flex">
                            <div class="form-control w-auto flex-fill">
                                <div class="pretty p-switch p-slim" onchange="$('#btnCheckNeverExpires'+@i).trigger('click');">
                                    <input type="checkbox" name="@(nameof(Certificates))[@i].@nameof(CertificateVM.NeverExpires)" value="true" checked="@(Model.Certificates[i].NeverExpires ? "checked" : null)" />
                                    <div class="state">
                                        <label asp-for="@Model.Certificates[i].NeverExpires"></label>
                                    </div>
                                </div>
                                <button id="btnCheckNeverExpires@(i)" asp-page-handler="ChangeNeverExpires" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                            </div>
                            @if (!@Model.Certificates[i].NeverExpires)
                            {
                                <select asp-for="@Model.Certificates[i].End_Month" class="form-control flex-fill ml-2 mr-2" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                                <select asp-for="@Model.Certificates[i].End_Year" class="form-control w-auto flex-fill" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 11).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                            }
                            else
                            {
                                <input asp-for="@Model.Certificates[i].End_Month" type="hidden" />
                                <input asp-for="@Model.Certificates[i].End_Year" type="hidden" />
                            }
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mt-1">
                        <div class="text-right">
                            <button asp-page-handler="UpCertificate" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-success cancel" disabled="@(i > 0 ? null : "disabled")"><i class="fas fa-arrow-up"></i></button>
                            <button asp-page-handler="DownCertificate" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-danger cancel" disabled="@(i == Model.Certificates.Count - 1 ? "disabled": null)"><i class="fas fa-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
                @if (i < Model.Certificates.Count - 1)
                {
                    <div class="form-row">
                        <div class="form-group col">
                            <hr />
                        </div>
                    </div>
                }
            }
        </div>
        <div class="card-footer">
            <div class="form-row">
                <div class="form-group col mb-0 text-right">
                     <button type="submit" class="btn btn-outline-success float-right">@SharedResource.Save</button>
                </div>
            </div>
        </div>
    </div>
</div>