@model Vitae.Areas.Manage.Pages.Abouts.IndexModel

    <div id="panel">
        <div class="card">
            <partial name="_CardHeader" model="@(new Tuple<BasePageModel, string, string, string>(Model, "fas fa-user-edit", SharedResource.About, SharedResource.AboutDetailsDescription))" />

            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col">
                        <label class="control-label" asp-for="@Model.About.AcademicTitle"></label>
                        <input class="form-control" type="text" asp-for="@Model.About.AcademicTitle" />
                        <span asp-validation-for="@Model.About.AcademicTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="control-label" asp-for="@Model.About.Slogan"></label>
                        <textarea rows="2" asp-for="@Model.About.Slogan" class="form-control"></textarea>
                        <span asp-validation-for="@Model.About.Slogan" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="control-label" asp-for="@Model.About.Photo"></label>
                        <div id="divSelector" class="form-group bd-form-group @(string.IsNullOrEmpty(@Model.About.Photo) ? null : "d-none")">
                            <button class="btn btn-secondary" type="button" onclick="$('#imgInput').trigger('click')">@SharedResource.Browse...</button>
                            <div>
                                <span asp-validation-for="@Model.About.Photo" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="divPreview" class="form-group bd-form-group @(string.IsNullOrEmpty(@Model.About.Photo) ? "d-none" : "d-flex")">
                            <div class="cropContainer">
                                <div class="input-group">
                                    <img id="imgPreview" class="imgPreview" src="@Model.About.Photo" />
                                </div>
                            </div>
                            <div class="d-inline-block align-top">
                                <button id="btnRemoveImage" type="button" class="btn btn-secondary d-block flex-fill ml-1">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-0">
                        <label class="control-label" asp-for="@Model.About.Vfile.Content"></label>
                        <div class="bd-form-group">
                            <input id="uploadedFile" type="file" asp-for="@Model.About.Vfile.Content" class="@(Model.About.Vfile?.FileName == null ? "filer" : "d-none")" />
                            <div class="uploadedFile @(Model.About.Vfile?.FileName == null ? "d-none" : null)">
                                <div class="button-group" role="group">
                                    <a class="btn btn-secondary" asp-page-handler="OpenFile" asp-route-identifier="@Model.About.Vfile?.Identifier" title="@Model.About.Vfile?.FileName">
                                        <i class="far fa-file-pdf fa-1x fa-fw"></i>
                                        @Model.About.Vfile?.FileName
                                    </a>
                                    <button id="btnRemoveFile" asp-page-handler="RemoveFile" data-ajax="true" data-confirm-text="@string.Format(SharedResource.ConfirmDelete, $"\"{Model.About.Vfile?.FileName}\"")" data-ajax-update="#panel" class="btn btn-danger cancel dirty-ignore confirmation"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <partial name="_CardFooter" model="@Model" />

            <input type="hidden" asp-for="@Model.About.Vfile.FileName" />
            <input type="hidden" asp-for="@Model.About.Vfile.Identifier" value="@Model.About.Vfile.Identifier" />
            <input type="text" asp-for="@Model.About.Photo" class="imgPhoto d-none" />
            <input id="imgInput" type="file" class="d-none" accept="image/jpeg, image/png" style="height:0; width: 0" />
        </div>
    </div>