@model Vitae.Areas.Manage.Pages.Languages.IndexModel

<div id="panel">
    <div class="card">
        <partial name="_CardHeader" model="@(new Tuple<BasePageModel, string, string>(Model, "fas fa-globe-americas", SharedResource.Languages))" />

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.LanguageSkills"></label>
                    <div>
                        <button asp-page-handler="AddLanguageSkill" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-success cancel font-weight-bold mr-2" disabled="@(Model.LanguageSkills?.Count < Model.MaxLanguageSkills ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <div class="form-control d-sm-block d-md-inline mt-2 mr-2">
                            <div class="pretty p-switch p-slim mr-0">
                                <input type="checkbox" name="@nameof(Model.AddToTop)" class="dirty-ignore cancel" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control d-sm-block d-md-inline mt-2">
                            <div class="pretty p-switch p-slim mr-0 mr-0">
                                <input type="checkbox" name="@nameof(Model.Collapsed)" class="dirty-ignore cancel" value="true" onclick="$('#btnCollapse').click()" checked="@(Model.Collapsed ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.Collapsed">@SharedResource.Collapse</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.LanguageSkills.Count; i++)
            {
                <div class="card @(i < Model.LanguageSkills.Count - 1 ? "mb-4" : "mb-2")">
                    <div class="card-header card-header-small">
                        <div class="float-left">
                            <a data-toggle="collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i" class="d-block text-dark">
                                @(i + 1). @SharedResource.Language
                                <input type="hidden" asp-for="@Model.LanguageSkills[i].Collapsed" />
                            </a>
                        </div>
                        <div class="float-right">
                            <button asp-page-handler="UpLanguageSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel @(i > 0 ? null : "d-none")"><i class="fas fa-arrow-up"></i></button>
                            <button asp-page-handler="DownLanguageSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1 @(i == Model.LanguageSkills.Count - 1 ? "d-none" : null)"><i class="fas fa-arrow-down"></i></button>
                            <button asp-page-handler="CopyLanguageSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1" disabled="@(Model.LanguageSkills.Count < Model.MaxLanguageSkills ? null: "disabled")"><i class="fas fa-copy"></i></button>
                            <button asp-page-handler="DeleteLanguageSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-danger cancel ml-1" disabled="@(Model.LanguageSkills?.Count <= 0 ? "disabled": null)"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                    <div class="card-body collapse pb-0 @(Model.LanguageSkills[i].Collapsed ? null : "show")" id="collapse-@i">
                        <div class="form-row">
                            <div class="form-group col">
                                <div class="mr-3">
                                    <label class="control-label" asp-for="@Model.LanguageSkills[i].LanguageCode"></label>
                                    <select asp-for="@Model.LanguageSkills[i].LanguageCode" class="form-control selectpicker" onchange="$('#btnSelectChange').trigger('click')" asp-items="@(new SelectList(@Model.Languages.Where(l => l.LanguageCode == Model.LanguageSkills[i].LanguageCode || !Model.LanguageSkills.Select(ls => ls.LanguageCode).Contains(l.LanguageCode)), "LanguageCode", "Name"))">
                                        <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                                    </select>
                                    <span asp-validation-for="@Model.LanguageSkills[i].LanguageCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col">
                                <label class="control-label d-block" asp-for="@Model.LanguageSkills[i].Rate"></label>
                                <input asp-for="@Model.LanguageSkills[i].Rate" class="dirty-ignore ratingstar invisible" />
                                <span asp-validation-for="@Model.LanguageSkills[i].Rate" class="text-danger d-block mt-1"></span>
                                <input type="hidden" asp-for="@Model.LanguageSkills[i].Order" />
                            </div>
                        </div>
                    </div>
                </div>
                @if (i < Model.LanguageSkills.Count - 1)
                {<hr />}
            }
        </div>
        <partial name="_CardFooter" model="@Model" />
        <button id="btnSelectChange" asp-page-handler="SelectChange" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
    </div>
</div>