@model Vitae.Areas.Manage.Pages.Languages.IndexModel

<div id="panel">
    <div class="card">
        <div class="card-header font-weight-bold">
            <h1><i class="fas fa-globe-americas fa-fw"></i>@SharedResource.Languages</h1>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.LanguageSkills"></label>
                    <div>
                        <button asp-page-handler="AddLanguageSkill" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-success cancel" disabled="@(Model.LanguageSkills?.Count < Model.MaxLanguageSkills ? null : "disabled")"><i class="fas fa-plus"></i></button>
                        <button asp-page-handler="RemoveLanguageSkill" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-danger cancel" disabled="@(Model.LanguageSkills?.Count <= 0 ? "disabled": null)"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            <div class="@(Model.LanguageSkills.Count > 0 ? "grouping" : "")">
                @for (int i = 0; i < Model.LanguageSkills.Count; i++)
                {
                    <div class="form-row">
                        <div class="form-group col">
                            <div class="mr-3">
                                <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.LanguageSkills[i].LanguageCode"></label>
                                <select asp-for="@Model.LanguageSkills[i].LanguageCode" class="form-control selectpicker" onchange="$('#btnSelectChange').trigger('click')" asp-items="@(new SelectList(@Model.Languages.Where(l => l.LanguageCode == Model.LanguageSkills[i].LanguageCode || !Model.LanguageSkills.Select(ls => ls.LanguageCode).Contains(l.LanguageCode)), "LanguageCode", "Name"))">
                                    <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                                </select>
                                <span asp-validation-for="@Model.LanguageSkills[i].LanguageCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="control-label d-block" asp-for="@Model.LanguageSkills[i].Rate"></label>
                            <input asp-for="@Model.LanguageSkills[i].Rate" class="rating invisible" />
                            <span asp-validation-for="@Model.LanguageSkills[i].Rate" class="text-danger d-block mt-1"></span>
                            <input type="hidden" asp-for="@Model.LanguageSkills[i].Order" />
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col mt-1">
                            <div class="text-right">
                                <button asp-page-handler="UpLanguageSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-success cancel @(i > 0 ? null : "d-none")"><i class="fas fa-arrow-up"></i></button>
                                <button asp-page-handler="DownLanguageSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-danger cancel @(i == Model.LanguageSkills.Count - 1 ? "d-none": null)"><i class="fas fa-arrow-down"></i></button>
                            </div>
                        </div>
                    </div>
                    @if (i < Model.LanguageSkills.Count - 1)
                    {<hr />}
                }
            </div>
            </div>
            <div class="card-footer">
                <div class="form-row">
                    <div class="form-group col mb-0 text-right">
                        <button id="btnSelectChange" asp-page-handler="SelectChange" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                        <button type="submit" class="btn btn-success float-right">@SharedResource.Save</button>
                    </div>
                </div>
            </div>
        </div>
</div>