@page
@model Vitae.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <h4><i class="fas fa-user-circle fa-fw"></i>@SharedResource.RegisterConfirmation</h4>
                <hr />
                <div class="form-row">
                    <div class="form-group col">
                        <p>
                            @SharedResource.CheckYourEmailConfirm
                            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Confirm (Demo)</a>
                        </p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-0 text-right">
                        <a id="forgot-password" class="btn btn-outline-success" href="/">@SharedResource.Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}*@
