@model Vitae.Areas.Manage.Pages.Educations.IndexModel

<div id="panel">
    <div class="card">
        <partial name="_CardHeader" model="@(new Tuple<BasePageModel, string, string, string>(Model, "fas fa-graduation-cap", SharedResource.Educations, SharedResource.EducationsDescription))" />

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Educations"></label>
                    <div>
                        <button asp-page-handler="AddEducation" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-success cancel font-weight-bold mr-2" disabled="@(Model.Educations?.Count < Model.MaxEducations ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <div class="form-control d-sm-block d-md-inline mt-2 mr-2">
                            <div class="pretty p-switch p-slim mr-0 mr-0">
                                <input type="checkbox" name="@nameof(Model.AddToTop)" class="dirty-ignore cancel" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control d-sm-block d-md-inline mt-2">
                            <div class="pretty p-switch p-slim mr-0 mr-0">
                                <input type="checkbox" name="@nameof(Model.Collapsed)" class="dirty-ignore cancel" value="true" onclick="$('#btnCollapse').click()" checked="@(Model.Collapsed ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.Collapsed">@SharedResource.Collapse</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Educations.Count; i++)
            {
                <div class="card @(i < Model.Educations.Count - 1 ? "mb-4" : "mb-2")">
                    <div class="card-header card-header-small">
                        <div class="float-left line-height-2">
                            <a data-toggle="collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i" class="d-block text-dark mr-1">
                                @(i + 1). @SharedResource.Education
                                <input type="hidden" asp-for="@Model.Educations[i].Collapsed" />
                            </a>
                        </div>

                        <partial name="_CardButtonbar" model="new Tuple<int, int, IList<BaseVM>, string, string>(i, Model.MaxEducations, Model.Educations.Cast<BaseVM>().ToList(), SharedResource.Education, nameof(Education))" />

                    </div>
                    <div class="card-body collapse pb-0 @(Model.Educations[i].Collapsed ? null : "show")" id="collapse-@i">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.Educations[i].SchoolName"></label>
                                <input class="form-control" type="text" asp-for="@Model.Educations[i].SchoolName" />
                                <span asp-validation-for="@Model.Educations[i].SchoolName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-7">
                                <label class="control-label" asp-for="@Model.Educations[i].Link"></label>
                                <input class="form-control" type="text" asp-for="@Model.Educations[i].Link" />
                                <span asp-validation-for="@Model.Educations[i].Link" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label class="control-label" asp-for="@Model.Educations[i].CountryCode"></label>
                                <select asp-for="@Model.Educations[i].CountryCode" class="form-control selectpicker" asp-items="@(new SelectList(@Model.Countries, "CountryCode", "Name"))">
                                    <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                                </select>
                                <span asp-validation-for="@Model.Educations[i].CountryCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-7">
                                <label class="control-label" asp-for="@Model.Educations[i].City"></label>
                                <input class="form-control" type="text" asp-for="@Model.Educations[i].City" />
                                <span asp-validation-for="@Model.Educations[i].City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label class="control-label" asp-for="@Model.Educations[i].Title"></label>
                                <input class="form-control" type="text" asp-for="@Model.Educations[i].Title" />
                                <span asp-validation-for="@Model.Educations[i].Title" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="control-label" asp-for="@Model.Educations[i].Subject"></label>
                                <input class="form-control" type="text" asp-for="@Model.Educations[i].Subject" />
                                <span asp-validation-for="@Model.Educations[i].Subject" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="control-label" asp-for="@Model.Educations[i].Grade"></label>
                                <input class="form-control" type="text" asp-for="@Model.Educations[i].Grade" />
                                <span asp-validation-for="@Model.Educations[i].Grade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label" asp-for="@Model.Educations[i].Description"></label>
                                <textarea rows="2" asp-for="@Model.Educations[i].Description" class="form-control"></textarea>
                                <span asp-validation-for="@Model.Educations[i].Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Educations[i].Start_Month"></label>
                                <div class="input-group">
                                    <select asp-for="@Model.Educations[i].Start_Month" class="form-control" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                                    <div class="input-group-append">
                                        <select asp-for="@Model.Educations[i].Start_Year" class="form-control" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 6).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Educations[i].End_Month"></label>
                                <div class="input-group">
                                    @if (!@Model.Educations[i].UntilNow)
                                    {
                                        <select asp-for="@Model.Educations[i].End_Month" class="form-control" asp-items="@(new SelectList(@Model.Months, "MonthCode", "Name"))" onchange="$('#btnChangeDate').trigger('click');"></select>
                                        <div class="input-group-append">
                                            <select asp-for="@Model.Educations[i].End_Year" class="form-control" asp-items="@(new SelectList(Enumerable.Range(Globals.YEAR_START, DateTime.Now.Year - Globals.YEAR_START + 6).Reverse().Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), "Text", "Value"))"></select>
                                        </div>
                                    }
                                    else
                                    {
                                        <input asp-for="@Model.Educations[i].End_Month" type="hidden" />
                                        <input asp-for="@Model.Educations[i].End_Year" type="hidden" />
                                    }
                                <div class="@(!@Model.Educations[i].UntilNow ? "input-group-append" : "w-auto flex-fill")">
                                    <div class="form-control">
                                        <div class="pretty p-switch p-slim" onchange="$('#btnCheckUntilNow'+@i).trigger('click');">
                                            <input type="checkbox" name="@(nameof(Educations))[@i].@nameof(EducationVM.UntilNow)" value="true" checked="@(Model.Educations[i].UntilNow ? "checked" : null)" />
                                            <div class="state">
                                                <label class="d-none d-sm-block" asp-for="@Model.Educations[i].UntilNow"></label><label class="d-sm-none"></label>
                                            </div>
                                        </div>
                                        <button id="btnCheckUntilNow@(i)" asp-page-handler="ChangeUntilNow" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
                                    </div>
                                </div>

                                </div>
                                <div>
                                    <span asp-validation-for="@Model.Educations[i].End_Year" class="text-danger text-right mt-1 d-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (i < Model.Educations.Count - 1)
                {<hr />}
            }
        </div>
        <partial name="_CardFooter" model="@Model" />
    </div>
</div>