@model Vitae.Areas.Manage.Pages.Skills.IndexModel

<div id="panel">
    <div class="card">
        <partial name="_CardHeader" model="@(new Tuple<BasePageModel, string, string>(Model, "fas fa-tools", SharedResource.Skills))" />

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.Skills"></label>
                    <div>
                        <button asp-page-handler="AddSkill" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-success cancel font-weight-bold mr-2" disabled="@(Model.Skills?.Count < Model.MaxSkills ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <div class="form-control d-sm-block d-md-inline mt-2 mr-2">
                            <div class="pretty p-switch p-slim mr-0">
                                <input type="checkbox" name="@nameof(Model.AddToTop)" class="dirty-ignore cancel" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control d-sm-block d-md-inline mt-2">
                            <div class="pretty p-switch p-slim mr-0 mr-0">
                                <input type="checkbox" name="@nameof(Model.Collapsed)" class="dirty-ignore cancel" value="true" onclick="$('#btnCollapse').click()" checked="@(Model.Collapsed ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.Collapsed">@SharedResource.Collapse</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.Skills.Count; i++)
            {
                <div class="card @(i < Model.Skills.Count - 1 ? "mb-4" : "mb-2")">
                    <div class="card-header card-header-small">
                        <div class="float-left">
                            <a data-toggle="collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i" class="d-block text-dark">
                                @(i + 1). @SharedResource.Skill
                                <input type="hidden" asp-for="@Model.Skills[i].Collapsed" />
                            </a>
                        </div>
                        <div class="float-right">
                            <button asp-page-handler="UpSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel @(i > 0 ? null : "d-none")"><i class="fas fa-arrow-up"></i></button>
                            <button asp-page-handler="DownSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1 @(i == Model.Skills.Count - 1 ? "d-none" : null)"><i class="fas fa-arrow-down"></i></button>
                            <button asp-page-handler="CopySkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1" disabled="@(Model.Skills.Count < Model.MaxSkills ? null: "disabled")"><i class="fas fa-copy"></i></button>
                            <button asp-page-handler="DeleteSkill" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-danger cancel ml-1" disabled="@(Model.Skills?.Count <= 0 ? "disabled": null)"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                    <div class="card-body collapse pb-0 @(Model.Skills[i].Collapsed ? null : "show")" id="collapse-@i">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label mr-1">@(i + 1).</label><label class="control-label" asp-for="@Model.Skills[i].Category"></label>
                                <input class="form-control" type="text" asp-for="@Model.Skills[i].Category" />
                                <span asp-validation-for="@Model.Skills[i].Category" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.Skills[i].Order" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.Skills[i].Skillset"></label>
                                <input class="form-control tagsinput" data-role="tagsinput" type="text" asp-for="@Model.Skills[i].Skillset" />
                                <span asp-validation-for="@Model.Skills[i].Skillset" class="text-danger"></span>
                                <small class="d-block">@SharedResource.EnterSkill</small>
                            </div>
                        </div>
                    </div>
                </div>
                @if (i < Model.Skills.Count - 1)
                {<hr />}
            }
        </div>

        <partial name="_CardFooter" model="@Model" />
    </div>
</div>