@model Vitae.Areas.Manage.Pages.References.IndexModel

<div id="panel">
    <div class="card">
        <partial name="_CardHeader" model="@(new Tuple<BasePageModel, string, string>(Model, "fas fa-user-tie", SharedResource.References))" />

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col">
                    <label class="control-label" asp-for="@Model.References"></label>
                    <div>
                        <button asp-page-handler="AddReference" style="margin-bottom: 5px" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-success cancel font-weight-bold mr-2" disabled="@(Model.References?.Count < Model.MaxReferences ? null : "disabled")"><i class="fas fa-plus mr-2"></i>@SharedResource.Add</button>
                        <div class="form-control d-sm-block d-md-inline mt-2 mr-2">
                            <div class="pretty p-switch p-slim mr-0">
                                <input type="checkbox" name="@nameof(Model.AddToTop)" class="dirty-ignore cancel" value="true" checked="@(Model.AddToTop ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.AddToTop">@SharedResource.AddToTop</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control d-sm-block d-md-inline mt-2">
                            <div class="pretty p-switch p-slim mr-0 mr-0">
                                <input type="checkbox" name="@nameof(Model.Collapsed)" class="dirty-ignore cancel" value="true" onclick="$('#btnCollapse').click()" checked="@(Model.Collapsed ? "checked" : null)" />
                                <div class="state">
                                    <label asp-for="@Model.Collapsed">@SharedResource.Collapse</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < Model.References.Count; i++)
            {
                <div class="card @(i < Model.References.Count - 1 ? "mb-4" : "mb-2")">
                    <div class="card-header card-header-small">
                        <div class="float-left">
                            <a data-toggle="collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i" class="d-block text-dark">
                                @(i + 1). @SharedResource.Reference
                                <input type="hidden" asp-for="@Model.References[i].Collapsed" />
                            </a>
                        </div>
                        <div class="float-right">
                            <button asp-page-handler="UpReference" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel @(i > 0 ? null : "d-none")"><i class="fas fa-arrow-up"></i></button>
                            <button asp-page-handler="DownReference" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1 @(i == Model.References.Count - 1 ? "d-none" : null)"><i class="fas fa-arrow-down"></i></button>
                            <button asp-page-handler="CopyReference" asp-route-order="@i" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-outline-dark cancel ml-1" disabled="@(Model.References.Count < Model.MaxReferences ? null: "disabled")"><i class="fas fa-copy"></i></button>
                            <button asp-page-handler="DeleteReference" asp-route-order="@i" data-confirm-text="@string.Format(SharedResource.ConfirmDelete, $"\"{SharedResource.Reference} {(i+1)}\"")" data-ajax="true" data-ajax-update="#panel" class="btn btn-sm btn-danger cancel dirty-ignore confirmation ml-1" disabled="@(Model.References?.Count <= 0 ? "disabled": null)"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>
                    <div class="card-body collapse pb-0 @(Model.References[i].Collapsed ? null : "show")" id="collapse-@i">
                        <div class="form-row">
                            <div class="col">
                                <label class="control-label" asp-for="@Model.References[i].Gender"></label>
                                <div class="form-group">

                                    <div class="pretty p-default p-round p-thick">
                                        <input type="radio" asp-for="@Model.References[i].Gender" value="true" checked="@(Model.References[i]?.Gender ?? false ? "checked" : null)" />
                                        <div class="state p-primary-o">
                                            <label>@SharedResource.Mr</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default p-round p-thick">
                                        <input type="radio" id="gender2" asp-for="@Model.References[i].Gender" value="false" checked="@(Model.References[i]?.Gender ?? true ? null : "checked")" />
                                        <div class="state p-primary-o">
                                            <label>@SharedResource.Ms</label>
                                        </div>
                                    </div>
                                    <span asp-validation-for="@Model.References[i].Gender" class="text-danger d-block"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].Firstname"></label>
                                <input class="form-control" type="text" asp-for="@Model.References[i].Firstname" />
                                <span asp-validation-for="@Model.References[i].Firstname" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].Lastname"></label>
                                <input class="form-control" type="text" asp-for="@Model.References[i].Lastname" />
                                <span asp-validation-for="@Model.References[i].Lastname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].CompanyName"></label>
                                <input class="form-control" type="text" asp-for="@Model.References[i].CompanyName" />
                                <span asp-validation-for="@Model.References[i].CompanyName" class="text-danger"></span>
                                <input type="hidden" asp-for="@Model.References[i].Order" />
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].Link"></label>
                                <input class="form-control" type="text" asp-for="@Model.References[i].Link" />
                                <span asp-validation-for="@Model.References[i].Link" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="control-label" asp-for="@Model.References[i].Description"></label>
                                <textarea rows="2" asp-for="@Model.References[i].Description" class="form-control"></textarea>
                                <span asp-validation-for="@Model.References[i].Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].CountryCode"></label>
                                <select asp-for="@Model.References[i].CountryCode" class="form-control selectpicker" onchange="$('#btnSelectChange').trigger('click')" asp-items="@(new SelectList(@Model.Countries, "CountryCode", "Name"))">
                                    <option value="" selected="selected" disabled="disabled">-- @SharedResource.Select --</option>
                                </select>
                                <span asp-validation-for="@Model.References[i].CountryCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].Email"></label>
                                <input class="form-control" type="text" asp-for="@Model.References[i].Email" />
                                <span asp-validation-for="@Model.References[i].Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].PhoneNumber"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@Model.References[i].PhonePrefix</span>
                                    </div>
                                    <input class="form-control" type="text" asp-for="@Model.References[i].PhoneNumber" />
                                </div>
                                <span asp-validation-for="@Model.References[i].PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label" asp-for="@Model.References[i].Hide"></label>
                                <div class="input-group">
                                    <div class="form-control d-sm-block d-md-inline">
                                        <div class="pretty p-switch p-slim mr-0">
                                            <input type="checkbox" name="@(nameof(References))[@i].@nameof(ReferenceVM.Hide)" value="true" checked="@(Model.References[i].Hide ? "checked" : null)" />
                                            <div class="state">
                                                <label asp-for="@Model.References[i].Hide"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (i < Model.References.Count - 1)
                {<hr />}
            }
        </div>
        <partial name="_CardFooter" model="@Model" />

        <button id="btnSelectChange" asp-page-handler="SelectChange" data-ajax="true" data-ajax-update="#panel" class="btn btn-secondary cancel d-none"></button>
    </div>
</div>