@page
@model Vitae.Areas.Manage.Pages.IndexModel
@{
    ViewData["Title"] = SharedResource.Homepage;
}
@{
    var xLabelsHits = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.LastHits.Select(x => x.LogDate.ToString("dd.MM")).ToList());
    var yValuesHits = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.LastHits.Select(y => y.Hits).ToList());

    var xLabelsLogins = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.Logins.Select(x => x.LogDate.ToString("dd.MM")).ToList());
    var yValuesLogins = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.Logins.Select(y => y.Hits).ToList());

    var xLabelsSumHits = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.SumHits.Select(x => x.LogDate.ToString("dd.MM")).ToList());
    var yValuesSumHits = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Report.SumHits.Select(y => y.Hits).ToList());
}
    <div class="card p-4">
        <div class="row">
            <div class="col-md-6 mb-4 pr-2-5">
                <div class="grouping mb-0">
                    <div class="box-body">
                        <div class="chart-container">
                            <canvas id="chartHits" class="w-100 chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 pl-2-5">
                <div class="grouping mb-0">
                    <div class="box-body">
                        <div class="chart-container">
                            <canvas id="chartLogins" class="w-100 chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="grouping mb-0">
                    <canvas id="chartMaxHits" class="w-100 chart"></canvas>
                </div>
            </div>
        </div>
    </div>

        @section Scripts {

            <script type="text/javascript">
        $(function () {
            drawChart('chartHits', Resources.SharedResource.NrOfCVHits, @Html.Raw(xLabelsHits), @Html.Raw(yValuesHits), 'gold');
            drawChart('chartLogins', Resources.SharedResource.NrOfLogins, @Html.Raw(xLabelsLogins), @Html.Raw(yValuesLogins), 'gold');
            drawChart('chartMaxHits', Resources.SharedResource.SumOfCVHits, @Html.Raw(xLabelsSumHits), @Html.Raw(yValuesSumHits), 'blue');
        });
            </script>
        }